
body.blue { background: #efeff4; }
section { display: block; }
dl,
dt,
dd,
ul,
ol,
li,
em,
i,
p {
  margin:0;
  padding:0;
  list-style: none;
  font-style: normal;
}
li {
  font-size: 14px;
  font-size: 1.4rem;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}
:focus { outline: 0; }
a {
  color: #333;
  tap-highlight-color: rgba(0,0,0,0);  
  focus-ring-color: rgba(0, 0, 0, 0);  
  -webkit-tap-highlight-color: rgba(0,0,0,0);  
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);  
  -moz-tap-highlight-color: rgba(0,0,0,0);  
  -moz-focus-ring-color: rgba(0, 0, 0, 0); 
}
a:hover { color: #000; }
a:focus { outline: none; }
a,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}


/* ===== retrie分类下来 ===== */
.retrie {
  position: relative;
  z-index: 400;
  height: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}
.retrie dt { overflow: hidden }
.retrie dt a {
  position: relative;
  float: left;
  height: 100%;
  line-height: 1.066666rem;
  color: #333;
  font-size: 0.346666rem;
  text-align: center;
}
.retrie dt a:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: 1.066666rem;
  width: 0.133333rem;
  height: 0.133333rem;
  border: #666 solid;
  border-width: 1px 1px 0 0;
  content: ' ';
  -webkit-transform: rotate(135deg);
}
.retrie dt .up {
  color: #49D0C5;
  border-bottom: 2px solid #49D0C5;
}
.retrie dt .up:after {
  margin-top: 0;
  border: #49D0C5 solid;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(-45deg);
}
.retrie dt a:last-child:before {
  position: absolute;
  top: 0.133333rem;
  left: 0;
  display: block;
  height: 30px;
  background-color: #ebebeb;
  content: ' ';
}
.retrie dd { position: relative; }
/* ===== slide-area ===== */
.slide {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 400;
  display: none; 
  width: 100%;
  background-color: #fff;
}
.slide li {
	width: 2.133333rem;
	height: 0.8rem;
  display: block;
  float: left;
  border-radius: 0.4rem;
  color: #A0A7B6;
  border: 1px solid #A0A7B6;
  font-size: 0.373333rem;
  text-align: center;
  line-height: 0.8rem;
}
.ll{
	margin-right: 0.2rem;
}
.mt_01{
	margin-top: 1.28rem;
}
.mt_02{
	margin-top:0.64rem
}
.mb{
	margin-bottom: 1.28rem;
}
.slide li a:hover,
.slide li a.selected { background-color: #f6f6f6; }

.slide li a.select { background-color: #fff; }
.reset{
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	font-size: 0.373333rem;
	background:rgba(247,248,252,1);
	color: #5C6681;
}
.confirm{
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	font-size: 0.373333rem;
	background:rgba(73,208,197,0.9);
	color: #FFFFFF;
}
.screen{
	width: 100%;
	position: absolute;
	bottom: 0;
	top: 4.8rem;
}
.screen01{
	width: 100%;
	position: absolute;
	bottom: 0;
	top: 3.3rem;
}
.navtitle{
	text-align: center;
	color: #5C6681;
	padding-left: 0.48rem;
}
