<!DOCTYPE html>
<html  ng-app="angularjsApp" ng-controller="angularjsCtrl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>慈善一日捐</title>
		<link rel="stylesheet" type="text/css" href="../js/layer.mobile-v2.0/layer_mobile/need/layer.css"/>
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<script type="text/javascript" src="../js/angular/angular.min.js"></script>
		<script type="text/javascript" src="../js/layer.mobile-v2.0/layer_mobile/layer.js"></script>
		<link rel="stylesheet" type="text/css" href="css/daydonation.css" />
		<script type="text/javascript" src="js/daydonation.js"></script>
	</head>

	<body>
		<div class="dua_box">
			<div class="dua_banner">
				<!--<img src="img/banner.png" />-->
				<div style="width: 100%;height: 100%;" id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner">
						<div class="item active">
							<img class="slideImg" src="img/banner.png" alt="First slide">
						</div>
						<div class="item">
							<img class="slideImg" src="img/banner1.png" alt="Second slide">
						</div>
						<div class="item">
							<img class="slideImg" src="img/banner2.png" alt="Third slide">
						</div>
					</div>
				</div>
			</div>
			<div class="banner_words">
				<div class="words">
					<p class="title_01">慈善一日捐</p>
					<!--<p class="title_small">已累计筹款 <span class="title_01" ng-bind="projectInfo.collectAmount"></span>元</p>-->
				</div>
			</div>
			<div class="content_01">
				<div class="statistics">
					<div class="statistics_left">
						<div style="width: 100%;height: 1rem;margin: 0 auto;">
							<div class="statics01">
								<span><img src="img/statics02.png" style="width: 0.5rem;height: 0.4rem;margin-bottom: 0.15rem;"/></span>
								<span class="money_larger" ng-bind="projectInfo.todayDonateAmount"></span>
								<div style="clear: both;"></div>
							</div>
						</div>
						<div class="statics02">今日捐款数(元)</div>
					</div>
					<div class="statistics_right">
						<div  style="width: 100%;height: 1rem;margin: 0 auto;">
							<div class="statics01">
								<span><img src="img/statics01.png" style="width: 0.5rem;height: 0.5rem;margin-bottom: 0.15rem;"/></span>
								<span class="times_larger" ng-if="projectInfo.todayDonateCount!=undefined && projectInfo.todayDonateCount!=null" ng-bind="projectInfo.todayDonateCount" ng-cloak></span>
								<span class="times_larger" ng-if="projectInfo.todayDonateCount==undefined || projectInfo.todayDonateCount==null">0</span>
								<div style="clear: both;"></div>
							</div>
						</div>
						<div class="statics02">本期累计捐款数(元)</div>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div class="donate_list marquee">
					<ul style="height: 1.2rem;">
						<marquee scrollamount="2" direction="up" behaviour="scroll" style="height: 1.2rem;">
						<li ng-repeat="dua in donationList">
							<span class="list_left" ng-cloak>{{dua.nickname}}&nbsp;捐赠<span class="money_default" ng-bind="dua.donateAmount"></span>元</span>
							<span class="list_right" ng-bind="dua.donateDate | formatDate"></span>
						</li>
						</marquee>
					</ul>
				</div>
			</div>
			<div class="content_02">
				<div class="content_title" ng-cloak>
					{{totalAmount}}人参与一日捐
				</div>
				<div class="donate_rank">
					<div class="donate_rank_title">
						<span>
							<img src="img/rank.png" style="width: 0.3rem;height: 0.4rem;"/>
							<span>爱心贡献榜</span>
						</span>
					</div>
					<div class="donate_rank_list">
						<ul style="width: 5.2rem;">
							<li class="topone" ng-if="rankList[0]!=undefined &&rankList[0]!=null">
								<img ng-src="{{rankList[0].headimgurl}}"/>
							</li>
							<li class="toptwo" ng-if="rankList[1]!=undefined &&rankList[1]!=null">
								<img ng-src="{{rankList[1].headimgurl}}" />
							</li>
							<li class="topthree" ng-if="rankList[2]!=undefined &&rankList[2]!=null">
								<img ng-src="{{rankList[2].headimgurl}}" />
							</li>
							<li class="topfour" ng-if="rankList[3]!=undefined &&rankList[3]!=null">
								<img ng-src="{{rankList[3].headimgurl}}" />
							</li>
							<li>
								<a href="#" ng-click="donateRank();" style="color: #E2E2E2;">...</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content_03">
				<div class="project_title">项目详情</div>
				<div class="project_content troggle"  ng-bind-html="projectInfo.description | to_trusted">
				</div>
				<div class="upordown"><p name="down" onclick="troggle(this, '.project_content');"><span class="opt">展开</span><img src="img/down.png" style="width: 0.3rem;height: 0.2rem;"></p></div>
			</div>
			
			<!--<div class="content_03">
				<div class="project_title">财务收支</div>
				<div class="project_content">
					<div class="raise_01">
						<p class="raise_price">总募集(元)</p>
						<p class="raise_money" ng-bind="projectInfo.collectAmount"></p>
					</div>
					<div class="raise_01">
						<p class="raise_price">已支出(元)</p>
						<p class="raise_money" ng-bind="projectInfo.payoutAmount"></p>
						
					</div>
					<div class="raise_01">
						<p class="raise_price">结余(元)</p>
						<p class="raise_money" ng-bind="projectInfo.balanceAmount"></p>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>-->
			
			<div class="content_03">
				<div class="project_title">
					<span class="project_title_left">使用记录</span>
					<span class="project_title_right"><a href="#" ng-click="showMore();">查看全部</a></span>
				</div>
				<div class="project_content">
					<ul class="layui-timeline">
						<li class="layui-timeline-item"  style="padding-bottom: 0.5rem !important;">
							<i class="layui-icon layui-timeline-axis"><img src="img/love_icon.png" style="width:20px; height: 15px;"/></i>
							<div class="layui-timeline-content layui-text">
								<div class="layui-timeline-title">
									<div class="love_title">
										<div class="love_cmt_01" ng-cloak>善款已用于{{useTotal}}个项目</div>
									</div>
								</div>
							</div>
						</li>
						<li class="layui-timeline-item" ng-repeat="record in useRecords">
							<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
							<div class="layui-timeline-content layui-text">
								<div class="layui-timeline-title">
									<div class="project_record_title">
										<div class="project_record_title01" ng-bind="record.useToProjectName"></div>
										<div class="project_record_title02">使用资金：<span class="money_default" ng-bind="record.useAmount"></span></div>
									</div>
									<div class="project_record_info troggle" ng-bind-html="record.useToProjectDesc | to_trusted">
									</div>
									<div class="upordown"><p name="down" onclick="troggle(this,'.project_record_info');"><span class="opt">展开</span><img src="img/down.png" style="width: 0.3rem;height: 0.2rem;"></p></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer_content">
				<div class="footer_left">
					<p style="padding-top: 0.3rem;">
						<img src="img/share.png" style="width: 0.8rem;height: 0.6rem;" ng-click="transmit();"/>
					</p>
					<p>传递爱心</p>
				</div>
				<div class="footer_right">
					<img src="img/donate.png" ng-click="donate();"/>
				</div>
			</div>
		</div>
	</body>

<!--分享页面-->
	<div id="share_box" style="display: none;">
	<div  class="share_box">
		<div class="head_img_box">
			<img ng-src="{{own.headimgurl}}" />
		</div>
		<div class="dua_user_info">
			<p ng-bind="own.nickname"></p>
			<p ng-cloak>感谢你的第{{own.donateCount}}次捐赠，你已经</p>
		</div>
		<div class="dua_statics">
				<span class="dua_statics01">
					<p>捐赠天数</p>
					<p><span class="dua_number" ng-bind="own.donateDays"></span>天</p>
				</span>
			<span class="dua_statics01">
					<p>捐赠金额</p>
					<p><span class="dua_number" ng-bind="own.totalDonateAmount"></span>元</p>
				</span>
			<span style="clear: both;"></span>
		</div>
		<div class="dua_footer">
			<div class="dua_left">
				<img src="img/weixin.png" />
			</div>
			<div class="dua_right">
				<p>长按识别二维码</p>
				<p>关注常德慈善</p>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
	</div>
</html>