*{
	padding: 0;
	margin: 0;
}
.progress_box{
	width:100%;
}
.progress_content{
	width: 90%;
	margin:5% auto;
}
.project_record_title01{
	font-size: 0.4rem;
	color: #333333;
}
.project_record_title02{
	font-size: 0.35rem;
	color: #999999;
}
