<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                            http://www.springframework.org/schema/task
                            http://www.springframework.org/schema/task/spring-task-3.0.xsd"
	   default-autowire="byName">
	<bean id="propertyConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
				<value>classpath:special.properties</value>
				<value>classpath:dubbo.properties</value>
			</list>
		</property>
	</bean>
	<bean id="config"
		  class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="UTF-8"></property>
	</bean>

	<import resource="classpath:spring/spring-ace-common-fastdfs.xml" />
	<import resource="classpath:spring/spring-ace-common-monitor.xml" />
	<import resource="classpath:spring/spring-ace-common-kafka.xml" />
	<import resource="classpath:spring/spring-ace-common-redis.xml" />
	<import resource="classpath:spring/spring-ace-common-session.xml" />
	<!--
	<import resource="classpath:dubbo/dubbo-ace-live-consumer.xml" />
	-->
	<import resource="classpath:spring/spring-ace-common-dao.xml"/>
	<import resource="classpath:spring/spring-ace-live-service.xml"/>
	<import resource="classpath:dubbo/dubbo-ace-portal-consumer.xml" />
    <import resource="classpath:spring/spring-ace-live-backend.xml"/>
	<import resource="classpath:spring/spring-ace-live-backend-client.xml"/>
</beans>