body {
	font-family: "Microsoft YaHei",NSimSun,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #666;
	//overflow-y: hidden;
}
/*超出省略*/
.omission{
	word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

img{
	width: 100%;
}

#htmlLoad{
	z-index: 100;
}

.html-margin{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 60px;
}

.html-padding{
	background-color: white;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 50px 30px;
}

.html-blackCancel{
	position: absolute;
	top:65px;
	right:70px;
}

.html-blackCancel .iconfont{
	font-size: 30px;
	cursor: pointer;
}

.html-blackCancel .iconfont:hover{
	color: #1a9fff;
}