.cooperate{
	width: 100%;
	margin-top: 30px;
}
.cooperate ul,.cooperate li{
	list-style: none;
}
.cooperate li{
	display: inline-block;
	width: 30%;
	height: 200px;
	border: 1px solid #E1E5ED;
	margin-left: 2%;
	margin-bottom: 30px;
	position: relative;
}
.coimg{
	display: block;
	width: 100%;
	height: 100%;
}
.coinfo{
	width: 100%;
	height: 35px;
	position: absolute;
	text-align: center;
	bottom: 5px;
}
.banner_style{
	width: 100%;
	height: 200px;
}
.banner_style img{
	width: 100%;
	height: 100%;
}
