* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	/*去除系统默认appearance的样式,常用于IOS下移除原生样式*/
	-webkit-appearance: none;
	/*当用户轻按一个链接或者JavaScript可点击元素时给元素覆盖一个高亮色
如果想取消这个高亮，将值设置为全透明即可，比如transparent*/
	-webkit-tap-highlight-color: transparent
}

body,
html {
	height: 100%
}

body {
	/*width: 16rem!important;*/
	margin: 0 auto!important;
	/*文本大小不会根据设备尺寸进行调整。*/
	-webkit-text-size-adjust: none;
	/*抗锯齿*/
	-webkit-font-smoothing: antialiased;
	/*字体*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

a {
	/*文字线。下划线*/
	text-decoration: none
}

li,
ul {
	/*样式*/
	list-style: none
}

input {
	border: 0
}
button{
	border: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #ccc
}

::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 0px;
	/*高宽分别对应横竖滚动条的尺寸*/
	background: transparent;
	-webkit-box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 0px;
	background: transparent;
	height: 120px;
}

::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 0px;
	/*高宽分别对应横竖滚动条的尺寸*/
	background: transparent;
	-webkit-box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 3px;
	background: transparent;
	height: 120px;
}

::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.1);
}