body {
	overflow: auto;
	background: #192631;
}

.head {
	width: 100%;
	height: 0.4375rem;
	background: url(../img/headBg.png) no-repeat;
	background-size: 100% 100%;
	display: flex;
	position: absolute;
	top: 0;
}

.head .logo {
	font-size: 0.166666rem;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(0, 214, 217, 1);
	display: flex;
	align-items: center;
	margin: 0 1rem 0 0.145833rem;
}

.head .logo img {
	width: 1rem;
	height: 0.208333rem;
	object-fit: cover;
	margin-right: 0.145833rem;
}

.head .btns {
	width: 3.5rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head .btns .btn {
	width: 0.958333rem;
	height: 0.354166rem;
	background: url(../img/btnBg.png) no-repeat;
	background-size: 100% 100%;
	padding: 0.09rem 0 0.09rem 0.35rem;
}

.head .btns .btn .cn {
	font-size: 0.09375rem;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(0, 243, 246, 1);
	line-height: 0.09375rem;
}

.head .btns .btn .en {
	font-size: 0.0625rem;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(0, 243, 246, 1);
	line-height: 0.0625rem;
}

.content {
	width: 100%;
	height: 5.625rem;
	padding-top: 0.583333rem;
	display: flex;
	justify-content: space-between;
	background: url(../img/BG.png) no-repeat;
	background-size: 100% 100%;
}

.content .left {
	width: 0.833333rem;
	height: 100%;
	padding-top: 0.8rem;
}

.content .left .control {
	width: 0.791666rem;
	height: 3.125rem;
	background: url(../img/controlBg.png);
	background-size: 100% 100%;
	margin-left: 0.07rem;
	padding: 0.13rem;
	font-size: 0.104166rem;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(0, 243, 246, 1);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.left .control .title {}

.left .control .btns {
	height: 1.666666rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.left .control .btns img {
	width: 0.302083rem;
	height: 0.302083rem;
	object-fit: cover;
}

.content .center {
	width: 6.729166rem;
	height: 100%;
}

.content .center .checkList {
	width: 6.729166rem;
	height: 1.40625rem;
	background: url(../img/checkList.png) no-repeat;
	background-size: 100% 100%;
	padding: 0.260416rem 0.145833rem 0.145833rem;
}

.checkList ul,
.sList ul {
	width: 100%;
	display: flex;
	max-height: 100%;
	overflow: auto;
	flex-wrap: wrap;
}

.checkList li,
.sList li {
	display: inline-block;
	width: auto;
	height: 0.260416rem;
	background: rgba(0, 214, 217, 0.42);
	padding: 0 0.1rem;
	border-radius: 0.020833rem;
	font-size: 0.083333rem;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(148, 238, 239, 1);
	line-height: 0.260416rem;
	margin: 0 0.104166rem 0.177083rem 0;
}

.content .center .videoList {
	width: 6.729166rem;
	height: 2.916666rem;
	background: url(../img/videoList.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 0.125rem;
	padding: 0.260416rem 0.145833rem 0.145833rem;
}

.content .right {
	width: 2.291666rem;
	height: 100%;
}

.content .right .stations {
	width: 100%;
	height: 4.427083rem;
	background: url(../img/stationsBg.png);
	background-size: 100% 100%;
	padding: 0.1rem 0rem 0.05rem 0.1rem;
}

.slider-v3 {
	position: relative;
	display: block;
	width: 0.458333rem;
	height: 0.197916rem;
	cursor: pointer;
	border-radius: 0.098958rem;
	transition: 350ms;
	background: transparent;
	border: 1px solid;
	box-shadow: 0 0 6px 0 #00F3F7;
}

.slider-v3::after {
	position: absolute;
	content: '';
	width: 0.197916rem;
	height: 0.197916rem;
	top: -0.010416rem;
	left: 0rem;
	border-radius: 50%;
	transition: top 300ms 50ms ease-in, left 250ms 50ms ease-in, background 300ms ease-in, box-shadow 300ms ease-in;
	background: #00F3F7;
	box-shadow: 0 0 0 1.5em #00F3F7 inset;
}

input:checked+.slider-v3::after {
	width: 0.197916rem;
	height: 0.197916rem;
	top: -0.010416rem;
	left: 0.26rem;
	background: #00F3F7;
	opacity: 0.5;
	box-shadow: 0 0 0 1.5em #00F3F7 inset;
}

.stations .title {
	height: 0.239583rem;
	font-size: 0.114583rem;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(0, 214, 217, 1);
	line-height: 0.239583rem;
	border-bottom: 1px rgba(167, 250, 251, 0.37) solid;
}

 .inputGroup {
	width: 1.958333rem;
	height: 0.21875rem;
	border-radius: 2px;
	overflow: hidden;
	margin: 0.104166rem auto 0;
}

 .inputGroup input {
	width: 1.65625rem;
	height: 100%;
	float: left;
	background: rgba(14, 161, 167, 1);
	padding: 0 0.104166rem;
	color: #eee;
}

 .inputGroup input::placeholder {
	color: #10E9EC;
}

 .inputGroup button {
	width: 0.302083rem;
	height: 100%;
	float: left;
	border: 0px;
	background: rgba(0, 214, 217, 1) url(../img/seach.png) no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
}

.stations .sList li {
	margin-bottom: 0.104166rem;
}

.stations .sList {
	height: 3.7rem;
	width: 100%;
	padding: 0.1rem 0.06rem 0 0.1rem;
}

.videoList .videoGroup {
	display: block;
	width: 1.520833rem;
	height: auto;
	margin: 0 0.104166rem 0.0625rem 0;
}

.videoList .videoGroup:nth-child(4n+4) {
	margin-right: 0;
}

.videoList>ul {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	height: 100%;
	position: relative;
}

.videoList .videoGroup .info {
	width: 100%;
	height: 0.197916rem;
	line-height: 0.197916rem;
	font-size: 0.0625rem;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	background: rgba(162, 250, 253, 0.6);
}

.videoList .videoGroup .info .label {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.videoList .videoGroup .info input {
	appearance: checkbox;
	-webkit-appearance: checkbox;
}

.videoList .videoGroup .video {
	width: 100%;
	height: 0.854166rem;
	display: flex;
}

.videoList .videoGroup .video video {
	width: 100%;
	height: 100%;
	object-fit: fill;
}