* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.col-xs-6, .col-sm-6 {
    padding: 0;
}

.row {
    margin: 0;
}

.banner {
    width: 100%;
    height: 2.666666rem;
    background: rgba(73, 208, 197, 1);
    z-index: 400;
}

.navbox {
    width: 100%;
    height: 1.066666rem;
    z-index: 400;
}

.imgbox {
    text-align: center;
}

.imgbox img {
    width: 1.613333rem;
    height: 1.613333rem;
}

.consulelist {
    padding-top: 0.266666rem;
    padding-bottom: 0.266666rem;
    border-bottom: 1px solid #F7F8FC;
}

.content_01 {
    height: 1rem;
    line-height: 1rem;
}

.content_01 img {
    width: 0.4rem;
    height: 0.346666rem;
    margin-right: 0.133333rem;
}

.left {
    font-size: 0.426666rem;
    color: #1C2843;
    font-weight: bold;
}

.right {
    text-align: right;
    color: #49D0C5;
    padding-right: 0.4rem;
}

.content_02 {
    width: 100%;
    height: 0.813333rem;
    line-height: 0.48rem;
    color: #A0A7B6;
    padding-right: 0.4rem;
    overflow: hidden; /*溢出隐藏*/
}

.content_03 {
    height: 1rem;
    line-height: 1rem;
}

.money {
    color: #FF7C12;
    font-size: 0.373333rem;
    font-weight: bold;
}

.help_times {
    color: #C4C8D6;
    font-size: 0.32rem;
}

.clabel {
    width: 22%;
    height: 0.586666rem;
    line-height: 0.586666rem;
    display: block;
    float: left;
    border-radius: 0.28rem;
    color: #A0A7B6;
    margin-right: 3%;
    border: 1px solid #A0A7B6;
    background: rgba(160, 167, 182, 0.1);
    font-size: 0.32rem;
    text-align: center;
}
