*{
	padding: 0;
	margin: 0;
}
body{
	background: #F8FFFF;
}
ul,li{
	list-style: none;
}
.main_box{
	margin-bottom: 1.8rem;
}
.container{
	width: 100%;
	height: 2.36rem;
	padding: 0;
	position: ;
}
.row{
	margin: 0;
}
.cbanner{
	width: 100%;
	height: 100%;
}
.content{
	width: 90%;
	margin-left: 5%;
	border-radius: 0.533333rem;
	background: #FFFFFF;
	position: absolute;
	top: 2rem;
	z-index: 100;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	margin-bottom: 1.8rem;
}
.chead{
	width: 100%;
	height: 1.88rem;
	margin: auto;
	position: absolute;
	top: 1.293333rem;
	text-align: center;
	z-index:200;
}
.chead img{
	width: 1.88rem;
	height: 100%;
	border-radius: 50%;
	z-index: 200;
}
.data{
	width: 100%;
	text-align: center;
	height: 1.5rem;
	margin-top: 0.3rem;
}
.data_01{
	color: #1C2843;
	font-size: 0.4rem;
	font-weight: bold;
}
.data_02{
	color: #5C6681;
	font-size: 0.32rem;
}
.statics{
	text-align: center;
}
.case_num{
	color: #F57E16;
	font-size: 0.64rem;
	
}
.case_title{
	color: #5C6681;
	font-size: 0.32rem;
}
.course_num{
	color: #FFCB2B;
	font-size: 0.64rem;
}
.course_title{
	color: #5C6681;
	font-size: 0.32rem;
}
.score_num{
	color: #BCDD46;
	font-size: 0.64rem;
}
.score_title{
	color: #5C6681;
	font-size: 0.32rem;
}
.sec_title{
	color: #1C2843;
	font-size: 0.4rem;
	font-weight: bold;
	padding-left: 0.8rem;
}
.unit{
	color: #C4C8D6;
	font-size: 0.32rem;
}
.detail{
	color: #5C6681;
	font-size:0.32rem;
	padding-left: 0.8rem;
}
.tagboard{
	width: auto;
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}
.tagboard li{
	width: auto;
	height: 0.64rem;
	line-height: 0.64rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	text-align: center;
	display: block;
	float: left;
	margin-right: 0.266666rem;
	border: 1px solid #48DACE;
	color: #48DACE;
	border-radius: 0.32rem;
	margin-bottom: 0.24rem;
}
.warn{
	width: 5.16rem;
	height: 0.64rem;
	line-height: 0.64rem;
	text-align: center;
	color: #C4C8D6;
	background: #F2F5F9;
	display: block;
	border-radius: 0.32rem;
	margin-left: 0.8rem;
}
.ensure{
	width: auto;
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}
.ensure_img{
	width: 0.346666rem;
	height: 0.333333rem;
}
.footer{
	width: 100%;
	height: 1.2rem;
	position: fixed;
	bottom: 0;
	z-index: 400;
	background: #FFFFFF;
}
.appointment{
	width: 90%;
	height: 1rem;
	color: #FFFFFF;
	background-color: #49D0C5;
	border-radius: 0.6rem;
	border: none;
	outline: none;
	margin: 0.1rem auto;
}
.chat_icon{
	height: 1.2rem;
	line-height: 1.2rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}
.chat_icon img{
	width: 0.533333rem;
	height: 0.533333rem;
}

