* {
	padding: 0;
	margin: 0;
}
body{
	background-color: #F7F9FC;
}
.container {
	width: 100%;
	padding: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0.266666rem;
	padding-bottom: 0.4rem;
	background-color: #FFFFFF;
}
.row{
	margin: 0;
}

.content_01{
	/*height: 2rem;*/
	padding-top: 0.5rem;
}

.row_01{
	height: 2rem;
	padding-top: 0.19333rem;
}
.head_img{
	width: 1.613333rem;
	height: 1.613333rem;
}
.consotor{
	height: 0.8rem;
}
.level{
	width: 0.32rem;
	height: 0.306666rem;
	margin-bottom: 0.1rem;
}
.col-xs-6 .col-xs-6{
	padding: 0;
}
.consotor_01{
	height: 100%;
	line-height: 0.8rem;
	color: #1C2843;
	font-size: 0.426666rem;
	font-weight: bold;
}
.consotor_02{
	height: 100%;
	line-height: 0.8rem;
	color: #49D0C5;
	font-size: 0.373333rem;
}
.introduce{
	height: 0.8rem;
	line-height: 0.8rem;
	color: #5C6681;
	font-size: 0.32rem;
}
.chat{
	width: 1.68rem;
	height: 0.72rem;
	display: block;
	border-radius: 0.36rem;
	color: #49D0C5;
	border: 1px solid #49D0C5;
	margin-top: 0.45rem;
	background:rgba(73,208,197,0.1);
	outline: none;
}
.method_01{
	line-height: 1rem;
	font-size: 0.48rem;
	color: #1C2843;
	font-weight: bold;
	padding-left: 0.4rem;
}
.method_02{
	line-height: 1rem;
	font-size: 0.32rem;
	color: #A0A7B6;
	padding-left: 0.4rem;
}

.active{
	width: 100%;
	height: 1.866666rem;
	display: block;
	border-radius: 0.133333rem;
	background-color: #49D0C5;
	color: #FFFFFF;
	text-align: center;
	padding-top: 0.2rem;
}
.unactive{
	width: 100%;
	height: 1.866666rem;
	display: block;
	border-radius: 0.133333rem;
	background-color: #F7F9FC;
	color: #5C6681;
	text-align: center;
	padding-top: 0.2rem;
}
.money{
	font-size: 0.64rem;
}
.unactive .money{
	color: #FF7C12;
}
.words_01{
	font-size: 0.32rem;
}
.words_02{
	font-size: 0.32rem;
}
.unactive .words_01{
	color: #C4C8D6;
}
.unactive .words_02{
	color: #5C6681;
}

.reduce{
	width: 0.64rem;
	height: 0.64rem;
	display: block;
	float: left;
}
.num{
	width: 1.28rem;
	height: 0.64rem;
	line-height: 0.64rem;
	display: block;
	float: left;
	color: #5C6681;
	text-align: center;
	font-size: 0.56rem;
}
.add{
	width: 0.64rem;
	height: 0.64rem;
	display: block;
	float: left;
}
.reduce img{
	width: 100%;
	height: 100%;
}
.add img{
	width: 100%;
	height: 100%;
}
.form{
	height:1.266666rem;
	line-height: 1rem;
	border: 1px solid #F7F8FC;
}
.form input{
	width: 100%;
	height: 0.6rem;
	border: none;
	outline: none;
	padding-top: 0.2rem;
	font-size: 0.346666rem;
}
.form_title{
	font-size: 0.426666rem;
	color: #5C6681;
}
.form_input{
	font-size: 26px;
	color: #1C2843;
}
.problem{
	height: 0.8rem;
	line-height: 0.8rem;
	display: block;
	border-radius: 0.4rem;
	border: 1px solid #A0A7B6;
	color: #A0A7B6;
	text-align: center;
	font-size: 0.373333rem;
}
.title02{
	color: #1C2843;
	font-size: 0.373333rem;
	padding-left: 0.4rem;
}
textarea{
	width: 100%;
	height: 2.84rem;
	padding-top: 0.4rem;
	padding-left: 0.4rem;
}
.main_box{
	margin-bottom: 1.706666rem;
}
.footer{
	width: 100%;
	height: 1.706666rem;
	background-color: #FFFFFF;
	position: fixed;
	bottom: 0;
}
.appointment{
	width: 100%;
	height: 1.2rem;
	background: rgba(73,208,197,1);
	color: #FFFFFF;
	font-size: 0.453333rem;
	margin-top: 0.25rem;
	margin-right: 0.4rem;
	border: none;
	outline: none;
	border-radius: 0.6rem;
}
.amount{
	height: 100%;
	line-height: 1.706666rem;
}
.amount_01{
	color: #1C2843;
	font-size: 0.346666rem;
	padding-left: 0.666666rem;
	padding-right: 0.253333rem;
}
.amount_02{
	color: #1C2843;
	font-size: 0.48rem;
	font-weight: bold;
	padding-right: 0.253333rem;
}
.amount_03{
	color: #1C2843;
	font-size: 0.64rem;
	font-weight: bold;
}
.read{
	width: 0.4rem;
	height: 0.4rem;
}
.read_01{
	font-size: 0.346666rem;
	color: #5C6681;
}
.read_02{
	font-size: 0.346666rem;
	color: #0EC8C4;
}
.sex{
	width: 1.68rem;
	height: 0.72rem;
	line-height: 0.72rem;
	text-align: center;
	margin-top: 0.14rem;
	display: block;
	float: left;
	border-radius: 0.36rem;
}
.checked{
	border: 1px solid #49D0C5;
	color: #49D0C5;
}
.unchecked{
	color: #A0A7B6;
}
.ftitle{
	font-size: 0.453333rem;
	color: #1C2843;
	font-weight: bold;
	text-align: center;
	padding-top: 0.613333rem;
}
.stitle{
	font-size: 0.373333rem;
	color: #1C2843;
	font-weight: bold;
	padding-left: 0.64rem;
	padding-top: 0.72rem;
}
.note_content{
	color: #5C6681;
	font-size: 0.346666rem;
	padding-left: 1.173333rem;
	padding-right: 0.68rem;
}
.layui-m-layer1 .layui-m-layerchild{
	width: 8.32rem!important;
	height: 11.733333rem!important;
	border-radius: 0.533333rem !important;
	position: relative !important;
}
.layui-m-layercont{
	width: 100%;
	height: 10.733333rem;
	overflow-y:auto;
}
.readnote{
	width: 4.906666rem;
	height: 1.2rem;
	border-radius: 0.586666rem;
	background: rgba(73,208,197,0.96);
	border: none;
	outline: none;
	color: #FFFFFF;
	font-size: 0.453333rem;
}
.noteopt{
	width: 4.906666rem;
	text-align: center;
	position: absolute;
	bottom: 0.413333rem;
	left: 1.706666rem;
}
.stitle span{
	display: block;
	float: left;
}
.stitle span :after{
	content: "";
	clear: both;
}
.dot{
	width: 0.16rem;
	height:0.16rem;
	border-radius: 0.08rem;
	background-color: #49D0C5;
	margin-right: 0.373333rem;
	margin-top: 0.15rem;
}
