<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../../js/jquery.min.js"></script>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="css/approved.css"/>
    <title></title>
</head>
<body>
<div class="tax_content">
    <div class="line_text">
        为了让您更顺畅地一次性办结所有业务，建议您带齐以下相关材料。如有需要，我们工作人员将全程陪同您办理此项业务。
    </div>
    <div class="line_hr"></div>
    <div class="">
        <p class="file_list file_list1"><a href="">营业执照副本原件</a></p>
        <p class="file_list file_list2"><a href="">法人、财务、办税人员本人带身份证现场实名认证</a></p>
        <p class="file_list file_list3"><a href="">公司需公章</a></p>
        <p class="file_list file_list4"><a href="">公司投资人两人以上需章程及投资人身份证复印件；如若一人则需本人来</a></p>
    </div>
</div>
<div class="bottom_div">遇到问题了？呼叫小镇客服专员<a href="">0736-7708006</a></div>
</body>
<script src="js/commen.js"></script>
</html>