<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <script src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/index.min.js"></script>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="css/approved.css"/>

    <title>企业名称核准</title>
</head>
<body>
<div class="top_card">

    <div class="line_text">
        下面很重要哦~
    </div>
    <div class="line_hr">
    </div>
    <div class="step step1">
        <p>请完整填写 </p>
        <div class="fileList">
            <p><a href="">企业名称预先核准申请书</a></p>
        </div>
    </div>
    <div class="step step2">
        <p>我们会将您拟定的企业名称进行名称预先核准。审核通过至下发企业名称预先核准通知书，大概需要<span class="text_red">2个工作日</span>的时间。 </p>
    </div>
</div>

<div class="bottom_div">遇到问题了？呼叫小镇客服专员<a href="tel:0736-7708006">0736-7708006</a></div>
</body>
<script src="js/commen.js"></script>
</html>
