<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/index.min.js" type="text/javascript" charset="utf-8"></script>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="css/approved.css"/>
    <title>银行账户开立</title>
</head>
<body>
<div class="bank_content">
    <div class="line_text">
        为了让您更顺畅地一次性办结所有业务，建议您带齐以下材料。如有需要，我们工作人员将全程陪同您办理此项业务。
    </div>
    <div>
        <div class="line_hr"></div>


        <p class="file_list file_list1">营业执照正本原件、法人、经办人身份证原件（法人身份证可先用复印件，方便时再拿原件进行核验</p>
        <p class="file_list file_list2">全套章泥(包括公章、财务章、法人章)</p>
        <p class="file_list file_list3">股东身份证复印件或者股东单位营业执照正本复印件</p>
    </div>
</div>
<div class="bottom_div">遇到问题了？呼叫小镇客服专员<a href="tel:0736-7708006">0736-7708006</a></div>
</body>
<script src="js/commen.js"></script>
</html>
