<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../../js/jquery.min.js"></script>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="css/approved.css"/>
    <title></title>
</head>
<body>
<div class="top_card_seven">

    <div class="line_text">
        在金融办备案成功并已入驻柳叶湖清科基金小镇后，若您还需在中基协备案，请完成下列步骤哦！
    </div>
    <div class="line_hr"></div>
    <div>
        <p class="title">管理人备案</p>
        <div class="fileList">
            <p><a href="">承诺函</a></p>
            <p><a href=""> 中基协登记信息</a></p>
        </div>
        <p class="title">基金产品备案</p>
        <div class="fileListTwo">
            <p><a href="">基金产品备案相关资料</a></p>
        </div>
    </div>
</div>

<div class="bottom_div">遇到问题了？呼叫小镇客服专员<a href="">0736-7708006</a></div>
</body>
<script src="js/commen.js"></script>
</html>
