<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <script src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/index.min.js"></script>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="css/application.css"/>
    <title></title>
</head>
<body>
<div class="top_card">
    <div class="step step1">
        首先请您点击下方的<span class="text_red">“注册”</span>按钮注册账号
    </div>
    <div class="step step2">
        <p>请完整填写相关信息 </p>
        <div class="fileList_free">
            <p><a href="">入驻意向协议书</a></p>
            <p><a href="">柳叶湖清科基金小镇机构入驻意向表</a></p>
        </div>
    </div>
    <div class="step step3">
        填写后，发送至2435702664@qq.com
    </div>
    <div class="step step4 stepEnd">
        我们的工作人员将于<span class="text_red">1个工作日</span>内给您审核，通过后进行后续流程的操作以及文件下载。
    </div>
    <div class="btn">

    </div>
    <div>
        温馨提示：您不需要委托任何第三方机构，我们将免费为您全程办理工商注册等入驻服务！
    </div>
</div>
<div class="bottom_card">
    <p>咨询热线：<a href="tel:0736-7708006">0736-7708006</a></p>
    <p>电子邮箱：<a href="mailto:2435702664@qq.com">2435702664@qq.com</a></p>
    <p>工作时间：周一至周五 </p>
    <p>夏至：8:30-12:00am 14:30-17:30pm</p>
    <p>冬至：8:30-12:00am 14:00-17:00pm</p>
    <p class="point">小镇客服专员将与您对接入驻事宜</p>
</div>
</body>
<script src="js/commen.js"></script>
</html>
