.navigator {
  padding: 20px 30px;
  position: relative;
  display: flex;
  align-items: center;
}
.navigator:before {
  content: " ";
  position: absolute;
  left: 30px;
  top: 0;
  right: 30px;
  height: 1px;
  border-top: 1px solid #D8D8D8;
  color: #D8D8D8;
}
.navigator:first-child:before {
  display: none;
}
.navigator-text {
  flex: 1;
}
.navigator-arrow {
  padding-right: 26px;
  position: relative;
}
.navigator-arrow:after {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 18px;
  border-width: 1px 1px 0 0;
  border-color: #888888;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 28px;
}