<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="css/schedule.css"/>
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script src="../../js/index.min.js" type="text/javascript" charset="utf-8"></script>
    <title>服务进度</title>
    <style>
        .mark {
            float: right;
        }
    </style>
</head>
<body>
<div class="content lists">
    <div class="schedule undo">
        <p class="text">入驻申请 <span class="mark">成功</span></p>
    </div>
    <div class="schedule">
        <p class="text">企业名称核准</p>
    </div>
    <div class="schedule">
        <p class="text">省政府金融办备案</p>
    </div>
    <div class="schedule">
        <p class="text">企业注册登记</p>
    </div>
    <div class="schedule">
        <p class="text">银行账户开立</p>
    </div>
    <div class="schedule">
        <p class="text">税务信息补录</p>
    </div>
    <div class="schedule">
        <p class="text">入驻成功</p>
    </div>
    <div class="schedule">
        <p class="text">中国证券投资基金业协会备案</p>
    </div>
</div>
<a href="/fundtown/www/download/file?id=54906eada9d9472a80ba22c4fdfabba0">下载</a>
</body>
<script src="js/schedule.js"></script>


</html>