<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="css/service.css"/>
    <script src="../../js/index.min.js" type="text/javascript" charset="utf-8"></script>
    <title>VIP服务中心</title>
</head>
<body>
<div class="content">
    <div class="head">
        <div class="img">
            <img class="headimgUrl" src="" alt=""/>
        </div>
        <div class="text">
            <p class="name"></p>
        </div>
    </div>
    <div class="list">
        <ul>
            <li>
                <span><img src="image/icon1.png" alt=""/>入驻申请</span><span class="icon_right"><i class="iconfont">&#xe602;</i></span>
            </li>
            <li>
                <span><img src="image/icon2.png" alt=""/>视频录入</span><span class="icon_right"><i class="iconfont">&#xe602;</i></span>
            </li>
        </ul>
    </div>

</div>
</body>
<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/service.js"></script>
</html>
