<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/testing1.css"/>
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
    <script src="js/reminit.js" type="text/javascript" charset="utf-8"></script>
    <title></title>
</head>

<body>
<div class="test_main">
    <div class="cover">
        <img src="" alt=""/>
    </div>
    <div class="test_info">
        <p class="title">艾森克人格测试·艾森克人格测试艾森克人格测试艾森克人格测试</p>
        <p class="price">免费</p>
        <div class="test_info_bottom">
            <div class="table">
                <span>·10道精选问题</span>
                <span>·预计2分钟</span>
                <span>·1240人已测</span>
            </div>
        </div>
    </div>
    <div class="explanation">
        <p class="title">
            测什么
        </p>
        <p class="content">
            艾森克人格问卷(Eysenck Personality Questionnaire, 简称EPQ)是英国伦敦大学心理系和精神病研究所艾森克教授编制的, 艾森克教授搜集了大量有关的非认知方面的特征,
            通过因素分析归纳出三个互相成正交的维度, 从而提出决定人格的三个基本因素: 内外向性(E)、神经质(又称情绪性)(N)和精神质(又称倔强、讲求实际)(P), 人们在这三方面的不同倾向和不同表现程度,
            便构成了不同的人格特征。
            艾森克通过对人格问卷资料的因素分析研究，确定了人格类型的三个基本维度。根据外倾性维度可以把人格分为外倾型和内倾型；根据情绪稳定性可以把人格分为情绪型和稳定型；根据心理变态倾向可以把人格分为精神失调型和精神整合性。相对于其他以因素分析法编制的人格问卷而言，它所涉及的概念较少，施测方便，有一定的信度和效度。
        </p>
        <p class="title">
            测试须知
        </p>
        <p class="content">
        <p>本测评为免费测试。</p>
        <p>测试题：<span>10题</span>，测试时间：约 <span>2</span>分钟。</p>
        <p>
            测评不能重测，做题时请实际情况作答，答题结束后会生成一份专业报告。
        </p>
        <p>
            如有任何问题，欢迎私信【心阳光健康联盟】，或关注【心阳光健康联盟】公众号，会有客服为您耐心解答。
        </p>
        </p>
    </div>
    <div class="button">
        <div class="box">
            <input class="start" type="button" name="" id="" value="开始测试"/>
            <input class="pay" type="button" name="" id="" value="立即购买"/>
            <input class="right result" type="button" name="" id="" value="查看结果"/>
        </div>
    </div>
</div>
<div class="test_content">
    <div class="swiper-container swiper-container1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <section>
                    <div class="test_top">
                        <div class="fenye">
                            <span class="pagination-current">1</span> /
                            <span class="pagination-total">3</span>
                        </div>
                        <div class="jindu">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="test">
                        <p class="test_title">你一天花费多少多少时间在用于爱好上呢？ 拷贝</p>
                        <ul class="test_options">
                            <li class="test_option_action">没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间没有或很少时间没有或很少时间没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                        </ul>
                    </div>
                    <div class="test_bottom">
                        <span><i class="iconfont">&#xe655;</i>上一题</span>
                        <input class="test_done start" type="button" name="" id="" value="完成测试"/>
                    </div>
                </section>
            </div>

            <div class="swiper-slide">
                <section>
                    <div class="test_top">
                        <div class="fenye">
                            <span class="pagination-current">1</span> /
                            <span class="pagination-total">3</span>
                        </div>
                        <div class="jindu">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="test">
                        <p class="test_title">你一天花费多少多少时间在用于爱好上呢？ 拷贝</p>
                        <ul class="test_options">
                            <li class="test_option_action">没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间没有或很少时间没有或很少时间没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                        </ul>
                    </div>
                    <div class="test_bottom">
                        <span><i class="iconfont">&#xe655;</i>上一题</span>
                        <input class="test_done start" type="button" name="" id="" value="完成测试"/>
                    </div>
                </section>
            </div>

            <div class="swiper-slide">
                <section>
                    <div class="test_top">
                        <div class="fenye">
                            <span class="pagination-current">1</span> /
                            <span class="pagination-total">3</span>
                        </div>
                        <div class="jindu">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="test">
                        <p class="test_title">你一天花费多少多少时间在用于爱好上呢？ 拷贝</p>
                        <ul class="test_options">
                            <li class="test_option_action">没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间没有或很少时间没有或很少时间没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                            <li>没有或很少时间</li>
                        </ul>
                    </div>
                    <div class="test_bottom">
                        <span><i class="iconfont">&#xe655;</i>上一题</span>
                        <input class="test_done start" type="button" name="" id="" value="完成测试"/>
                    </div>
                </section>
            </div>
        </div>

    </div>
    <div class="bottom_bar">
    </div>
</div>
<div class="test_result">

</div>
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>

<script>
    var mySwiper = new Swiper('.swiper-container', {
        effect: 'fade',
        pagination: {
            el: '.swiper-pagination',
            type: 'progressbar',
        },
    })
</script>

</html>