<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/testindex.css"/>
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
    <script src="js/reminit.js" type="text/javascript" charset="utf-8"></script>
    <title></title>
</head>

<body>
<div class="content">
    <div class="search">
        <div class="container">
            <div class="search_box">
                <input type="" name="" id="" value=""/>
            </div>
            <div class="notice">
                中
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="container">
            <div class="swiper-container swiper-container_panel">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="img/2.png"></div>
                    <div class="swiper-slide"><img src="img/2.png"></div>
                    <div class="swiper-slide"><img src="img/2.png"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="container">
            <div class="swiper-container swiper-container_menu">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <ul class="page">
                            <li>
                                <div>
                                    <img src="img/rgcs.png"/>
                                </div>
                                <p>人格测试</p>
                            </li>
                            <li>
                                <div>
                                    <img src="img/zlcs.png"/>
                                </div>
                                <p>智力测试</p>
                            </li>
                            <li>
                                <div>
                                    <img src="img/xwcs.png"/>
                                </div>
                                <p>行为测试</p>
                            </li>
                            <li class="end">
                                <div>
                                    <img src="img/xlcs.png"/>
                                </div>
                                <p>心理健康测试</p>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="page">
                            <li>
                                <div>
                                    <img src="img/qxcs.png"/>
                                </div>
                                <p>情绪测试</p>
                            </li>
                            <li>
                                <div>
                                    <img src="img/rjgx.png"/>
                                </div>
                                <p>人际关系测试</p>
                            </li>
                            <li>
                                <div>
                                    <img src="img/xqah.png"/>
                                </div>
                                <p>兴趣爱好测试</p>
                            </li>
                            <li class="end">
                                <div>
                                    <img src="img/wlcy.png"/>
                                </div>
                                <p>网络成瘾测试</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="recommen">
        <div class="title">
            精选测试
        </div>
        <div class="test_list">
            <ul>
                <li>
                    <div class="left_div">
                        <p class="test_title">
                            测一测你和孩子的关系是否融洽
                        </p>
                        <p class="test_remark">为人父母之后，就会越来越在意亲子为人父母之后，就会越来越在意亲子</p>

                        <span class="price">
										<span class="free">免费</span>
                            <!--<span class="no_free">
                                <span class="now_price"></span>
                                <span class="old_price"></span>
                            </span>-->
									</span>
                        <span class="test_total">
										<span class="number">33333</span>人测过
									</span>
                    </div>
                    <div class="right_div"></div>
                </li>
                <li>
                    <div class="left_div">
                        <p class="test_title">
                            测一测你和孩子的关系是否融洽
                        </p>
                        <p class="test_remark">为人父母之后，就会越来越在意亲子为人父母之后，就会越来越在意亲子</p>

                        <span class="price">
										<span class="free">免费</span>
                            <!--<span class="no_free">
                                <span class="now_price"></span>
                                <span class="old_price"></span>
                            </span>-->
									</span>
                        <span class="test_total">
										<span class="number">33333</span>人测过
									</span>
                    </div>
                    <div class="right_div"></div>
                </li>
                <li>
                    <div class="left_div">
                        <p class="test_title">
                            测一测你和孩子的关系是否融洽
                        </p>
                        <p class="test_remark">为人父母之后，就会越来越在意亲子为人父母之后，就会越来越在意亲子</p>

                        <span class="price">
										<span class="free">免费</span>
                            <!--<span class="no_free">
                                <span class="now_price"></span>
                                <span class="old_price"></span>
                            </span>-->
									</span>
                        <span class="test_total">
										<span class="number">33333</span>人测过
									</span>
                    </div>
                    <div class="right_div"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>

<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        pagination: {
            el: '.swiper-pagination',
        },
    })
</script>
</html>