
.flexBox{
    display: flex;
    flex-wrap:wrap;
}

.sign-content{
    width: 150px;
    height: auto;
    margin-right: 30px;
}
.sign-content .imgBox{
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.sign-content .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign-content .imgBox .check{
    position: absolute;
    top: 0;
    height: 20px;
    width: 20px;
    opacity: 0.6;
    margin: 5px;
}
.sign-content text{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 4px 0 8px;
}

