<!DOCTYPE html>
<html  ng-app="angularjsApp" ng-controller="angularjsCtrl">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
		<title>企业信息</title>
		<link href="../../css/comon0.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../css/common_index.css"/>
		<link href="css/publicity.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/angular/angular.min.js"></script>
		<script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
		<script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="js/publicity.js"></script>
		<link rel="shortcut icon" href="../../images/favicon.ico">
	</head>
	<body>
	<div id="loadBefore" hidden="hidden">
		<div class="index">
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="finance">
					<div class="finance_list_title">
						<div class="search">
							<input type="text" id="key_word" placeholder="请输入关键字搜索"  class="search-input"/>
							<img src="img/search.png" class="search-img" ng-click="search();"/>
						</div>
					</div>
					<div class="search_list">
						<div class="project_list">
							<div class="table_div">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
                                        <th width="20%" align="left" class="table_title">企业名称</th>
                                        <th width="10%" align="left" class="table_title">企业法人</th>
										<th width="15%" align="left" class="table_title">企业性质</th>
                                        <th width="10%" align="left" class="table_title">所属区域</th>
										<th width="15%" align="left" class="table_title">所属工商联</th>
                                        <th width="30%" align="left" class="table_title">企业地址</th>
									</tr>
									<tr ng-repeat="item in items">
                                        <td width="35%" ng-bind="item.fullName" ng-click="preview(item.id);"></td>
                                        <td width="10%" ng-bind="item.realName"></td>
										<td width="15%" ng-bind="item.companyPropertyName"></td>
                                        <td width="10%" ng-bind="item.areaCodeName"></td>
										<td width="15%" ng-bind="item.belongTo"></td>
                                        <td width="30%" ng-bind="item.address"></td>
									</tr>
								</table>
							</div>
						</div>
						<div id="paganation"></div>
					</div>
				</div>

				<div class="tab-pane fade" id="product">
					金融产品
				</div>
			</div>
		</div>
	</div>

	<div id="loading" class="loading">
		加载中...
	</div>
	</body>
</html>