<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>慈善文化</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<style>
			.content_box{
				width: 100%;
			}
			.content{
				width: 90%;
				margin: auto;
			}
			h3{
				text-align: center;
				font-size: 0.45rem;
				font-weight: bold;
				color: #333333;
			}
			h4{
				text-align: center;
				font-size: 0.4rem;
				color: #333333;
			}
			p{
				text-align: left;
				font-size: 0.3rem;
				color: #333333;
				text-indent: 2em;
			}
		</style>
	</head>
	<body>
		<div class="content_box">
			<div class="content">
				<h3>慈善文化</h3>
				<h4>文化宣言</h4>
				<p>因为有你，才有我们。我们有着共同的愿景与使命、信仰与追求，对理想与美好生活的共同渴望使我们彼此关爱、相互激励，共同成长。我们将永远怀着一颗热情、善良、感恩的心前行，我们不停为你加油，为你助力。为什么我们总是眼含着泪水，因为我们爱得深沉；为什么我们总是精神抖擞，因为我们爱得深沉；为什么我们总在不断寻求，因为我们爱得深沉。我们深感使命光荣，倍觉责任在肩。在长沙慈善会加快发展的关键阶段，我们要继续发扬“心忧天下、敢为人先”的长沙精神，树立“为民分忧”的情怀，推动长沙慈善事业再创新的辉煌。 </p>
			</div>
			<div class="content">
				<h4>愿景 </h4>
				<p>“成为中国最具美誉度和影响力的慈善机构”是长沙慈善会立足现实、展望未来的长远战略定位，也是长沙慈善会长期坚持的崇高理想和努力追求的终极目标，更是长沙慈善会事业发展的不竭动力和智慧源泉。它意味着长沙慈善会必须洞彻先机，把握机遇，与时俱进。 </p>
			</div>
			<div class="content">
				<h4>使命 </h4>
				<p>“弘扬人本情怀  增进民众福祉”既是长沙慈善会的崇高使命，也是长沙慈善会对自身和社会的庄重承诺，它深刻揭示了长沙慈善会存在的价值依据和社会意义，其价值内涵将覆盖并融入长沙慈善会的所有行为和运作过程。</p>
			</div>
			<div class="content">
				<h4>精神 </h4>
				<p>长沙慈善会精神是长沙慈善会追求愿景和实践使命的精神支柱。在帮助他人，奉献他人的过程中公益为民、积善累德，帮助他人，成就自我。 </p>
			</div>
			<div class="content">
				<h4>核心价值观 </h4>
				<p>“善行天下，爱传万世”的核心价值观是所有长沙慈善会人理想、激情、力量和信念的高度聚集，是判别是非、决定取舍和行为准则的最高价值标准，也是长沙慈善人内心真挚情感的流露，更是崇高精神与高尚行动的融合。经日积月累，汇聚壮大，必将释放出撼人心魄的光华。 </p>
			</div>
			<div class="content">
				<h4>运作理念</h4>
				<p>孔子曰：“民无信不立”。“惟诚惟信”就是指永远把诚实守信放在首位。一切工作始于诚信，达于诚信；凡有悖于诚信理念者，不思，不行，不附。“携手同行”就是指在与各方打交道时能经常站在对方的角度思考问题，即 “推己及人”，“己所不欲，勿施于人”。</p>
			</div>
			<div class="content">
				<h4>管理理念</h4>
				<p>“以人为本，以制为纲”的管理理念，是指既用人本思想引导工作人员，使之晓情明义，能懂感恩，能鉴是非，又以道德化之，使其品格升华，不断进步，再以制度、规程和标准予以约束。“规范管理，公开透明”，就是指一切工作的开展都应该做到有章可循，有据可依，严谨自律，规范行为，公平公正，公开透明，更富成效。</p>
			</div>
			<div class="content">
				<h4>人才理念</h4>
				<p>“敬业”就是指“专心致志以事其业”，要用一种恭敬严肃的态度对待自己的工作，一心一意，任劳任怨，精益求精。“专业”就是指要不断提升自己的专业能力，在工作中学习，在学习中工作，成为工作的能手、高手。“职业”就是指慈善工作无小事，要以职业的态度来做好每一件事，提倡把工作做好，而不是做了。 学习理念 知行合一  精进不懈 孔子曰：“学而不思则罔，思而不学则殆”，是之谓也。“知”：知识、理论。“行”：行动、做事情、实践。“合一”：结合、统一。“知行合一”就是指理论与实践相统一。“精进不懈”是指专心努力上进，不停的追求进步，毫不松懈。立身以立学为先，立学以读书为本，多学则博，多思则明。长沙慈善会需要精英人才和复合型人才，只有学以致用，注重实践，不断奋进，坚忍不拔，始能成大器，铸大业。 工作理念 笃实担当，激情高效 “笃实”是指忠诚坚定，纯厚老实。笃实而能承担责任，是一种宝贵品质，它既是勇气，也是能力。“担当”是指在遇到困难时，要担责，化解困难，挑战极限；在顺境或赞誉声中，也要担责，看清不足和缺漏，及时总结和优化工作。“激情”是指亢奋向上、热情洋溢、奋勇向前的精神状态，是长沙慈善会及个人生命活力的源泉；“高效”是指工作速度快、成本低、效果好，长沙慈善人要有理想主义情怀，带着一份责任和使命工作。 </p>
			</div>
			<div class="content">
				<h4>服务理念 </h4>
				<p>“至诚”是指极用心、极真诚、极诚信；“至善”是最高的善，指服务水平和能力极其专业和高超，达到最好之境。“超越期待”就是指在“至诚至善”的前提下，创造让人惊喜的服务品质，使服务物超所值，以超越社会公众的预期目的。“至诚至善，超越期待”这一服务理念，要求长沙慈善会不断学习进步，既有广博胸襟，又掌握卓越技能，同时用心用情来对待每个人和每件事，不断了解社会特性和群众需求，持续不断地为服务对象提供周到优质的服务。</p>
			</div>
		</div>
	</body>
</html>
