<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>慈善章程</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<style>
			.content_box{
				width: 100%;
			}
			.content{
				width: 90%;
				margin: auto;
			}
			h3{
				text-align: center;
				font-size: 0.45rem;
				font-weight: bold;
				color: #333333;
			}
			h4{
				text-align: center;
				font-size: 0.4rem;
				color: #333333;
			}
			p{
				text-align: left;
				font-size: 0.3rem;
				color: #333333;
				text-indent: 2em;
			}
		</style>
	</head>
	<body>
		<div class="content_box">
			<div class="content">
				<h3>常德市慈善总会冠名基金管理办法</h3>
				<p>第一条 为规范冠名基金捐赠和受赠行为,保护捐赠者、受赠者和受益者的合法权益，促进慈善公益事业的发展，根据《中华人民共和国慈善法》（以下简称：《慈善法》）、《中华人民共和国公益事业捐赠法》（以下简称：《捐赠法》）、《常德市慈善总会章程》（以下简称《章程》）的规定，制定本办法。</p>
				<p>第二条 冠名基金的来源</p>
				<p>自然人、法人或者其他组织自愿无偿捐赠资金定向用于安老扶幼、助学助医、助残济困、扶贫赈灾、公益环保、社会工作等各项慈善公益活动，可在本会设立“常德市慈善总会××（单位或个人称谓）××（项目名称）基金”。</p>
				<p>第三条 冠名基金的形式</p>
				<p>1、直接捐赠：捐赠者一次性或分期向市慈善总会捐赠资金，其中一次性捐资100万元人民币以上或者三年内分期到位总额200万元以上者，每年用于慈善项目的支出不得低于基金总额的20%。</p>
				<p>2、承诺捐赠：捐赠者承诺捐赠本金不少于100万元，或承诺捐赠的有稳定收益来源的固定资产经权威评估机构评估价值不少于500万元，捐赠者须每年以不低于承诺捐赠总额的20%（或商定的资产收益比例）数额缴入市慈善总会，作为慈善项目支出。</p>
				<p>3、留本捐息：基金本金由捐赠人一次性转至市慈善总会帐户或留在冠名单位，所产生的利息或理财收益作为慈善项目支出。此项冠名基金起点本金不少于200万元。</p>
				<p>第四条 冠名基金的使用、监督与撤销</p>
				<p>1、捐赠者与市慈善总会就冠名基金的数量、用途、期限、使用、监督管理方式等内容签订书面协议，共同管理，按照“公开、公平、公正”的原则履行协议实施慈善项目。</p>
				<p>2、冠名基金每年所产生的收益并入本金，同时可继续接受原捐赠者或者其他自然人、法人、组织的捐款，不断扩大冠名基金数额。</p>
				<p>3、依照《慈善法》、《基金会管理条例》规定，冠名基金可提取不超过基金总额10%的费用作为市慈善总会的管理经费，其用途包括但不限于以下项目：配合该项目的社会宣传、项目实施劳务费用、提升救助和劝募能力的培训等等。</p>
				<p>4、冠名基金由市慈善总会建立单独财务科目，接受审计，并向社会公布审计结果，接受捐赠者和社会的监督。</p>
				<p>5、冠名基金原则上按约定条件终止，经审计后，出具清算报告。当某项基金清算出现余额时，其余额原则上用于与原公益项目相近似的项目，或者经市慈善总会转移给具有近似项目的其他公益组织。由于经营或其他原因，捐赠款项不能按协议要求到位，经双方协商，捐赠者履行当年捐赠义务后，根据捐赠人意愿可以撤销该冠名基金；捐赠人违反本管理办法及捐赠协议，市慈善会有权撤销该冠名基金。撤销的冠名基金应向社会公布。</p>
				<p>第五条 冠名基金项目实施程序</p>
				<p>1、捐赠者向市慈善总会提出设立冠名基金的意向。</p>
				<P>2、市慈善总会与捐赠方协商后，双方签订书面协议,明确冠名基金的名称、数量、用途、期限、使用、监督管理方式等内容。</P>
				<p>3、捐赠者按协议将资金到帐，市慈善总会按照实际到帐金额开具慈善募捐专用收据凭证。</p>
				<p>4、冠名基金经捐赠方与市慈善总会共同审核签批后实施慈善项目，并按定向捐赠的审批权限进行审批。</p>
				<p>第六条 附则</p>
				<p>1、本办法市慈善总会办公室负责解释。</p>
				<p>2、本办法经2018年7月20日会长办公会表决通过之日起生效。</p>
			</div>
			
		</div>
	</body>
</html>
