<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>慈善章程</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<style>
			.content_box{
				width: 100%;
			}
			.content{
				width: 90%;
				margin: auto;
			}
			h3{
				text-align: center;
				font-size: 0.45rem;
				font-weight: bold;
				color: #333333;
			}
			h4{
				text-align: center;
				font-size: 0.4rem;
				color: #333333;
			}
			p{
				text-align: left;
				font-size: 0.3rem;
				color: #333333;
				text-indent: 2em;
			}
		</style>
	</head>
	<body>
		<div class="content_box">
			<div class="content">
				<h3>常德市慈善总会募集资金管理办法</h3>
				<p>第一条 为使本会募集资金的使用管理规范、公正、透明，充分发挥社会效益，根据《中华人民共和国慈善法》、《中华人民共和国公益事业捐赠法》、《湖南省募捐条例》和《常德市慈善总会章程》，特制定本管理办法。</p>
				<p>第二条 资金来源</p>
				<p>一、国内外捐赠收入；</p>
				<p>二、政府有关部门的资助；</p>
				<p>三、举办专项募捐、义卖、义演、义赛、义诊、义拍、网上捐赠等慈善活动收入；</p>
				<p>四、兴办实体或开展服务取得的收入；</p>
				<p>五、投资增值、委托理财收益、银行利息及其他合法收入。</p>
				<p>第三条 资金募集</p>
				<p>一、坚持依法募集和捐赠人自愿的原则。</p>
				<p>二、除接受国内外的自愿捐赠外，通过开展慈善一日捐（或者一元捐）、义卖、义演、义赛、义诊、义拍、网上捐赠等慈善活动募集。</p>
				<p>三、完善捐赠手续。受赠和转赠工作由本会办公室组织实施。定向捐赠应与捐赠人、受赠人签订捐赠协议。本会接受捐赠后，应向捐赠者出具合法有效的慈善捐赠专用票据。个人捐款5千元以上或单位捐款10万元以上，本会颁发荣誉证书；个人捐款3万元以上或单位捐款50万元以上，颁发荣誉证牌。捐赠物资按市场评估价值参照执行。</p>
				<p>第四条 资金使用原则</p>
				<p>一、资金的使用必须符合本会章程，严格按规定项目或用途使用。</p>
				<p>二、定向捐款由本会按捐赠者意愿，依照合法、公正的原则实行合同管理；非定向捐款组成慈善基金，严格按本办法资金使用审批程序执行。</p>
				<p>三、为了实现本会慈善基金的保值增值，在确保本金安全的前提下，经常务理事会研究决定，本会可对有收益的社会福利事业进行有偿资助，也可通过委托理财等其他合法途径实现收益最大化。</p>
				<p>第五条 资金使用范围</p>
				<p>一、用于下列慈善公益活动：</p>
				<p>1.扶贫、济困；</p>
				<p>2.扶老、救孤、恤病、助残、优抚；</p>
				<p>3.救助自然灾害、事故灾难和公共卫生事件等突发事件造成的损害；</p>
				<p>4.促进教育、科学、文化、卫生、体育等事业的发展；</p>
				<p>5.防治污染和其他公害，保护和改善生态环境；</p>
				<p>6.符合《慈善法》规定的其他公益活动。</p>
				<p>二、资助或兴办各类慈善公益事业。</p>
				<p>三、按捐赠人意愿实施的慈善项目。</p>
				<p>四、不超过当年总支出百分之十的管理经费。</p>
				<p>第六条 资金使用额度及审批程序</p>
				<p>一、定向捐款及冠名基金按照与捐赠人、受益人签订的协议执行。</p>
				<p>二、非定向捐款主要用于慈善临时性救助、慈善项目救助和补充大病医疗慈善救助基金。</p>
				<p>1、慈善临时性救助主要用于重病、重残低保户和建档立卡贫困户，因自然灾害或突发变故致贫的社会弱势群体。救助标准：①在享受民政、社保、医保等补贴后，自费部分在1万元至3万元者，给予一次性救助1000元-2000元；②自费部分在3万元至5万元者，给予一次性救助2000元-5000元；③自费部分在5万元以上者，给予一次性救助5000元-10000元。原则上个人临时性救助最高不得超过2万元。</p>
				<p>2、慈善项目救助主要用于资助本市辖区内遭受自然灾害的困难群体的生产生活；资助敬老院建设；资助公益事业建设；集中性的助医、助学、助残等。慈善项目严格按照资助方案安排资金，一事一议。</p>
				<p>3、开展慈善活动的年度支出，不得低于上一年总收入的百分之七十或者前三年收入平均数额的百分之七十。</p>
				<p>三、慈善救助申请程序：慈善临时性救助和慈善项目救助由申请救助的个人或单位向本会提交救助的书面申请报告。属于申请个人慈善临时性救助的，还需提交以下材料：</p>
				<p>1、救助对象户口簿、居民身份证、低保证（贫困证明）复印件；</p>
				<p>2、病患对象需提交县级以上医院出具的疾病诊断证明书，医疗费用发票（未结帐时预交款收据）及其他有关疾病的病历资料，卫生、医保部门提供的医疗费用报销情况证明及政府其他医疗救助和社会互助帮困的情况证明等复印件；</p>
				<p>3、重残对象的残疾证；</p>
				<p>4、家庭突发变故的相关证明材料；</p>
				<p>5、其它认为需要提供的依据。</p>
				<p>四、慈善救助受理：慈善救助采取属地管理原则，求助对象当年未在所属区县市民政或慈善部门申请救助的，本会不予受理。区县市民政或慈善部门救助后确有困难的，可到本会申请救助，由本会办公室进行审核，资料齐全的予以受理，资料不齐全的明确告知当事人补充相关资料后再进行受理，受理后对求助对象所反映的情况进行实地走访调查或以通讯形式通过区县市民政、慈善部门进行调查，拟定救助意见。</p>
				<p>五、慈善救助资金审批：定向捐款审批按《常德市慈善总会定向捐赠管理办法》的有关规定执行；非定向善款个人救助1000元以内（含1000元）由慈善办主任审批；1000元以上至5000元以内（含5000元）由秘书长审批，由慈善办定期汇总后向执行会长报告；5000元以上至10000元以内（含10000元）由执行会长审批，由慈善办定期汇总后向会长报告；10000万元以上至20000元以内（含20000元）由会长审批。特殊对象救助金额超过最高限额的，由常务理事会集中审批。项目救助10万元以内（含10万元）由执行会长审批；10万元至30万元（含30万元）由会长审批；30万元以上由常务理事会集中审批。</p>
				<p>六、除应急事项外，临时性救助原则上每月签批一次，每季度进行一次汇总，报会长、执行会长阅处；每年末，向会长、执行会长报送财务报告。</p>
				<p>第七条 实物募集</p>
				<p>一、接受捐赠物资时，应当面清点验收、建立表册、分类登记、妥善保管。</p>
				<p>二、捐赠大宗物资时，捐赠者需提供该产品的质检合格和价格评估证明；捐赠方捐赠药品、生物化学制品须符合卫生、医药部门的规定，方可接受。</p>
				<p>三、本会依据质检和价格评估证明核对后出具“接收捐赠物资证明”，若无质检合格证的，捐赠者应出具质量责任担保证明。对有特殊要求需开具“公益事业捐赠专用收据”的，捐赠方必须提供权威机构出具的价格评估证明。</p>
				<p>四、捐赠者捐赠的实物，除直接用于救助外，接收的物质不便保管或者不适于受助人使用的可通过合法程序拍卖或变卖，所得资金缴入捐赠资金帐户，按捐赠资金管理使用。</p>
				<p>第八条 监督管理</p>
				<p>一、本会应配备专业财会人员，开设独立的银行帐户，按《民间非营利组织会计制度》进行独立会计核算，建立健全各项财务管理制度，保证会计资料的合法、真实、准确和完整。</p>
				<p>二、资金募集、管理和使用接受民政、审计、财政等部门的监督，并定期向理事会、常务理事会报告资金使用情况。</p>
				<p>三、定期向社会公开慈善项目资金使用情况，每年三月份以前向社会公开上一年度财务收支状况，接受社会各界的监督。</p>
				<p>第九条 附则</p>
				<P>一、本办法由市慈善总会办公室负责解释。</P>
				<p>二、本办法经2018年*月*日***会议表决通过之日起生效。</p>
			</div>
			
		</div>
	</body>
</html>
