<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>慈善章程</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<style>
			.content_box{
				width: 100%;
			}
			.content{
				width: 90%;
				margin: auto;
			}
			h3{
				text-align: center;
				font-size: 0.45rem;
				font-weight: bold;
				color: #333333;
			}
			h4{
				text-align: center;
				font-size: 0.4rem;
				color: #333333;
			}
			p{
				text-align: left;
				font-size: 0.3rem;
				color: #333333;
				text-indent: 2em;
			}
		</style>
	</head>
	<body>
		<div class="content_box">
			<div class="content">
				<h3>常德市慈善总会大病医疗慈善救助基金管理办法</h3>
				<h4>第一章  总  则</h4>
				<p>第一条  根据《中华人民共和国慈善法》、《中华人民共和国公益事业捐赠法》、《基金会管理条例》，制定本办法。</p>
				<p>第二条  本慈善救助基金从以下几个途径筹集：</p>
				<p>1、政府及有关部门的资助；</p>
				<p>2、国内外组织、团体、企业和个人的捐赠与赞助；</p>
				<p>3、举办专项募捐、义卖、义演等慈善活动的收入；</p>
				<p>4、基金的投资和委托理财收益、银行利息收入及其它合法运营收入；</p>
			</div>
			<div class="content">
				<h4>第二章 使用原则和救助范围</h4>
				<p>第三条  救助遵循以下原则：</p>
				<p>1、与经济社会发展水平相适应；</p>
				<p>2、自救为主、慈善基金救助为辅；</p>
				<p>3、公开、公平、公正、及时。</p>
				<p>第四条  救助范围。本市辖区内城乡低保户和建档立卡贫困户中家庭成员患重特大疾病的家庭，突患重特大疾病的低收入家庭和一般家庭。</p>
				<p>第五条  大病门诊救助。救助对象因无力支付住院费用，而暂未住院治疗的，实施门诊救助。救助比例为自付门诊费用的50%，年度累计救助限额为2000元。</p>
				<p>第六条  大病住院救助。救助对象因病住院所产生的医疗费用在扣除各项补助（含民政部门救助）、政策性报销后的个人自付部分在10000元以上且无力支付的，实施大病住院救助。</p>
				<p>第七条  大病康复救助。救助对象大病出院康复期间确有困难的，实施大病康复救助。救助限额不超过3000元。</p>
				<p>第八条  下列情况不予救助：</p>
				<p>1、服刑人员、吸毒人员；</p>
				<p>2、由他方承担医疗费用的；</p>
				<p>3、享有定向资助、社会救助，且资助善款超过上述标准的；</p>
				<p>4、拒绝本会调查、隐瞒或不提供家庭真实收入、出具虚假证明的。</p>
			</div>
			<div class="content">
				<h4>第三章  救助申请及救助标准</h4>
				<p>第九条  个人申请的患者（或委托人）向本会提交大病医疗救助的书面申请，同时提交下列材料：</p>
				<p>1、救助对象户口簿、居民身份证、低保证（困难证明）复印件；</p>
				<p>2、县级以上医院出具的疾病诊断证明书；</p>
				<p>3、住院医疗费用发票（未结帐的预付款收据）及有关疾病情况的病历资料；</p>
				<p>4、卫生、劳动和社会保障部门提供的医疗费用报销情况证明及政府其他医疗救助和社会互助帮困的情况证明；</p>
				<p>5、其它认为需要提供的依据。</p>
				<p>第十条  个人救助标准。①救助对象住院药费自付部分在1万元以上至3万元者，给予一次性救助1000元-2000元；②自费部分在3万元以上至5万元者，给予一次性救助2000元-5000元；③自费部分在5万元以上者，给予一次性救助5000元-10000元。原则上个人临时性救助最高不得超过1万元。</p>
				<p>第十一条  个人申请医疗救助一年内只受理一次，并且累计救助不得超过两次。</p>
			</div>
			<div class="content">
				<h4>第四章  救助审批及资金拨付</h4>
				<p>第十二条 个人救助1000元以内（含1000元）由慈善办主任审批；1000元以上至5000元以内（含5000元）由秘书长审批，但需向执行会长报告（电话和短信均可）；5000元以上至10000元以内（含10000元）由执行会长审批，但需向会长报告（电话和短信均可）；10000万元以上至20000元以内（含20000元）由会长审批； 20000元以上由会长办公会集中审批。 </p>
				<p>第十三条  除应急事项外，本会每月集中审批一次个人医疗慈善救助。</p>
				<p>第十四条  资金拨付。审批通过后，救助对象或委托人、集中救助项目单位到慈善总会办公室办理相关手续，救助资金通过银行拨付到救助对象帐户或其指定帐户中。</p>
			</div>
			<div class="content">
				<h4>第五章  监督和管理</h4>
				<p>第十五条  每年医疗救助支出不得低于上一年度所募集的大病医疗慈善救助基金的70%。</p>
				<p>第十六条  本基金按照国家有关部门规定，按相关会计制度实行会计核算。 </p>
				<p>第十七条  本基金接受财政、审计等部门依法实施的检查和审计，接受社会监督。</p>
			</div>
			<div class="content">
				<h4>第六章  附则</h4>
				<p>第二十条  本办法由市慈善总会办公室负责解释。</p>
				<p>第二十一条  本办法经2018年7月20日会长办公会表决通过之日起生效。</p>
			</div>
		</div>
	</body>
</html>
