<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>规章制度</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<link rel="stylesheet" type="text/css" href="css/rules.css"/>
	</head>
	<body>
		<div class="rules_box">
			<div class="aboutus">
				<span class="liner"></span>
				<span class="aboutus_title">规章制度</span>
				<span class="liner"></span>
				<div style="clear: both;"></div>
			</div>
		</div>
		<div class="rules_list" onclick="window.location.href='rule_01.html'">
			<div class="lcontent">
				<p class="title">常德市慈善总会章程</p>
				<p class="content">
					第一条  本会全称为常德市慈善总会，英文全称CHANGDE CHARITY FEDERATION,英文缩写为CDCF。
				</p>
			</div>
		</div>
		<div class="rules_list" onclick="window.location.href='rule_02.html'">
			<div class="lcontent">
				<p class="title">常德市慈善总会定向捐赠资金管理办法</p>
				<p class="content">
					第一条 为规范常德市慈善总会定向捐赠资金的使用和管理（以下简称：市慈善总会），依照《中华人民共和国慈善法》（以下简称：《慈善法》）、《中华人民共和国公益事业捐赠法》
				</p>
			</div>
		</div>
		<div class="rules_list" onclick="window.location.href='rule_03.html'">
			<div class="lcontent">
				<p class="title">常德市慈善总会冠名基金管理办法</p>
				<p class="content">
					第一条 为规范冠名基金捐赠和受赠行为,保护捐赠者、受赠者和受益者的合法权益，促进慈善公益事业的发展，根据《中华人民共和国慈善法》				
				</p>
			</div>
		</div>
		<div class="rules_list" onclick="window.location.href='rule_04.html'">
			<div class="lcontent">
				<p class="title">常德市慈善总会募集资金管理办法</p>
				<p class="content">
					第一条 为使本会募集资金的使用管理规范、公正、透明，充分发挥社会效益，根据《中华人民共和国慈善法》、《中华人民共和国公益事业捐赠法》、《湖南省募捐条例》和《常德市慈善总会章程》，特制定本管理办法。			
				</p>
			</div>
		</div>
		<div class="rules_list" onclick="window.location.href='rule_05.html'">
			<div class="lcontent">
				<p class="title">常德市慈善总会大病医疗慈善救助基金管理办法</p>
				<p class="content">
					第一条  根据《中华人民共和国慈善法》、《中华人民共和国公益事业捐赠法》、《基金会管理条例》，制定本办法。
				</p>
			</div>
		</div>
	</body>
</html>
