* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    /*去除系统默认appearance的样式,常用于IOS下移除原生样式*/
    -webkit-appearance: none;
    /*当用户轻按一个链接或者JavaScript可点击元素时给元素覆盖一个高亮色
如果想取消这个高亮，将值设置为全透明即可，比如transparent*/
    -webkit-tap-highlight-color: transparent
}

body,
html {
    height: 100%
}

body {
    /*width: 16rem!important;*/
    margin: 0 auto!important;
    /*文本大小不会根据设备尺寸进行调整。*/
    -webkit-text-size-adjust: none;
    /*抗锯齿*/
    -webkit-font-smoothing: antialiased;
    /*字体*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

a {
    /*文字线。下划线*/
    text-decoration: none
}

li,
ul {
    /*样式*/
    list-style: none
}

input {
    border: 0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc
}

.electricity {
    top: 62px;
    left: 62px;
    z-index: -1000;
    position: absolute;
    width: 190px;
    height: 190px;
    background: url(../img/dian.png);
    background-size: cover;
    line-height: 190px;
    font-size: 22px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(0, 243, 247, 1);
    opacity: 0;
    transition: opacity 0.5s ease-in, top 0.5s ease-in, left 0.5s ease-in, z-index 0.5s ease-in;
}

.entrances .mark:hover>.weakElectricity {
    opacity: 1;
    top: 312px;
    left: -94px;
    z-index: 1;
}

.entrances .mark:hover>.forceElectricity {
    opacity: 1;
    top: 312px;
    left: 218px;
    z-index: 1;
}

.entrances {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    position: absolute;
}

.entrances .entrance {
    position: relative;
    height: 312px;
    width: 312px;
    font-size: 28px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(0, 243, 247, 1);
    line-height: 312px;
    text-align: center;
    cursor: pointer;
}

.entrances .entrance img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    left: 0;
}

.entrances .arrow {
    width: 70px;
    height: 24px;
    background: url(../img/arrow.png);
    background-size: cover;
}

body {
    background: url(../img/bg.png);
    background-size: cover;
    background-position: 50% 50%;
    min-width: 960px;
}

.title {
    font-size: 80px;
    font-family: FZZCHJW--GB1-0;
    font-weight: 400;
    color: rgba(0, 243, 247, 1);
    background: linear-gradient(180deg, rgba(0, 243, 247, 1) 0%, rgba(106, 219, 251, 1) 81.201171875%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 14px;
}

.logo {
    width: 200px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 54px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.entrances .entrance:hover img {
    -webkit-animation: fa-spin 20s infinite linear;
    animation: fa-spin 20s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}