*{
	padding: 0;
	margin: 0;
}
.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.mainContainer{
	width: 100%;
}

.mainContainer .menu {
	width: 100%;
	height: 1.066666rem;
    position: fixed;
    top: 0px;
    background-color: #fff;
}

.course{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding-top: 0.666666rem;
	padding-bottom: 0.666666rem;
	border-bottom: 1px solid #F7F8FC;
}
.coverImg{
	width: 2.106666rem;
	height: 2.106666rem;
	object-fit: cover;
	border-radius: 0.133333rem;
}
.title{
	font-size: 0.426666rem;
	font-weight: bold;
	color: #1C2843;
}
.bj{
	padding-top: 0.586666rem;
	padding-bottom: 0.586666rem;
	border-bottom: 1px solid #F7F8FC;
}
.content{
	color: #C4C8D6;
	font-size: 0.32rem;
}
.history_money{
	color: #C4C8D6;
	font-size: 0.32rem;
}
.free{
	color: #0EC8C4;
	font-size: 0.373333rem;
	padding-right: 0.24rem;
}
.charge{
	font-size: 0.4rem;
	color: #FF7C12;
	padding-right: 0.24rem;
}
.course_nav_ul li{
	width: 20%;
	height: 1rem;
	display: block;
	float: left;
}
.course_nav_ul li:after{
	content: '';
	clear: both;
}
.screen{
	color: #5C6681;
	font-size: 0.346666rem;
	line-height: 1.3rem;
}
/* 下拉筛选样式*/

.selectbox {
    height: 1.3rem;
	width: 100%;
	clear: both;
	margin: auto;
}

.selemediv {
	width: 100%;
    height: 1.3rem;
	float: left;
	position: relative
}

.selemenu {
	width: 100%;
    height: 1.3rem;
	background: #fff;
	color: #999;
	text-indent: 10px;
	border: none;
	/*background: url(../img/xiala.png) 80% no-repeat;*/
}

.selemenu {
	font-size: 14px;
    line-height: 1.4rem;
}

.citylist span {
	display: block;
	clear: both;
	cursor: pointer;
}

.citylist span:hover {
	background: #eee;
}

.citylist {
	display: none;
	line-height: 35px;
	background: #fff;
	text-indent: 10px;
	font-size: 12px;
	position: absolute;
	left: 0;
	top: 35px;
	width: 180px;
	box-shadow: 0px 5px 5px #ccc;
}

.citylist2 {
	box-shadow: 0px 5px 5px #ccc;
	font-size: 14px;
	color: #666;
    padding: 0px 0.453333rem 0.453333rem;
	position: absolute;
    top: 1.2rem;
    left: -0.4rem;
	background: #fff;
	border-bottom: 1px solid #f6f6f6;
	display: none;
	z-index: 500;
    width: 100vw;

}

.citylist2 ul {
    line-height: 0.8rem;
}

.citylist2 ul li {
	float: left;
    cursor: pointer;
    font-size: 0.373333rem;
    color: rgba(160, 167, 182, 1);
    margin-right: 0.213333rem;
	text-align: center;
    height: 0.8rem;
    border: 1px solid #D9DCE2;
    border-radius: 0.4rem;
    width: 2.1rem;
    margin-bottom: 0.466666rem;

}

.citylist2 ul li:nth-child(4n+0) {
    margin-right: 0px;
}

.citylist2 ul li:hover {
    color: #fff;
    background-color: #5BD5CB;
    border: 1px solid #5BD5CB;
}


.citylist2 .leibie {
	line-height: 54px;
    color: rgba(92, 102, 129, 1);
    font-size: 0.4rem;
}

ul,
li {
	list-style: none;
}

.xzk {
	width: 100%;
	overflow: hidden;
	clear: both;
	z-index: 500;
}



.course_List {
    padding-top: 1.3rem;
}

.course_List ul > li {
    width: 9.0rem;
    margin: 0 auto;
    padding: 0.533333rem 0;
    border-bottom: 1px solid rgba(247, 248, 252, 1);
}

.course_List ul > li:after, .course_List .left_div .test_info:after {
    content: "";
    display: block;
    clear: both;
}

.course_List .right_div {
    float: right;
    width: 6.44rem;
}

.course_List .right_div > p {
    margin: 0px;
}

.course_List .left_div {
    width: 2.106666rem;
    height: 2.106666rem;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}

.course_List .left_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.course_List .right_div .test_title {
    font-size: 0.426666rem;
    color: rgba(28, 40, 67, 1);
    line-height: 0.57rem;
    height: 1.14rem;
}

.course_List .right_div .test_remark {
    width: 100%;
    font-size: 0.32rem;
    color: rgba(196, 200, 214, 1);
    line-height: 0.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.course_List .right_div .price {
    font-size: 0.346666rem;
}

.course_List .right_div .price .free {
    color: rgba(14, 200, 196, 1);
}

.course_List .right_div .price .now_price {
    color: rgba(255, 124, 18, 1);
}

.course_List .right_div .price .old_price {
    color: rgba(196, 200, 214, 1);
    text-decoration: line-through;
}

.course_List .right_div .price {
    font-size: 0.32rem;
    line-height: 0.4rem;
    float: left;
}

.course_List .right_div .test_total {
    float: right;
    font-size: 0.32rem;
    color: rgba(196, 200, 214, 1);
    line-height: 0.4rem;
}


.swiper-container .swiper-slide{
	width: 1.5rem;
	height: 1.3rem;
	line-height: 1.3rem;
	font-size:0.373333rem;
	position: relative;
	color:rgba(28,40,67,1);
	text-align: center;
}

.swiper-slide-active{
	color: #1C2843;
	font-weight:bold;
}
.swiper-slide-active::after{
	content: '';
	display: block;
	width:0.4rem;
	height:0.053333rem;
	background:rgba(73,208,197,1);
	border-radius:0.026666rem;
	position: absolute;
	bottom: 0.106666rem;
	right:0.55rem;
}