body .test_list div {
    font-size: 1rem !important;
}

.test_list .test {
    width: 92.6vw;
    margin: 0 3.7vw 0;
    height: 11.5vh;
    border-bottom: 0.0725rem solid #ededed;
}

.test_list .test div {
    float: left;

}

.test_list .test:after {
    content: "";
    clear: both;
    display: block;
}

.test_list .test .title {
    width: 85.7vw;
    line-height: 4vh;
    margin-top: 2vh;
}

.test_list .test .title p {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.test_list .test .title .number {
    font-size: 0.85rem;
    color: #9a9a9a;
}

.test_list .test .pen_icon {
    width: 6.9vw;
    height: 6vh;
    margin-top: 2.3vh;

}

.test_list .test .pen_icon .iconfont {
    font-size: 1.5625rem;
    color: #4380db;
}



