<!DOCTYPE html>
<html  ng-app="angularjsApp" ng-controller="angularjsCtrl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>爱心贡献榜</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<script type="text/javascript" src="../js/angular/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/donatelist.css"/>
		<script type="text/javascript" src="js/donatelist.js"></script>
	</head>
	<body>
		<div class="list_box">
			<div class="banner">
				<img src="img/banner.png"/>
			</div>
			<div class="mine" ng-if="own!=null && own!=undefined">
				<div class="mineItem">
					<div class="topnum" ng-bind="own.indexNum">
					</div>
					<div class="headImg">
						<img ng-src="{{own.headimgurl}}" />
					</div>
					<div class="detail">
						<p class="user">我</p>
						<p class="user_detail">捐赠<span class="unit" ng-bind="own.donateDays"></span>天</p>
					</div>
					<div class="money"><span class="money_amount" ng-bind="own.totalDonateAmount"></span><span class="unit">元</span></div>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="list">
				<div class="listItem" ng-repeat="rank in rankList">
					<div class="topnum" ng-cloak ng-if="rank.indexNum=='1'"><img src="img/no1.png" style="width: 0.6rem;height: 0.8rem;padding-top: 0.1rem;"/></div>
					<div class="topnum" ng-cloak ng-if="rank.indexNum=='2'"><img src="img/no2.png" style="width: 0.6rem;height: 0.8rem;padding-top: 0.1rem;"/></div>
					<div class="topnum" ng-cloak ng-if="rank.indexNum=='3'"><img src="img/no3.png" style="width: 0.6rem;height: 0.8rem;padding-top: 0.1rem;"/></div>
					<div class="topnum" ng-cloak ng-if="rank.indexNum!='1'&&rank.indexNum!='2'&&rank.indexNum!='3'">{{rank.indexNum}}</div>
					<div class="headImg">
						<img ng-src="{{rank.headimgurl}}" />
					</div>
					<div class="detail">
						<p class="user" ng-bind="rank.nickname"></p>
						<p class="user_detail">捐赠<span class="unit" ng-bind="rank.donateDays"></span>天</p>
					</div>
					<div class="money"><span class="money_amount" ng-bind="rank.totalDonateAmount"></span><span class="unit">元</span></div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</body>
</html>
