<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>爱心贡献榜</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<script type="text/javascript" src="../js/angular/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/donatelist.css"/>
	</head>
	<body>
		<div class="list_box">
			<div class="banner">
				<img src="img/banner.png"/>
			</div>
			<div class="mine">
				<div class="mineItem">
					<div class="topnum">
						803
					</div>
					<div class="headImg">
						<img src="img/headUrl.png" />
					</div>
					<div class="detail">
						<p class="user">我</p>
						<p class="user_detail">捐赠<span class="unit">1</span>天</p>
					</div>
					<div class="money"><span class="money_amount">100</span><span class="unit">元</span></div>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="list">
				<div class="listItem">
					<div class="topnum">
						803
					</div>
					<div class="headImg">
						<img src="img/headUrl.png" />
					</div>
					<div class="detail">
						<p class="user">我</p>
						<p class="user_detail">捐赠<span class="unit">1</span>天</p>
					</div>
					<div class="money"><span class="money_amount">100</span><span class="unit">元</span></div>
					<div style="clear: both;"></div>
				</div>
				<div class="listItem">
					<div class="topnum">
						803
					</div>
					<div class="headImg">
						<img src="img/headUrl.png" />
					</div>
					<div class="detail">
						<p class="user">我</p>
						<p class="user_detail">捐赠<span class="unit">1</span>天</p>
					</div>
					<div class="money"><span class="money_amount">100</span><span class="unit">元</span></div>
					<div style="clear: both;"></div>
				</div>
				<div class="listItem">
					<div class="topnum">
						803
					</div>
					<div class="headImg">
						<img src="img/headUrl.png" />
					</div>
					<div class="detail">
						<p class="user">我</p>
						<p class="user_detail">捐赠<span class="unit">1</span>天</p>
					</div>
					<div class="money"><span class="money_amount">100</span><span class="unit">元</span></div>
					<div style="clear: both;"></div>
				</div>
				<div class="listItem">
					<div class="topnum">
						803
					</div>
					<div class="headImg">
						<img src="img/headUrl.png" />
					</div>
					<div class="detail">
						<p class="user">我</p>
						<p class="user_detail">捐赠<span class="unit">1</span>天</p>
					</div>
					<div class="money"><span class="money_amount">100</span><span class="unit">元</span></div>
					<div style="clear: both;"></div>
				</div>
				<div class="listItem">
					<div class="topnum">
						803
					</div>
					<div class="headImg">
						<img src="img/headUrl.png" />
					</div>
					<div class="detail">
						<p class="user">我</p>
						<p class="user_detail">捐赠<span class="unit">1</span>天</p>
					</div>
					<div class="money"><span class="money_amount">100</span><span class="unit">元</span></div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</body>
</html>
