<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>我的求助</title>
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css" />
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<script type="text/javascript" src="../js/angular/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/progress.css" />
	</head>

	<body>
		<div class="progress_box">
			<div class="progress_content">
				<ul class="layui-timeline">
					<li class="layui-timeline-item">
						<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
						<div class="layui-timeline-content layui-text">
							<div class="layui-timeline-title">
								<div class="project_record_title">
									<div class="project_record_title01">您发布的救急难已成功提交</div>
									<div class="project_record_title02">2018-06-24 08:28:48</div>
								</div>
							</div>
						</div>
					</li>
					<li class="layui-timeline-item">
						<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
						<div class="layui-timeline-content layui-text">
							<div class="layui-timeline-title">
								<div class="project_record_title">
									<div class="project_record_title01">资料审核中，请您耐心等待，我们会联系您进行相关信息核实</div>
									<div class="project_record_title02">2018-06-24 08:28:48</div>
								</div>
							</div>
						</div>
					</li>
					<li class="layui-timeline-item">
						<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
						<div class="layui-timeline-content layui-text">
							<div class="layui-timeline-title">
								<div class="project_record_title">
									<div class="project_record_title01">审核通过</div>
									<div class="project_record_title02">2018-06-24 08:28:48</div>
								</div>
							</div>
						</div>
					</li>
					<li class="layui-timeline-item">
						<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
						<div class="layui-timeline-content layui-text">
							<div class="layui-timeline-title">
								<div class="project_record_title">
									<div class="project_record_title01">正在筹款中</div>
									<div class="project_record_title02">2018-06-24 08:28:48</div>
								</div>
							</div>
						</div>
					</li>
					<li class="layui-timeline-item">
						<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
						<div class="layui-timeline-content layui-text">
							<div class="layui-timeline-title">
								<div class="project_record_title">
									<div class="project_record_title01">筹款已结束，我们会联系您为您提取善款</div>
									<div class="project_record_title02">2018-06-24 08:28:48</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>

</html>