.detailTable{
    width: 100%;
    border-color: #C4C8D6;
}
.detailTable td, .fileTable td{
    padding-left: 10px;
}
.smallTr{
    height: 30px;
}
.largeTr{
    height: 150px;
}
.fileTable{
    width: 100%;
    margin-top: 10px;
    border-color: #C4C8D6;
}
.fileBox{
    width: 300px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background:rgba(242,245,249,1);
}
