<!DOCTYPE html>
<html   ng-app="angularjsApp" ng-controller="angularjsCtrl">
<head>
    <meta charset="UTF-8">
    <title>会员中心-人才信息</title>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/childlist.css"/>
    <SCRIPT language=JavaScript src="../../../js/jquery-3.2.1.min.js"></SCRIPT>
    <script type="text/javascript" src="../../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../js/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../../js/laypage-v1.3/laypage/laypage.js"></script>
    <script type="text/javascript" src="../../../js/layer-v3.1.1/layer/layer.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/simditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/portal/content/common/simditor/styles/simditor.css"/>
    <script type="text/javascript" src="js/personel.js"></script>
</head>
<body>
    <div class="box">
        <div class="child_title">
            <span class="child_title_1">我发布的人才信息</span>
            <span class="child_title_2"><a href="#" data-toggle="modal" data-target="#myModal_release">发布</a> </span>
        </div>
        <div style="clear: both;"></div>
        <div class="menu-nav">
            <ul>
                <li><a class="checked" href="#" ng-click="search();">全部</a></li>
                <li><a href="#" ng-click="search('1');">审核中</a> </li>
                <li><a href="#" ng-click="search('2');">审核通过</a> </li>
                <li><a href="#" ng-click="search('3');">审核未通过</a> </li>
            </ul>
            <div id="nav-content">
                <div class="table-div" ng-repeat="item in items">
                    <table class="info_list" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed">
                        <tr class="tr_title">
                            <td width="30%" class="info_title" ng-bind="item.title"></td>
                            <td width="20%">
                                <span class="info_status info_status2" ng-if="item.status == '1'">审核中</span>
                                <span class="info_status info_status1" ng-if="item.status == '2'">审核通过</span>
                                <span class="info_status info_status3" ng-if="item.status == '3'">审核未通过</span>
                            </td>
                            <td>&nbsp;</td>
                            <td width="15%"><button id="update" data-toggle="modal" data-target="#myModal" ng-click="update_click($index);">编辑</button><button id="delete" ng-click="delete($index);">删除</button></td>
                        </tr>
                        <tr>
                            <td colspan="4" id="content" style="word-wrap:break-word;height: 100px;text-overflow: ellipsis;overflow: hidden;" ng-bind="item.content | convertText">

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="tr_title" ng-bind="item.releaseDate"></td>
                        </tr>
                    </table>
             </div>
                <div id="paganation"></div>
            </div>
        </div>
    </div>
</body>

<!--编辑模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">编辑人才信息</h4>
            </div>
            <div class="modal-body">
                <div class="product_form">
                    <table class="product_table" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                        <tr>
                            <td width="15%" align="right"><span class="required">*</span><span>职位名称</span></td>
                            <td width="5%"></td>
                            <td><input type="text"  name="postname"  ng-model="infoData.title"/></td>
                        </tr>
                        <tr style="height: 186px;">
                            <td width="15%" align="right" style="height: 186px;"><span>具体内容</span></td>
                            <td width="5%" style="height: 186px;"></td>
                            <td style="height: 300px;">
                                <textarea name="content" id="editor"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="submit" data-dismiss="modal" ng-click="update(infoData.id);">提交</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--发布模态框-->
<div class="modal fade" id="myModal_release" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel_release">发布人才信息</h4>
            </div>
            <div class="modal-body">
                <div class="product_form">
                    <table class="product_table" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                        <tr>
                            <td width="15%" align="right"><span class="required">*</span><span>职位名称</span></td>
                            <td width="5%"></td>
                            <td><input type="text"  name="pname" /></td>
                        </tr>
                        <tr style="height: 186px;">
                            <td width="15%" align="right" style="height: 186px;"><span>具体内容</span></td>
                            <td width="5%" style="height: 186px;"></td>
                            <td style="height: 300px;">
                                <textarea name="pcontent" id="editor_release"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="submit" data-dismiss="modal" ng-click="release();">发布</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>