<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>课程详情</title>
		<link rel="stylesheet" type="text/css" href="../common/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="../common/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../common/js/init-rem.js"></script>
	</head>

	<body>
		<div class="container">
			<div class="row title">
				<div class="col-xs-12 col-md-12"><h3>01 如何更好地了解孩子？如何更好地了解孩子？</h3></div>
			</div>
			<div class="row content">
				<div class="col-xs-12 col-md-12">
					<p>
						这个主题来源于一个妈妈，她目前和老公是分居状态，独自带着一个一岁四个月的男孩生活。随着孩子长大，她不知道父爱的缺失对孩子有怎样的影响。她老公是由单亲的婆婆带大的，典型的妈宝男，事无巨细都听妈妈的，也被妈妈依赖着，不能走出自己的世界，很自私。她不想孩子成为他爸爸那样的人。作为妈妈，她该怎样带孩子，让他能够健康成长呢？
 在本堂课中，蒋老师将带领大家探寻真正的教育，真正的教育并不是你知道多少先进的育儿理念，懂得多少科学的教育方法，而是取决于你内心的状态，你是什么样的人。并且会谈到爸爸在亲子教育中的作用，以及单亲家庭对教育的影响…… 
 相信此次微课会带给你启发和思考，让你更好的面对自己，面对亲子教育。
					</p>
				</div>
			</div>
		</div>
	</body>

</html>