<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
		<title>满意度调查</title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link href="../../css/comon0.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="css/satify.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common_index.css" />
		<SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
		<script type="text/javascript" src="../../js/angular/angular.min.js"></script>
		<script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
		<script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/portal/system/getUserProp.do"></script>
		<script type="text/javascript" src="../../js/user.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="js/satisfy.js"></script>
		<link rel="shortcut icon" href="../../images/favicon.ico">
	</head>

	<body>
	<div id="header"></div>
		<div class="satify_main">
			<div class="satify_body">
				<div class="suggest">
					<div class="left_list">
						<div class="left_list_title" style="position: relative;">
							<span class="title_lager">意见列表</span><span class="title_small">&nbsp;/Comments List</span>
							<div class="search_condition" style="position: absolute;top:5px;right: 0;">
								<div class="search_right">
									<select id="list_type" ng-model="defaultType" ng-options="type.name as type.name for type in selectType" ng-change="change();">
										<!--<option value="">全部</option>-->
										<!--<option value="1">诉求满意度</option>-->
										<!--<option value="2">合作交流</option>-->
									</select>
								</div>
							</div>
						</div>
						<div class="searchTable" style="position: relative">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed">
								<tbody>
									<tr class="tr_bottom" ng-repeat="item in items">
										<td align="center" width="5%">
											<div class="dot"></div>
										</td>
										<td  width="15%" ng-bind="item.releaseDate | formatDate"></td>
										<td style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden; " ng-bind="item.content"></td>
									</tr>
								</tbody>
							</table>
							<div id="paganation" style="position: absolute;bottom: 0;"></div>
						</div>
					</div>
					<div class="right_research">
						<div class="appeal_research research">
							<div class="research_title">
								<span>在线诉求</span>
								<a ng-if="userProp&&userStatus=='2'" href="#" data-toggle="modal" data-target="#myModal_1" ng-click="before_release();">我要评价</a>
								<a ng-if="!userProp" href="#" data-toggle="modal" data-dismiss="#myModal_1" ng-click="before_release();">我要评价</a>
								<a ng-if="userProp&&userStatus!='2'" href="#" data-toggle="modal" data-dismiss="#myModal_1" ng-click="before_release();">我要评价</a>
							</div>
							<div class="research_body">
								<canvas id="appeal"></canvas>
							</div>
						</div>
						<div class="react_research research">
							<div class="research_title">
								<span>平台服务</span>
								<a ng-if="userProp&&userStatus=='2'" href="#" data-toggle="modal" data-target="#myModal_2" ng-click="before_release();">我要评价</a>
								<a ng-if="!userProp" href="#" data-toggle="modal" data-dismiss="#myModal_2" ng-click="before_release();">我要评价</a>
								<a ng-if="userProp&&userStatus!='2'" href="#" data-toggle="modal" data-dismiss="#myModal_2" ng-click="before_release();">我要评价</a>
							</div>
							<div class="research_body">
								<canvas id="react"></canvas>
							</div>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</body>
	
	<!--在线诉求评价模态框-->
	<div class="modal fade bs-example-modal-lg" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">在线诉求满意度评价</h4>
            </div>
            <div class="modal-body">
				<div>
            		<label>是否对诉求你服务满意？</label><br />
    				<input type="radio" name="radio1" value="1" checked="checked">满意
					<input type="radio" name="radio1" value="2">一般满意
					<input type="radio" name="radio1" value="3">不满意
            	</div>
				<div>
            		<label>您对我们的服务有什么意见</label><br />
					<textarea name="content1" placeholder="请发表您的意见~"></textarea>
            	</div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="insertSatify_1();" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>

	<!--平台服务评价模态框-->
	<div class="modal fade bs-example-modal-lg" id="myModal_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel2">平台服务满意度评价</h4>
				</div>
				<div class="modal-body">
					<div>
						<label>是否对诉求你服务满意？</label><br />
						<input type="radio" name="radio2" value="1" checked="checked">满意
						<input type="radio" name="radio2" value="2">一般满意
						<input type="radio" name="radio2" value="3">不满意
					</div>
					<div>
						<label>您对我们的服务有什么意见</label><br />
						<textarea name="content2" placeholder="请发表您的意见~"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="insertSatify_2();" data-dismiss="modal">提交</button>
				</div>
			</div>
		</div>
	</div>
</html>