*{
	padding: 0;
	margin: 0;
}
body{
	background: #F2F2F2;
	font-family:PingFang-SC-Medium;
}
.index{
	width: 10rem;
	height: 100%;
	margin: 0 auto;
}
input{
	width: 100%;
	text-align: right;
	color: #ABAEB9;
	font-size: 0.4rem;
	outline: none;
	border: none;
}
.box{
	width: 90%;
	height: auto;
	margin: 0.4rem auto;
	border-radius: 0.133333rem;
	background: #FFFFFF;
}
.info{
	width: 100%;
	height: 1.466666rem;
	line-height: 1.466666rem;
}
.info:after{
	 content: '';
	 clear: both;
	 display: block;
}
.ititle{
	width: 26%;
	height: 100%;
	font-size: 0.426666rem;
	color: #373F53;
	float: left;
	padding-left: 4%;
}
.icontent{
	width: 66%;
	height: 100%;
	font-size: 0.4rem;
	color: #ABAEB9;
	text-align: right;
	float: left;
	padding-right: 4%;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.br{
	border-bottom: 0.5px solid #F0EFF6;
}
.redirect{
	width: 0.2rem;
	height: 0.346666rem;
	margin-left: 0.306666rem;
}
.bindLink{
	font-size: 0.4rem;
	color: #54ADF2;
}
.exit{
	width: 100%;
	height: 1.466666rem;
	font-size: 0.426666rem;
	color: #373F53;
	font-weight: bold;
}
.exit:after{
	content: '';
	clear: both;
	display: block;
}
.exit span{
	width: 49%;
	height: 0.8rem;
	line-height: 0.8rem;
	float: left;
	text-align: center;
	margin-top: 0.33rem;
}
.sbr{
	border-right: 1px solid #D7D9DF;
}
.bind{
	color: #ADB0BB;
}
.bind-btn{
	border: none;
	background: none;
	color: #54ADF2;
	font-size: 0.4rem;
}
.icontent:after{
	content: '';
	clear: both;
	display: block;
}
.sex-left{
	width: 50%;
	height: 100%;
	float: left;
}
.sex-right{
	width: 50%;
	height: 100%;
	float: left;
}
.inner{
	display: table-cell;
	vertical-align:middle;
	text-align: center;
}
.icon-sex{
	width: 0.4rem;
	height: 0.4rem;
	margin-right: 0.4rem;
	vertical-align: middle;
}