*{
	margin: 0;
	padding: 0;
}
body{
	background: #F7F9FC !important;
}
.row{
	margin: 0!important;
}
.index{
	width: 100%;
}
.row_01{
	height: 2rem;
	padding-top: 0.19333rem;
}
.head_img{
	width: 1.613333rem;
	height: 1.613333rem;
}
.consotor{
	height: 0.8rem;
}
.level{
	width: 0.32rem;
	height: 0.306666rem;
	margin-bottom: 0.1rem;
}
.col-xs-6 .col-xs-6{
	padding: 0;
}
.chat{
	width: 1.68rem;
	height: 0.72rem;
	display: block;
	border-radius: 0.36rem;
	color: #0EC8C4;
	border: 1px solid #0EC8C4;
	outline: none;
	margin-top: 0.45rem;
	background:#FFFFFF;
}
.title{
	font-size: 0.48rem;
	color: #1C2843;
	font-weight: bold;
	padding-left: 0.4rem;
}
.problem ul,.problem li{
	list-style: none;
}

.problem_label{
	padding-left: 0.32rem;
	padding-right: 0.32rem;
	width: auto;
	height: 0.8rem;
	display: block;
	float: left;
	line-height: 0.8rem;
	text-align: center;
	color: #0EC8C4;
	border-radius: 0.4rem;
	border: 1px solid #49D0C5;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}
.problem_label:after{
	content: "";
	clear: both;
}
.sec_title{
	color: #1C2843;
	font-size: 0.373333rem;
	padding-left: 0.4rem;
}
.sec_content{
	color: #5C6681;
	font-size: 0.373333rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}
.box{
	background: #FFFFFF;
	margin-bottom: 0.266666rem;
	padding-bottom: 0.72rem;
}
.formtitle{
	color: #5C6681;
	font-size: 0.373333rem;
}
.formcmt{
	color: #1C2843;
	font-size: 0.373333rem;
	word-break: break-all;
	word-wrap:break-word;
}
