<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>课程目录</title>
		<link rel="stylesheet" type="text/css" href="../common/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="../common/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../common/js/init-rem.js"></script>
	</head>

	<body>
		<div class="container">
			<div class="row chapter">
				<div class="row">
					<h3 class="title">第一章：你是否了解孩子</h3>
				</div>
				<div class="row">
					<div class="row">
						<div class="col-xs-2 col-md-2"><img src="img/icon-play.png" class="play" /></div>
						<div class="col-xs-10 col-md-10">
							<span class="number">01.</span>
							<span class="chapter_title">如何更好地了解孩子？</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 col-md-2"></div>
						<div class="col-xs-10 col-md-10">
							<span class="try">试听</span>
							<span class="duration">10分钟</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="row">
						<div class="col-xs-2 col-md-2"><img src="img/icon-play.png" class="play" /></div>
						<div class="col-xs-10 col-md-10">
							<span class="number">01.</span>
							<span class="chapter_title">如何更好地了解孩子？</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 col-md-2"></div>
						<div class="col-xs-10 col-md-10">
							<span class="try">试听</span>
							<span class="duration">10分钟</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="row">
						<div class="col-xs-2 col-md-2"><img src="img/icon-play.png" class="play" /></div>
						<div class="col-xs-10 col-md-10">
							<span class="number">01.</span>
							<span class="chapter_title">如何更好地了解孩子？</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 col-md-2"></div>
						<div class="col-xs-10 col-md-10">
							<span class="try">试听</span>
							<span class="duration">10分钟</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>