
#page-list ul {
    display: block;

}

#page-list ul li {
    width: 70px;
    height: 25px;
    background: rgba(228, 245, 255, 1);
    border-radius: 1px;
    list-style: none;
    float: left;
    margin-left: 10px;
    text-align: center;
}

#page-list ul li a {
    width: 26px;
    height: 8px;
    font-size: 10px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(24, 144, 255, 1);
    line-height: 10px;
}

#station-list ul {
    display: block;
}

#station-list ul li {
    width: 77px;
    height: 25px;
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 1px;
    /*    width: 11%;
        height: 30px;*/
    text-align: center;
    /*border: 1px solid #f4f7f6;*/
    list-style: none;
    float: left;
    margin: 0 10px;
    background-color: #ffffff;
}

#station-list ul li a {
    width: 66px;
    height: 6px;
    font-size: 7px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(43, 54, 67, 1);
    line-height: 18px;
}

.count {
    width: 46px;
    height: 6px;
    font-size: 7px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(24, 144, 255, 1);
    line-height: 18px;
}

.checkall {
    width: 16px;
    height: 7px;
    font-size: 8px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(43, 54, 67, 1);
    line-height: 18px;
}

.batch {
    width: 50px;
    height: 6px;
    font-size: 6px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(194, 202, 216, 1);
    line-height: 18px;
}
#allCheck {
    margin-left: 40px;
    display: block;
}

ul.videolist {
    margin: 0 auto;
}

ul.videolist li {
    float: left;
    list-style: none;
    margin-left: 20px;
    height: 300px;
    width: 350px;
}

ul.videolist li video {
    display: block;
    width: 350px;
    height: 200px;
}

.overlay {
    display: block;
    filter: alpha(opacity=60);
    background-color: #040518;
    opacity: 0.5;
    -moz-opacity: 0.5;
}

.box {
    width: 100%;
    line-height: 32px;
    background: #F6F9F8;
    float: left;
}

.box a {
    margin-top: -20px;
}

.closespan {
    width: 45px;
    height: 6px;
    font-size: 7px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(24, 144, 255, 1);
    line-height: 18px;

    margin-left: 30px;

}

.div1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #F6F9F8;
}

ul.videolist li div span.bname {
    width: 80%;
    height: 20px;
    margin: 0 50px;
}

ul.videolist li div input {
    width: 16px;
    height: 16px;
    line-height: 0px;
}

.edit {
    margin-left: 15px;
}

#animaList ul li {
    list-style: none;
    float: left;
    margin-left: 10px;

}

#animaLnk-list {
    width: 100%;
    height: 650px;
}

input:checked + .all::before {
    width: 8px;
    height: 8px;
    background: rgba(24, 144, 255, 1);
    border-radius: 1px;
}

/*********************************/
.wrap {
    /* position: relative;
     width: 33.33%;*/
    margin: -40px 160px;
    top: 50%;
    /*   float: left;*/
}

label {
    margin: 5px -10px;
}

.a {
    position: absolute;
    left: -9999px;
}


.slider-v2 {
    position: relative;
    width: 80px;
    height: 32px;
    cursor: pointer;
    border-radius: 24px;
    transition: 350ms;
    /*  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #ddd;
      box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, 0.4) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);*/
}

.slider-v2::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 28px;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    transition: 250ms ease-in-out;
    background: linear-gradient(#f5f5f5 10%, #eeeeee);
    box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5);
}

/*input:checked+ ::before{
    content: '正常';
    text-align: left;
}*/

.slider-v2::before {
    position: absolute;
    content: '关闭';
    width: 60px;
    height: 22px;
    top: 12px;
    left: 12px;
    text-align: right;
    /*font-size:5px;*/
    color: rgba(233, 242, 255, 1);
    line-height: 24px;
    border-radius: 13px;
    transition: 250ms ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
    box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 #1890FF inset;
}

input:checked + .slider-v2::before {
    content: '开启';
    text-align: left;
    box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 #1890FF inset;
}

input:checked + .slider-v2::after {
    left: 48px;
}

.slider-v3 {
    position: relative;
    width: 80px;
    height: 32px;
    cursor: pointer;
    border-radius: 24px;
    transition: 350ms;
    /*  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #ddd;
      box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, 0.4) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);*/
}

.slider-v3::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 28px;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    transition: 250ms ease-in-out;
    background: linear-gradient(#f5f5f5 10%, #eeeeee);
    box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5);
}


.slider-v3::before {
    position: absolute;
    content: '暂停';
    width: 60px;
    height: 22px;
    top: 12px;
    left: 12px;
    text-align: right;
    /*font-size:5px;*/
    color: rgba(233, 242, 255, 1);
    line-height: 24px;
    border-radius: 13px;
    transition: 250ms ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
    box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 #1890FF inset;
}

input:checked + .slider-v3::before {
    content: '恢复';
    text-align: left;
    box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 #1890FF inset;
}

input:checked + .slider-v3::after {
    left: 48px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    /*vertical-align: middle;*/
    line-height: 15px;
    position: relative;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9
}

input[type="checkbox"]:checked::before {
    content: "";
    background-color: rgba(24, 144, 255, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

input[type=checkbox]:checked::after {
    content: '';
    top: 3px;
    left: 3px;
    position: absolute;
    background: transparent;
    border: #fff solid 2px;
    border-top: none;
    border-right: none;
    height: 6px;
    width: 10px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

