<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <title>品牌推广</title>
    <link href="../../css/comon0.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/lawer/lawer_gov.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common_index.css"/>
    <link rel="stylesheet" type="text/css" href="css/band.css"/>
    <SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
    <script type="text/javascript" src="../../js/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
    <script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
    <SCRIPT language=JavaScript src="../../js/bootstrap.min.js"></SCRIPT>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../js/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="/portal/system/getUserProp.do"></script>
    <script type="text/javascript" src="js/band.js"></script>
    <link rel="shortcut icon" href="../../images/favicon.ico">
</head>

<body>
<div id="header"></div>
<div class="bodybg">
    <div class="juz">
        <div class="main">
            <div class="title01">
                <span class="title_lager">品牌推广</span><span class="title_small">/&nbsp;Enterprise Style</span>
            </div>
            <div class="product_container" ng-repeat="item in items" ng-click="showBrand($index);">
                <div class="content_container">
                    <div class="img_container" ng-cloak>
                        <img ng-src="http://zx.huacainfo.com/{{item.fileUrl}}"/>
                    </div>
                    <div class="words_container">
                        <h3 ng-bind="item.title"></h3>
                        <p ng-bind="item.content">

                        </p>
                        <p class="createDate" ng-bind="item.releaseDate"></p>
                    </div>
                </div>
            </div>
            <div id="paganation"></div>
        </div>
        <div>
        </div>
    </div>
</div>
</body>
</html>