<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huacainfo.ace.woc.dao.BlacklistMapper">
    <resultMap id="BaseResultMap" type="com.huacainfo.ace.woc.model.Blacklist">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="personId" property="personId" jdbcType="VARCHAR"/>
        <result column="vehicleId" property="vehicleId" jdbcType="VARCHAR"/>
        <result column="departmentId" property="departmentId" jdbcType="VARCHAR"/>
        <result column="effectDate" property="effectDate" jdbcType="TIMESTAMP"/>
        <result column="effectReason" property="effectReason" jdbcType="VARCHAR"/>
        <result column="lapseDate" property="lapseDate" jdbcType="TIMESTAMP"/>
        <result column="lapseReason" property="lapseReason" jdbcType="VARCHAR"/>
        <result column="isBlack" property="isBlack" jdbcType="CHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="createUserId" property="createUserId" jdbcType="VARCHAR"/>
        <result column="createUserName" property="createUserName" jdbcType="VARCHAR"/>
        <result column="createDate" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="lastModifyUserId" property="lastModifyUserId" jdbcType="VARCHAR"/>
        <result column="lastModifyUserName" property="lastModifyUserName" jdbcType="VARCHAR"/>
        <result column="lastModifyDate" property="lastModifyDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, personId, vehicleId, departmentId, effectDate, effectReason, lapseDate, lapseReason, 
    isBlack, remark, status, createUserId, createUserName, createDate, lastModifyUserId, 
    lastModifyUserName, lastModifyDate
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from blacklist
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from blacklist
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.huacainfo.ace.woc.model.Blacklist">
    insert into blacklist (id, personId, vehicleId, 
      departmentId, effectDate, effectReason, 
      lapseDate, lapseReason, isBlack, 
      remark, status, createUserId, 
      createUserName, createDate, lastModifyUserId, 
      lastModifyUserName, lastModifyDate)
    values (#{id,jdbcType=VARCHAR}, #{personId,jdbcType=VARCHAR}, #{vehicleId,jdbcType=VARCHAR}, 
      #{departmentId,jdbcType=VARCHAR}, #{effectDate,jdbcType=TIMESTAMP}, #{effectReason,jdbcType=VARCHAR}, 
      #{lapseDate,jdbcType=TIMESTAMP}, #{lapseReason,jdbcType=VARCHAR}, #{isBlack,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{lastModifyUserId,jdbcType=VARCHAR}, 
      #{lastModifyUserName,jdbcType=VARCHAR}, #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.huacainfo.ace.woc.model.Blacklist">
        insert into blacklist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="personId != null">
                personId,
            </if>
            <if test="vehicleId != null">
                vehicleId,
            </if>
            <if test="departmentId != null">
                departmentId,
            </if>
            <if test="effectDate != null">
                effectDate,
            </if>
            <if test="effectReason != null">
                effectReason,
            </if>
            <if test="lapseDate != null">
                lapseDate,
            </if>
            <if test="lapseReason != null">
                lapseReason,
            </if>
            <if test="isBlack != null">
                isBlack,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createUserId != null">
                createUserId,
            </if>
            <if test="createUserName != null">
                createUserName,
            </if>
            <if test="createDate != null">
                createDate,
            </if>
            <if test="lastModifyUserId != null">
                lastModifyUserId,
            </if>
            <if test="lastModifyUserName != null">
                lastModifyUserName,
            </if>
            <if test="lastModifyDate != null">
                lastModifyDate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="personId != null">
                #{personId,jdbcType=VARCHAR},
            </if>
            <if test="vehicleId != null">
                #{vehicleId,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="effectDate != null">
                #{effectDate,jdbcType=TIMESTAMP},
            </if>
            <if test="effectReason != null">
                #{effectReason,jdbcType=VARCHAR},
            </if>
            <if test="lapseDate != null">
                #{lapseDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lapseReason != null">
                #{lapseReason,jdbcType=VARCHAR},
            </if>
            <if test="isBlack != null">
                #{isBlack,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifyUserId != null">
                #{lastModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyUserName != null">
                #{lastModifyUserName,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyDate != null">
                #{lastModifyDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.huacainfo.ace.woc.model.Blacklist">
        update blacklist
        <set>
            <if test="personId != null">
                personId = #{personId,jdbcType=VARCHAR},
            </if>
            <if test="vehicleId != null">
                vehicleId = #{vehicleId,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                departmentId = #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="effectDate != null">
                effectDate = #{effectDate,jdbcType=TIMESTAMP},
            </if>
            <if test="effectReason != null">
                effectReason = #{effectReason,jdbcType=VARCHAR},
            </if>
            <if test="lapseDate != null">
                lapseDate = #{lapseDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lapseReason != null">
                lapseReason = #{lapseReason,jdbcType=VARCHAR},
            </if>
            <if test="isBlack != null">
                isBlack = #{isBlack,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="createUserId != null">
                createUserId = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                createUserName = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                createDate = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifyUserId != null">
                lastModifyUserId = #{lastModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyUserName != null">
                lastModifyUserName = #{lastModifyUserName,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyDate != null">
                lastModifyDate = #{lastModifyDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huacainfo.ace.woc.model.Blacklist">
    update blacklist
    set personId = #{personId,jdbcType=VARCHAR},
      vehicleId = #{vehicleId,jdbcType=VARCHAR},
      departmentId = #{departmentId,jdbcType=VARCHAR},
      effectDate = #{effectDate,jdbcType=TIMESTAMP},
      effectReason = #{effectReason,jdbcType=VARCHAR},
      lapseDate = #{lapseDate,jdbcType=TIMESTAMP},
      lapseReason = #{lapseReason,jdbcType=VARCHAR},
      isBlack = #{isBlack,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      createUserId = #{createUserId,jdbcType=VARCHAR},
      createUserName = #{createUserName,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      lastModifyUserId = #{lastModifyUserId,jdbcType=VARCHAR},
      lastModifyUserName = #{lastModifyUserName,jdbcType=VARCHAR},
      lastModifyDate = #{lastModifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>