<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huacainfo.ace.woc.dao.LicenseMapper">
    <resultMap id="BaseResultMap" type="com.huacainfo.ace.woc.model.License">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="licenseType" property="licenseType" jdbcType="VARCHAR"/>
        <result column="licenseNo" property="licenseNo" jdbcType="VARCHAR"/>
        <result column="expiryDate" property="expiryDate" jdbcType="TIMESTAMP"/>
        <result column="personId" property="personId" jdbcType="VARCHAR"/>
        <result column="vehicleId" property="vehicleId" jdbcType="VARCHAR"/>
        <result column="departmentId" property="departmentId" jdbcType="VARCHAR"/>
        <result column="licenseImg1" property="licenseImg1" jdbcType="VARCHAR"/>
        <result column="licenseImg2" property="licenseImg2" jdbcType="VARCHAR"/>
        <result column="licenseImg3" property="licenseImg3" jdbcType="VARCHAR"/>
        <result column="licenseImg4" property="licenseImg4" jdbcType="VARCHAR"/>
        <result column="createUserId" property="createUserId" jdbcType="VARCHAR"/>
        <result column="createUserName" property="createUserName" jdbcType="VARCHAR"/>
        <result column="createDate" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="lastModifyUserId" property="lastModifyUserId" jdbcType="VARCHAR"/>
        <result column="lastModifyUserName" property="lastModifyUserName" jdbcType="VARCHAR"/>
        <result column="lastModifyDate" property="lastModifyDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, licenseType, licenseNo, expiryDate, personId, vehicleId, departmentId, licenseImg1, 
    licenseImg2, licenseImg3, licenseImg4, createUserId, createUserName, createDate, 
    lastModifyUserId, lastModifyUserName, lastModifyDate
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from license
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from license
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.huacainfo.ace.woc.model.License">
    insert into license (id, licenseType, licenseNo, 
      expiryDate, personId, vehicleId, 
      departmentId, licenseImg1, licenseImg2, 
      licenseImg3, licenseImg4, createUserId, 
      createUserName, createDate, lastModifyUserId, 
      lastModifyUserName, lastModifyDate)
    values (#{id,jdbcType=VARCHAR}, #{licenseType,jdbcType=VARCHAR}, #{licenseNo,jdbcType=VARCHAR}, 
      #{expiryDate,jdbcType=TIMESTAMP}, #{personId,jdbcType=VARCHAR}, #{vehicleId,jdbcType=VARCHAR}, 
      #{departmentId,jdbcType=VARCHAR}, #{licenseImg1,jdbcType=VARCHAR}, #{licenseImg2,jdbcType=VARCHAR}, 
      #{licenseImg3,jdbcType=VARCHAR}, #{licenseImg4,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{lastModifyUserId,jdbcType=VARCHAR}, 
      #{lastModifyUserName,jdbcType=VARCHAR}, #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.huacainfo.ace.woc.model.License">
        insert into license
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="licenseType != null">
                licenseType,
            </if>
            <if test="licenseNo != null">
                licenseNo,
            </if>
            <if test="expiryDate != null">
                expiryDate,
            </if>
            <if test="personId != null">
                personId,
            </if>
            <if test="vehicleId != null">
                vehicleId,
            </if>
            <if test="departmentId != null">
                departmentId,
            </if>
            <if test="licenseImg1 != null">
                licenseImg1,
            </if>
            <if test="licenseImg2 != null">
                licenseImg2,
            </if>
            <if test="licenseImg3 != null">
                licenseImg3,
            </if>
            <if test="licenseImg4 != null">
                licenseImg4,
            </if>
            <if test="createUserId != null">
                createUserId,
            </if>
            <if test="createUserName != null">
                createUserName,
            </if>
            <if test="createDate != null">
                createDate,
            </if>
            <if test="lastModifyUserId != null">
                lastModifyUserId,
            </if>
            <if test="lastModifyUserName != null">
                lastModifyUserName,
            </if>
            <if test="lastModifyDate != null">
                lastModifyDate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="licenseType != null">
                #{licenseType,jdbcType=VARCHAR},
            </if>
            <if test="licenseNo != null">
                #{licenseNo,jdbcType=VARCHAR},
            </if>
            <if test="expiryDate != null">
                #{expiryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="personId != null">
                #{personId,jdbcType=VARCHAR},
            </if>
            <if test="vehicleId != null">
                #{vehicleId,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="licenseImg1 != null">
                #{licenseImg1,jdbcType=VARCHAR},
            </if>
            <if test="licenseImg2 != null">
                #{licenseImg2,jdbcType=VARCHAR},
            </if>
            <if test="licenseImg3 != null">
                #{licenseImg3,jdbcType=VARCHAR},
            </if>
            <if test="licenseImg4 != null">
                #{licenseImg4,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifyUserId != null">
                #{lastModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyUserName != null">
                #{lastModifyUserName,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyDate != null">
                #{lastModifyDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.huacainfo.ace.woc.model.License">
        update license
        <set>
            <if test="licenseType != null">
                licenseType = #{licenseType,jdbcType=VARCHAR},
            </if>
            <if test="licenseNo != null">
                licenseNo = #{licenseNo,jdbcType=VARCHAR},
            </if>
            <if test="expiryDate != null">
                expiryDate = #{expiryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="personId != null">
                personId = #{personId,jdbcType=VARCHAR},
            </if>
            <if test="vehicleId != null">
                vehicleId = #{vehicleId,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                departmentId = #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="licenseImg1 != null">
                licenseImg1 = #{licenseImg1,jdbcType=VARCHAR},
            </if>
            <if test="licenseImg2 != null">
                licenseImg2 = #{licenseImg2,jdbcType=VARCHAR},
            </if>
            <if test="licenseImg3 != null">
                licenseImg3 = #{licenseImg3,jdbcType=VARCHAR},
            </if>
            <if test="licenseImg4 != null">
                licenseImg4 = #{licenseImg4,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                createUserId = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                createUserName = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                createDate = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifyUserId != null">
                lastModifyUserId = #{lastModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyUserName != null">
                lastModifyUserName = #{lastModifyUserName,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyDate != null">
                lastModifyDate = #{lastModifyDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huacainfo.ace.woc.model.License">
    update license
    set licenseType = #{licenseType,jdbcType=VARCHAR},
      licenseNo = #{licenseNo,jdbcType=VARCHAR},
      expiryDate = #{expiryDate,jdbcType=TIMESTAMP},
      personId = #{personId,jdbcType=VARCHAR},
      vehicleId = #{vehicleId,jdbcType=VARCHAR},
      departmentId = #{departmentId,jdbcType=VARCHAR},
      licenseImg1 = #{licenseImg1,jdbcType=VARCHAR},
      licenseImg2 = #{licenseImg2,jdbcType=VARCHAR},
      licenseImg3 = #{licenseImg3,jdbcType=VARCHAR},
      licenseImg4 = #{licenseImg4,jdbcType=VARCHAR},
      createUserId = #{createUserId,jdbcType=VARCHAR},
      createUserName = #{createUserName,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      lastModifyUserId = #{lastModifyUserId,jdbcType=VARCHAR},
      lastModifyUserName = #{lastModifyUserName,jdbcType=VARCHAR},
      lastModifyDate = #{lastModifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>