body {
    background-color: #F7F9FC;
    font-size: 3.7vw;
    color: #8B8AA6;
    line-height: 3.4vh;
    padding: 2.4vh 0 10.2vh;
    position: relative;
    height: 100vh;
}

.top_card {
    width: 100vw;
    height: 64.6vh;
    background: url(../image/card1.png);
    background-size: 100% 100%;
    padding: 20.2vh 9.3vw 0;
}

