<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>财务公开</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<script type="text/javascript" src="../js/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/mobileSelect.min.js"></script>
		<script type="text/javascript" src="../js/nav.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/nav.css"/>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/mobileSelect.css"/>
		<link rel="stylesheet" type="text/css" href="css/finance.css"/>
		<script type="text/javascript" src="js/finance.js"></script>
	</head>
	<body>
		<div class="financebox">
			<div class="finance_total">
				<div class="finance_total_01" ng-bind="staticsTotal"></div>
				<div class="finance_total_02">
					<span>募集总金额(元)</span>
					<span id="trigger1">筛选</span>
				</div>
			</div>
			<div class="finance_title_nav">
				<!--<div class="finance_nav">-->
					<!--<ul class="finance_nav_ul">
						<li onclick="hoverli('raise');">募集资金</li>
						<li onclick="hoverli('pay');">支出资金</li>
					</ul>-->
					<div class="navigation">
						<div class="news-title">
							<ul class="news-module finance_nav_ul clear">
								<li class="active"  onclick="hoverli('raise');">募集资金</li>
								<li onclick="hoverli('pay');">支出资金</li>
							</ul>
							<div class="news-slider"></div>
						</div>
					</div>
				<!--</div>-->
			</div>
			<div class="finance_content">
				<div id="raise" class="dis">
					<div class="raise_list" ng-repeat="donate in donateList">
						<div class="raise_left">
							<div class="raise_left_image"><img ng-src="{{donate.headimgurl}}" width="100%" height="100%"/></div>
							<div class="raise_left_name" ng-bind="donate.nickname"></div>
						</div>
						<div class="raise_right">
							<div class="raise_right01">
								<span class="raise_title" ng-bind="donate.projectName"></span>
							</div>
							<div class="raise_right02">
								<span class="raise_right01_title">捐赠<span class="raise_money" ng-bind="donate.donateAmount"></span>元</span><span class="raise_right01_time" ng-bind="donate.donateDate | formatDate"></span>
								<div style="clear: both;"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="pay" class="undis">
					<div class="pay_list" ng-repeat="record in  recordList">
						<div class="pay_list_01">
							<div class="pay_list_left" ng-bind="record.projectName"></div>
							<div class="pay_list_right">支出<span class="raise_money" ng-bind="record.useAmount"></span>元</div>
							<div style="clear: both;"></div>
						</div>
						<div class="pay_list_01">
							<div class="pay_list_left gray" ng-cloak>使用记录:{{record.useToProjectName}}</div>
							<div class="pay_list_right gray" ng-bind="record.createDate | formatDate"></div>
							<div style="clear: both;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
