<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>财务公开</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<link rel="stylesheet" type="text/css" href="css/finance.css"/>
		<script type="text/javascript" src="js/finance.js"></script>
	</head>
	<body>
		<div class="financebox">
			<div class="finance_total">
				<div class="finance_total_01">150,029,077,88</div>
				<div class="finance_total_02">募集总金额(元)</div>
			</div>
			<div class="finance_title_nav">
				<div class="finance_nav">
					<ul class="finance_nav_ul">
						<li onclick="hoverli('raise');">募集资金</li>
						<li onclick="hoverli('pay');">支出资金</li>
					</ul>
				</div>
			</div>
			<div class="finance_content">
				<div id="raise" class="dis">
					<div class="raise_list">
						<div class="raise_left">
							<div class="raise_left_image"><img src="img/users.png" width="100%" height="100%"/></div>
							<div class="raise_left_name">丹丹</div>
						</div>
						<div class="raise_right">
							<div class="raise_right01">
								<span class="raise_right01_title">大病医疗慈善救助项目</span><span class="raise_right01_time">2018-06-12</span>
								<div style="clear: both;"></div>
							</div>
							<div class="raise_right02">
								捐赠<span class="raise_money">2000</span>元
							</div>
						</div>
					</div>
					
					<div class="raise_list">
						<div class="raise_left">
							<div class="raise_left_image"><img src="img/users.png" width="100%" height="100%"/></div>
							<div class="raise_left_name">丹丹</div>
						</div>
						<div class="raise_right">
							<div class="raise_right01">
								<span class="raise_right01_title">大病医疗慈善救助项目</span><span class="raise_right01_time">2018-06-12</span>
								<div style="clear: both;"></div>
							</div>
							<div class="raise_right02">
								捐赠<span class="raise_money">2000</span>元
							</div>
						</div>
					</div>
					
					<div class="raise_list">
						<div class="raise_left">
							<div class="raise_left_image"><img src="img/users.png" width="100%" height="100%"/></div>
							<div class="raise_left_name">丹丹</div>
						</div>
						<div class="raise_right">
							<div class="raise_right01">
								<span class="raise_right01_title">大病医疗慈善救助项目</span><span class="raise_right01_time">2018-06-12</span>
								<div style="clear: both;"></div>
							</div>
							<div class="raise_right02">
								捐赠<span class="raise_money">2000</span>元
							</div>
						</div>
					</div>
					
					<div class="raise_list">
						<div class="raise_left">
							<div class="raise_left_image"><img src="img/users.png" width="100%" height="100%"/></div>
							<div class="raise_left_name">丹丹</div>
						</div>
						<div class="raise_right">
							<div class="raise_right01">
								<span class="raise_right01_title">大病医疗慈善救助项目</span><span class="raise_right01_time">2018-06-12</span>
								<div style="clear: both;"></div>
							</div>
							<div class="raise_right02">
								捐赠<span class="raise_money">2000</span>元
							</div>
						</div>
					</div>
				</div>
				<div id="pay" class="undis">
					<div class="pay_list">
						<div class="pay_list_01">
							<div class="pay_list_left">“点燃希望”慈善助学</div>
							<div class="pay_list_right">支出<span class="raise_money">10000</span>元</div>
							<div style="clear: both;"></div>
						</div>
						<div class="pay_list_01">
							<div class="pay_list_left gray">使用记录:鼎城区蔡家岗扶贫项目</div>
							<div class="pay_list_right gray">2018-06-12</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div class="pay_list">
						<div class="pay_list_01">
							<div class="pay_list_left">“点燃希望”慈善助学</div>
							<div class="pay_list_right">支出<span class="raise_money">10000</span>元</div>
							<div style="clear: both;"></div>
						</div>
						<div class="pay_list_01">
							<div class="pay_list_left gray">使用记录:鼎城区蔡家岗扶贫项目</div>
							<div class="pay_list_right gray">2018-06-12</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div class="pay_list">
						<div class="pay_list_01">
							<div class="pay_list_left">“点燃希望”慈善助学</div>
							<div class="pay_list_right">支出<span class="raise_money">10000</span>元</div>
							<div style="clear: both;"></div>
						</div>
						<div class="pay_list_01">
							<div class="pay_list_left gray">使用记录:鼎城区蔡家岗扶贫项目</div>
							<div class="pay_list_right gray">2018-06-12</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div class="pay_list">
						<div class="pay_list_01">
							<div class="pay_list_left">“点燃希望”慈善助学</div>
							<div class="pay_list_right">支出<span class="raise_money">10000</span>元</div>
							<div style="clear: both;"></div>
						</div>
						<div class="pay_list_01">
							<div class="pay_list_left gray">使用记录:鼎城区蔡家岗扶贫项目</div>
							<div class="pay_list_right gray">2018-06-12</div>
							<div style="clear: both;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
