<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>常德慈善总会</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<script type="text/javascript" src="../js/angular/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/cuproject.css"/>
		<script type="text/javascript" src="js/cuproject.js"></script>
	</head>
	<body>
		<div class="cubox">
			<div class="project_title">凝聚 <span class="project_title01">468.060.208 </span>份爱心</div>
			<div class="projectlist" ng-repeat="item in items">
				<div class="project_item">
					<div class="project_image">
						<img ng-src="{{item.coverUrl}}" width="100%" height="100%"/>
					</div>
					<div class="slogan" ng-bind="item.projectName"></div>
					<div class="slogan01" ng-bind="item.title">为贫困学子点燃希望，筑梦前行</div>
					<div class="operation">
						<button ng-click="help(item.id)">给予帮助</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
