*{
	padding: 0;
	margin: 0;
}
body{
	background: #ffffff;
}
.index{
	width: 100%;
	height: 100%;
}
.title{
	width: auto;
	padding-left: 0.72rem;
	padding-right: 0.72rem;
	font-size: 0.666666rem;
	color: #373F53;
	font-weight: bold;
	padding-top: 0.92rem;
}
.identity{
	width: 4.133333rem;
	height: 4.8rem;
	padding-left: 0.72rem;
	padding-right: 0.72rem;
	margin: 0.6rem auto;
	text-align: center;
}
.identity img{
	width: 4rem;
	height: 4rem;
}
.identity span{
	width: 100%;
	height: 0.6rem;
	display: block;
	text-align: center;
	line-height: 0.6rem;
	font-size: 0.48rem;
}
.unactive{
	color: #ABAEB9;
}
.active{
	color: #373F53;
}
.footer{
	width: 100%;
	height: auto;
}
.footer img{
	width: 98%;
	margin-left: 1%;
	height: 2.08rem;
}
