*{
	padding: 0;
	margin: 0;
}
input::-webkit-input-placeholder{
	font-size: 0.4rem;
	color: #D7D9DF;
}    
input:-moz-placeholder{
	font-size: 0.4rem;
	color: #D7D9DF;
}                
input::-moz-placeholder{
	font-size: 0.4rem;
	color: #D7D9DF;
}                  
input:-ms-input-placeholder{
	font-size: 0.4rem;
	color: #D7D9DF;
}   
.index{
	width: 100%;
	height: 100%;
	background: #F2F2F2;
}
.form-title{
	height: 1.306666rem;
	line-height: 1.306666rem;
	font-size: 0.4rem;
	font-weight: bold;
	color: #373F53;
	padding-left: 0.48rem;
}
.form-box{
	width: 82%;
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
	background: #FFFFFF;
	margin-bottom: 0.266666rem;
	padding-left: 4%;
	padding-right: 4%;
}
.form-content{
	width: 100%;
	height: 1.466666rem;
	border-radius: 0.133333rem;
}

.form-border{
	border-bottom: 1px solid #F0EFF6;
}
.form-content:after{
	content: '';
	clear: both;
	display: block;
}
.form-label{
	width: 30%;
	height: 1.466666rem;
	line-height: 1.466666rem;
	float: left;
	color: #373F53;
	font-size: 0.426666rem;
	font-weight: 500;
}
.form-input{
	width: 70%;
	height: 1.466666rem;
	border: none;
	outline: none;
	float: left;
	font-size: 0.4rem;
	color: #ABAEB9;
}
.radio-box{
	width: 70%;
	height: 1.466666rem;
	line-height: 1.466666rem;
	float: left;	
}
.radio-box:after{
	content: '';
	clear: both;
	display: block;
}
.sex-box{
	width: 50%;
	height: 100%;
	float: left;
	color: #373F53;
	font-size: 0.373333rem;
	font-weight: 500;
}
.sex-radio{
	width: 0.413333rem;
	height: 0.413333rem;
	margin:0  0.226666rem;
}
.tips{
	width: 90%;
	height: 0.533333rem;
	margin-top: 0.053333rem;
	margin-left: 5%;
	margin-right: 5%;
}
.tips:after{
	content: '';
	clear: both;
	display: block;
}
.tips-img{
	width: 0.533333rem;
	height: 0.533333rem;
	margin-right: 0.28rem;
	float: left;
}
.tips-img img{
	width: 100%;
	height: 100%;
}
.tips-content{
	height: 0.533333rem;
	line-height: 0.533333rem;
	color: #ABAEB9;
	font-size: 0.4rem;
	float: left;
}
.footer{
	width: 100%;
	height: 2.733333rem;
	margin-top: 1.266666rem;
}
.footer img{
	width: 100%;
	height: 2.08rem;
	margin-bottom: 0.653333rem;
}
.basicinfo{
	position: relative;
}

.camera-box{
	width: 1.2rem;
	height: 1.213333rem;
	position: absolute;
	top: 0.933333rem;
	right: 0.453333rem;
}
.camera{
	width: 100%;
	height: 100%;
}
.form-select{
	width: 60%;
	height: 1.466666rem;
	line-height: 1.466666rem;
	border: none;
	outline: none;
	float: left;
	font-size: 0.4rem;
	color: #ABAEB9;
}
.redirect{
	width: 0.2rem;
	height: 0.346666rem;
	float: right;
	margin-top: 0.56rem;
}
.unselect{
	font-size: 0.4rem;
	color: #D7D9DF;
	line-height: 1.466666rem;
}
