package com.huacainfo.ace.face.service;
import com.huacainfo.ace.common.model.UserProp;
import com.huacainfo.ace.common.result.MessageResponse;
import com.huacainfo.ace.common.result.PageResult;
import com.huacainfo.ace.common.result.SingleResult;
import com.huacainfo.ace.face.model.$!{bean.name};
import com.huacainfo.ace.face.vo.$!{bean.name}Vo;
import com.huacainfo.ace.face.vo.$!{bean.name}QVo;
/**
 * @author: $!{annotation.authorName}
 * @version: $!{annotation.version}
 * @Description:  TODO($!{bean.tableChineseName})
 */
public interface $!{bean.name}Service {
    /**
	 *
	    * @Title:find!{bean.name}List
	    * @Description:  TODO($!{bean.tableChineseName}分页查询)
	 		* @param:        @param condition
	 		* @param:        @param start
	 		* @param:        @param limit
	 		* @param:        @param orderBy
	 		* @param:        @throws Exception
	 		* @return:       PageResult<$!{bean.name}Vo>
	 		* @throws
	    * @author: $!{annotation.authorName}
	    * @version: $!{annotation.version}
	 */
	public abstract PageResult<$!{bean.name}Vo> find$!{bean.name}List($!{bean.name}QVo condition, int start, int limit, String orderBy) throws Exception;

    /**
	 *
	    * @Title:insert$!{bean.name}
	    * @Description:  TODO(添加$!{bean.tableChineseName})
	 		* @param:        @param obj
	 		* @param:        @param userProp
	 		* @param:        @throws Exception
	 		* @return:       MessageResponse
	 		* @throws
	    * @author: $!{annotation.authorName}
	    * @version: $!{annotation.version}
	 */
	public abstract MessageResponse insert$!{bean.name}($!{bean.name} obj,UserProp userProp) throws Exception;

    /**
	 *
	    * @Title:update$!{bean.name}
	    * @Description:  TODO(更新$!{bean.tableChineseName})
	 		* @param:        @param obj
	 		* @param:        @param userProp
	 		* @param:        @throws Exception
	 		* @return:       MessageResponse
	 		* @throws
	    * @author: $!{annotation.authorName}
	    * @version: $!{annotation.version}
	 */
	public abstract MessageResponse update$!{bean.name}($!{bean.name} obj,UserProp userProp) throws Exception;
    /**
	 *
	    * @Title:select$!{bean.name}ByPrimaryKey
	    * @Description:  TODO(获取$!{bean.tableChineseName})
	 		* @param:        @param id
	 		* @param:        @throws Exception
	 		* @return:       SingleResult<$!{bean.name}>
	 		* @throws
	    * @author: $!{annotation.authorName}
	    * @version: $!{annotation.version}
	 */
	public abstract SingleResult<$!{bean.name}Vo> select$!{bean.name}ByPrimaryKey(String id) throws Exception;
    /**
	 *
	    * @Title:delete$!{bean.name}By$!{bean.name}Id
	    * @Description:  TODO(删除$!{bean.tableChineseName})
	 		* @param:        @param id
	 		* @param:        @param  userProp
	 		* @param:        @throws Exception
	 		* @return:       MessageResponse
	 		* @throws
	    * @author: $!{annotation.authorName}
	    * @version: $!{annotation.version}
	 */
	public abstract MessageResponse delete$!{bean.name}By$!{bean.name}Id(String id,UserProp userProp) throws Exception;

	
}
