<!DOCTYPE html>
<html  ng-app="angularjsApp" ng-controller="angularjsCtrl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
		<title>会员注册</title>
		<link href="../../css/comon0.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="css/regist.css"/>
		<SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
		<script type="text/javascript" src="../../js/angular/angular.min.js"></script>
		<script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
		<script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
		<SCRIPT language=JavaScript src="../../js/js.js"></SCRIPT>
		<script type="text/javascript" src="js/regist.js"></script>
	</head>

	<body>
		<div class="headbox">
			<div class="head juz">
				<div class="head_top"><span class="head_welcome">欢迎访问湖南省常德市工商联合会！</span>
					<a class="head_login" href="/portal/dynamic/portal/security/login.jsp">登录</a>
				</div>
				<div class="head_menu head_menu01">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="300"><img src="../../images/logo.png" /></td>
							<td>
								<ul>
									<li class="active">
										<a href="index.html">首页</a>
									</li>
									<li>
										<a href="#">企业服务</a>
									</li>
									<li>
										<a href="">会员服务</a>
									</li>
									<li>
										<a href="#">服务互动</a>
									</li>
								</ul>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="regist_main">
			<div class="regist_div">
				<div class="regist_title">
					<span class="regist_title_01">注册账号</span>
					<span class="regist_title_02"><a href="/portal/dynamic/portal/security/login.jsp">已有账号登录</a></span>
				</div>
				<div class="regist_form">
					<div class="regist_form_title"><i>*</i><span>选择会员类型</span></div>
					<div class="regist_type">
						<div class="company_member unhover_border companyType" data-name="企业会员" ng-click="changeType($event,true);">
							<div class="image"><img src="../../images/login/company@3x.png" /></div>
							<span>企业会员</span>
							<div name="check" class="check default"><img src="../../images/login/check@3x.png"/></div>
						</div>
						<div class="group_member unhover_border companyType" data-name="团体会员"  ng-click="changeType($event,false);">
							<div class="image"><img src="../../images/login/group@3x.png" /></div>
							<span>团体会员</span>
							<div name="check" class="check default"><img src="../../images/login/check@3x.png"/></div>
						</div>
					</div>
					<div style="clear: both;"></div>
					<div class="regist_form_title"><i>*</i><span id="name">企业名称</span></div>
					<div class="form_text"><input type="text" placeholder="请输入企业名称" name="regist_name"/></div>
					<div class="regist_form_title"><i>*</i><span>账户设置</span></div>
					<div class="form_text"><input type="text" placeholder="请输入手机号/邮箱" name="regist_num"/></div>
					<div class="form_text" align="center"><button ng-click="resigt();">立即注册</button></div>
				</div>
			</div>
		</div>
	</body>

</html>