body {
	width: 100%;
	min-width: 900px;
	height: auto;
	background-color: #F4F4F4;
}
html{
	background-color: #ffffff;
}
.index {
	width: 70%;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	background-color: #FFFFFF;
}
.content{
	width: 100%;
	background-color: #FFFFFF;
}
.project_list {
	color: #657180;
}

.project_title {
	color: #31364B;
	font-size: 18px;
	font-weight: bolder;
}

.income_title {
	font-size: 12px;
}

.income {
	color: #FF9F00;
	font-size: 18px;
}

.table_div {
	margin-bottom: 30px;
}

.table_div tr {
	height: 30px;
}

.search {
	margin-top: 30px;
}

.search_list {
	margin-top: 30px;
}

.search_filter1 {
	width: 100%;
	height: 62px;
	line-height: 62px;
}

.search_filter2 {
	width: 100%;
	height: 62px;
	line-height: 62px;
}

.filter_title1 {
	width: 100px;
	float: left;
}

#demo1 {
	width: 400px;
	float: left;
}

.filter_title2 {
	width: 100px;
	float: left;
}

#demo2 {
	width: 400px;
	float: left;
}

.main {
	width: 60%;
	margin: auto;
}

.title_lager {
	color: #565B70;
	font-weight: bolder;
	font-size: 18px;
	width: 8%;
	display: inline-block;
	border-bottom: 3px solid #FF9F00;
	height: 62px;
	line-height: 62px;
	vertical-align: middle;
	overflow: hidden;
}

.title_small {
	color: #FFFFFF;
	display: inline-block;
	width: 92%;
	border-bottom: 1px solid #E1E5ED;
	height: 62px;
	line-height: 62px;
	vertical-align: middle;
}

.product_form {
	width: 80%;
	margin: auto;
}

.product_table {
	width: 100%;
}

.product_table tr {
	height: 62px;
	/*line-height: 62px;*/
}

.required {
	color: red;
}

.submit {
	width: 200px;
	height: 32px;
	line-height: 32px;
	background-color: #1A56A8;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	display: block;
}

.tab_title_ul {
	width: 100%;
	height: 62px;
	margin-top: 30px;
	position: relative;
}

.tab_title_load {
	width: 80px;
	height: 30px;
	position: absolute;
	right: 10px;
	bottom: 40px;
}

.tab_title_load button {
	width: 80px;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	background-color: #1A56A8;
	border: none;
	border-radius: 5px;
	margin-top: 30px;
}

.finance_list_title {
	height: 62px;
	line-height: 62px;
	margin-bottom: 30px;
	border-bottom: 1px solid #E1E5ED;
}

/*.table_div table:hover {*/
	/*border: 1px solid #FF9F00;*/
/*}*/

.table_div table{
	border-bottom: 1px solid #E1E5ED;
	cursor: pointer;
}
.title_lager {
	color: #565B70;
	font-weight: bolder;
	font-size: 18px;
	width: 12%;
	display: inline-block;
	border-bottom: 3px solid #FF9F00;
	height: 62px;
	line-height: 62px;
}

.title_small {
	color: #C3CBD6;
	display: inline-block;
	width: 88%;
	border-bottom: 1px solid #E1E5ED;
	height: 62px;
	line-height: 62px;
}
.search_left {
	width: 100px;
	float: left;
	height: 30px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #E1E5ED;
	margin-top: 16px;
	color: #31364B;
	cursor: pointer;
	margin-left: 0%;
}
#financeTitle {
	width: 200px;
	height: 35px;
	float: left;
	background-color: #fff;
}
.searchButton {
	padding-top: 0;
	width: 50px;
	height: 35px;
	border: none;
	background-color: #1A56A8;
	color: #FFFFFF;
}
* { -ms-word-wrap: break-word; word-wrap: break-word; }
html { -webkit-text-size-adjust: none; text-size-adjust: none; }
html, body {width:100%; }
.wrap{width:400px;height:62px;margin-top:13.5px;border:0;position:relative;float: left;}
.input{position:absolute;top:0;left:0;width:457px;margin:0;padding-left:5px;height:35px;line-height:30px;font-size:12px;border:1px solid #c9cacb;}
/*s{position:absolute;top:1px;right:0;width:32px;height:32px;background:url("../../images/icons/arrow.png") no-repeat;}*/
._citys { width: 450px; display: inline-block; border: 2px solid #eee; padding: 5px; position: relative; }
._citys span { color: #1A56A8; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #1A56A8; cursor: pointer; }
._citys0 { width: 95%; height: 34px; line-height: 34px; display: inline-block; border-bottom: 2px solid #1A56A8; padding: 0px 5px; font-size:14px; font-weight:bold; margin-left:6px; background-color: #ffffff;}
._citys0 li { display: inline-block; line-height: 34px; font-size: 15px; color: #888; width: 80px; text-align: center; cursor: pointer; }
._citys1 { width: 100%; display: inline-block; padding: 10px 0; background-color: #ffffff}
._citys1 a { width: 83px; height: 35px; display: inline-block; background-color: #f5f5f5; color: #666; margin-left: 6px; margin-top: 3px; line-height: 35px; text-align: center; cursor: pointer; font-size: 12px; border-radius: 5px; overflow: hidden; }
._citys1 a:hover { color: #fff; background-color: #1A56A8; }
.AreaS { background-color: #05920a !important; color: #fff !important; }

._mcitys { width: 450px; display: inline-block; border: 2px solid #eee; padding: 5px; position: relative; }
._mcitys span { color: #1A56A8; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #1A56A8; cursor: pointer; }
._mcitys0 { width: 95%; height: 34px; line-height: 34px; display: inline-block; border-bottom: 2px solid #1A56A8; padding: 0px 5px; font-size:14px; font-weight:bold; margin-left:6px; }
._mcitys0 li { display: inline-block; line-height: 34px; font-size: 15px; color: #888; width: 80px; text-align: center; cursor: pointer; }
._mcitys1 { width: 100%; display: inline-block; padding: 10px 0; background-color: #ffffff}
._mcitys1 a { width: 83px; height: 35px; display: inline-block; background-color: #f5f5f5; color: #666; margin-left: 6px; margin-top: 3px; line-height: 35px; text-align: center; cursor: pointer; font-size: 12px; border-radius: 5px; overflow: hidden; }
._mcitys1 a:hover { color: #fff; background-color: #1A56A8; }