body {
	width: 100%;
	color: #9EA7B4;
	padding: 0px;
	margin: 0px;
	min-width: 900px;
}
/**
 * 左边菜单样式
 */
.member_menu ul {
	list-style: none;
}

.member_menu li {
	display: block;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.member_menu li a {
	padding-left: 40px;
	width: 100%;
	height: 100%;
	display: block;
	color: #31364B;
}

/*.member_menu li:hover, .member_menu li:hover a {
	background-color: #1A56A8;
	color: #FFFFFF;
}

.hover_li {
	background-color: #1A56A8;

}*/

.hover_li >a{
	color: #FFFFFF;
}
.member_center_title01 {
	color: #1A56A8;
	font-size: 22px;
	font-weight: bolder;
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding-left: 22px;
	border-bottom: 1px solid #E1E5ED;
}

.member_center_title01 span {
	font-size: 12px;
	color: rgba(195, 203, 214, 1);
}

.member_center_title02 {
	display: block;
	font-size: 14px;
	color: #31364B;
	font-weight: bolder;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px dotted #E1E5ED;
	padding-left: 40px;
}

/**
 * 右边表单样式
 */
.member_main {
	width: 90%;
	margin: auto;
}

.member_table {
	width: 100%;
}

.member_table tr {
	height: 35px;
}

.left{
	width: 90%;
	height: 35px;
}

.editor {
	height: 150px;
}

.editor textarea {
	width: 100%;
	height: 150px;
}

.right {
	width: 100%;
	height: 35px;
}

.member_title01 {
	color: #1A56A8;
	font-size: 16px;
}

.upload {
	height: 150px;
}

.upload_image {
	width: 100%;
	height: 150px;
	background-color: #E1E5ED;
	color: #9EA7B4;
	border: none;
}
.resume{
	width: 100%;
	height: 100px;
}
.resume textarea{
	width: 100%;
	height: 100px;
}
.juz1 {
	width: 1100px;
	margin: 0 auto;
	margin-top: 15px;
}