<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>关于我们</title>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/init-rem.js"></script>
    <link rel="stylesheet" type="text/css" href="css/about.css"/>
</head>
<body>
<div class="about_box">
    <div class="about_title_box">
        <img src="img/logo.png" style="width: 1.5rem; height: 1.5rem;"/>
        <p>常德市慈善总会</p>
    </div>
    <div class="about_content">
        <div class="item"><p class="title_01">基本信息</p></div>
        <div class="item">
            <p class="title_02">机构介绍</p>
            <p class="content">常德市慈善总会宗旨是弘扬中华民族扶贫济困的传统美德，倡导人道主义精神，动员和组织社会力量为弱势群体提供各种救助，促进本市慈善公益、社会福利事业发展和社会的和谐进步。</p>
        </div>
        <div class="item">
            <p class="title_02">总会宗旨</p>
            <p class="content">常德市慈善总会宗旨是弘扬中华民族扶贫济困的传统美德，倡导人道主义精神，动员和组织社会力量为弱势群体提供各种救助，促进本市慈善公益、社会福利事业发展和社会的和谐进步。</p>
        </div>
        <div class="item">
            <p class="title_02">地址</p>
            <p class="content">
                湖南省常德市建设西路57号
            </p>
        </div>
        <div class="item">
            <p class="title_02">联系电话</p>
            <p class="content">
                0736—7269722
            </p>
        </div>
        <div class="item">
            <p class="title_02">邮箱</p>
            <p class="content">cdcs@changde.gov.cn</p>
        </div>
        <div class="item">
            <p class="title_02">官网</p>
            <p class="content">http://cs.changde.gov.cn/</p>
        </div>
    </div>
</div>
</body>
</html>
