html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #fff;
}

button {
    border: 0px;
    outline: none;
}

input {
    outline: none
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    width: 4px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #bbb;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #eee;
}

#Map {
    height: 100%;
}

#FullScreen {
    position: absolute;
    top: 50%;
    left: -1px;
    margin-top: -40px;
    z-index: 201;
    width: 21px;
    height: 58px;
    cursor: pointer;
}

#MapViewPanel {
    position: relative;
    overflow: hidden;
    top: 33px;
}

.InlineBlock {
    display: inline-block;
    zoom: 1;
    *display: inline;
    _display: inline;
}

.portlet.light > .portlet-title {
    border-bottom: 0px solid #eef1f5;
}

.portlet.light > .portlet-title {
    padding: 0;
    min-height: 20px;
    font-weight: 800;
    padding-top: 15px;
}

.portlet.light .portlet-body {
    padding-top: 1px;
}

.portlet.light {
    padding: 12px 12px 15px;
    background-color: #fff;
}

#Main {
    border-top: 1px solid #e6e6e6;
    overflow: hidden;
}

#TextViewPanel {
    position: relative;
    float: left;
    width: 300px;
    margin-left: 0;
    _margin-right: -3px;
    border-right: 1px solid #cad3e0;
    overflow: hidden;
}

#Main.RightDiv {
    position: relative;
    background-color: #eee;
    overflow: hidden;
}

#Header {
    width: 100%;
    padding: 0px 32px;
    position: fixed;
    top: 0;
    height: 60px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 13px 0px rgba(153, 173, 207, 0.3);
    font-size: 22px;
    font-weight: bold;
    color: rgba(30, 38, 75, 1);
    display: flex;
    align-items: center;
    z-index: 100;
}

#Header img {
    width: 42px;
    height: 43px;
    object-fit: cover;
    margin-right: 15px;
}

.rightBar {
    top: 80px;
    right: 20px;
    width: 400px;
    position: fixed;
    height: 100%;
    border-radius: 4px !important;
    overflow: hidden;
}

.statusBar, .detailBar {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 5px 0px rgba(166, 166, 166, 0.27);
    border-radius: 4px !important;
}

.statusBar {
    height: 50px;
    display: flex;
    padding-left: 40px;
    z-index: 100;
    position: relative;
}

.statusBar .data {
    font-size: 16px;
    color: rgba(30, 38, 75, 1);
    line-height: 50px;
    position: relative;
    padding-left: 20px;
    margin-right: 40px;
}

.statusBar .data:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 0;
    top: 21px;
    position: absolute;
}

.statusBar .data1:before {
    background: rgba(24, 144, 255, 1);
    box-shadow: 0px 0px 4px 2px rgba(24, 144, 255, 1);
}

.statusBar .data2:before {
    background: rgba(38, 203, 69, 1);
    box-shadow: 0px 0px 4px 2px rgba(38, 203, 69, 1);
}

.statusBar .data3:before {
    background: rgba(255, 65, 65, 1);
    box-shadow: 0px 0px 4px 2px rgba(255, 65, 65, 1);
}

.statusBar .data3 {
    margin: 0;
}

.statusBar .data span {
    height: 16px;
    border-radius: 8px !important;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 16px;
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    margin-top: 10px;
}

.statusBar .data2 span {
    background: rgba(38, 203, 69, 1);
}

.statusBar .data3 span {
    background: rgba(255, 65, 65, 1);
}

.detailBar {
    width: 100%;
    height: 700px;
    margin-top: 18px;
    position: relative;
    top: -730px;
    transition: top 0.5s;
    overflow: hidden;
}

.detailBar.active{
    top: 0;
}

.detailBar .content {
    padding: 20px;
    height: 640px;
    width: 100%;
}

.detailBar .btns {
    display: flex;
    position: relative;

}

.detailBar .btns .b {
    width: 200px;
    height: 60px;
    background: rgba(246, 249, 251, 1);
    font-size: 18px;
    line-height: 60px;
    font-weight: 400;
    color: #1E264B;
    text-align: center;
    transition: color 0.5s;
    cursor: pointer;
}

.detailBar .btns .b span {
    z-index: 9;
    position: relative;
}

.detailBar .btns .bg {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 0;
    left: 0px;
    background: rgba(24, 144, 255, 1);
    transition: left .3s ease-in-out;
}

.detailBar .btns .b.active {
    color: #ffffff;
}

.detailBar .btns .active + .bg {
    left: 200px;
}

.detailBar p {
    margin: 0px;
}

.detailBar .content .swiper-wrapper {
    height: 100%;
    width: 200%;
    position: relative;
    display: flex;
    left: -100%;
    transition: left 0.1s ease-in-out;
}

.detailBar .content .swiper-wrapper .swiper-slide {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.detailBar .content .swriper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.detailBar .content .swiper-wrapper.active {
    left: 0%;
}

.detailBar .content .swiper-wrapper .video {
    width: 100%;
    height: 203px;
}

.detailBar .content .swiper-wrapper .build {
    font-size: 14px;
    font-weight: 400;
    color: rgba(30, 38, 75, 1);
}

.detailBar .content .swiper-wrapper > .table {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: rgba(53, 61, 98, 1);
}

.detailBar .content .swiper-wrapper .build > p {
    text-align: center;
}

.detailBar .content .swiper-wrapper .build .list p {
    line-height: 38px;
}

.detailBar .content .swiper-wrapper .tftables {
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
}

.detailBar .content .swiper-wrapper .status {
    width: 100%;
    height: 30px;
    line-height: 40px;
    position: absolute;
    bottom: 0px;
    background: white;

}

.detailBar .content .swiper-wrapper .status .color {
    width: 12px;
    height: 12px;
    border-radius: 50% !important;
    display: inline-block;
    margin-right:10px;
}

.detailBar .content .swiper-wrapper .status .text{
    margin-right:20px;
}

.detailBar .content .swiper-wrapper .status .red {
    border: 2px solid #FC8A8B;
    background: rgba(255, 65, 65, 1);
}

.detailBar .content .swiper-wrapper .status .orange {
    border: 2px solid #FAD2AB;
    background: rgba(255, 159, 65, 1);
}

.detailBar .content .swiper-wrapper .status .yellow {
    border: 2px solid #FCF388;
    background: #FFEF41;
}

.detailBar .content .swiper-wrapper .tableList {
    height: 100%;
    overflow: auto;
}

table.tftable {
    font-size: 12px;
    color: #333333;
    width: 100%;
    border-width: 0px;
    border-collapse: collapse;
}

table.tftable th {
    font-size: 12px;
    border-width: 0px;
    padding: 8px;
    text-align: left;
}

table.tftable tr {

}

table.tftable td {
    font-size: 12px;
    border-width: 0px;
    padding: 8px;
}


.searchBar{
    position: fixed;
    top:80px;
    left: 20px;
    border-radius:4px!important;
    width: 314px;
    height: 700px;
    overflow: hidden;
}

.searchBar .rst{
    width:100%;
    height:50px;
    background:rgba(255,255,255,1);
    box-shadow:0px 3px 5px 0px rgba(166,166,166,0.27);
    border-radius:4px !important;
    font-size:16px;
    line-height: 50px;
    padding: 0 20px;
    position: relative;
    z-index:99;
}

.searchBar .rst::after{
    content: "▼";
    display: inline-block;
    right: 20px;
    position: absolute;
    color: #2C3744;
    font-size: 14px;
}
.searchBar .select{
    width:100%;
    background:rgba(255,255,255,1);
    margin-top: 18px;
    padding: 20px;
    position: relative;
    border-radius:4px !important;
    top: -500px;
    transition: top 0.5s ease-in-out,opacity 0.2s ease-in-out;
    box-shadow:0px 3px 17px 4px rgba(166,166,166,0.36);
}

.searchBar .select.active{
    top: 0px;
}
.searchBar .select p{
    font-size:16px;
    font-weight:400;
    color:rgba(30,38,75,1);
    margin: 0;
}

.searchBar .select .ulstyle ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.searchBar .select .ulstyle ul input{
    display: none;
}

.searchBar .select .ulstyle ul li{
    display: inline-block;
    width: auto;
    height:25px;
    margin: 0 10px 10px 0;

}

.searchBar .select .ulstyle{
    margin-top: 20px;
}

.searchBar .select .ulstyle ul li label{
    border:1px solid rgba(239,239,239,1);
    border-radius:2px !important;
    padding: 0 10px;
    height: 25px;
    line-height: 23px;
    display: inline-block;
    font-size:14px;
    font-weight:400;
    color:rgba(24,144,255,1);
    margin: 0;
    cursor: pointer;
}
.searchBar .select .ulstyle ul input:checked+label{
    background:rgba(24,144,255,1);
    border:1px solid rgba(24,144,255,1);
    color: #ffffff;
}
.searchBar .select .options{
    height: 400px;
    overflow: auto;
}

.searchBar .select .submit{
    display: inline-block;
    width: 60px;
    height: 25px;
    background:rgba(24,144,255,1);
    margin:10px 0 0 214px ;
    color: #ffffff;
    border-radius:2px !important;
}
