<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <title>招商信息</title>
    <link href="../../css/comon0.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/lawer/lawer_gov.css"/>
    <link rel="stylesheet" type="text/css" href="css/investment.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common_index.css"/>
    <SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
    <script type="text/javascript" src="../../js/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
    <script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
    <SCRIPT language=JavaScript src="../../js/bootstrap.min.js"></SCRIPT>
    <SCRIPT language=JavaScript src="../../js/js.js"></SCRIPT>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/simditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/portal/content/common/simditor/styles/simditor.css"/>
    <script type="text/javascript" src="/portal/system/getUserProp.do"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="js/investment.js"></script>
    <link rel="shortcut icon" href="../../images/favicon.ico">
</head>

<body>
<div id="header"></div>
<div class="bodybg">
    <div class="juz">
        <div class="main">
            <div class="title01">
                <span class="title_lager">招商信息</span><span
                    class="title_small">/&nbsp;Investment Information</span>
                <button ng-if="userProp" class="law_help" data-toggle="modal" data-target="#myModal"
                        ng-click="before_release();">发布招商
                </button>
                <button ng-if="!userProp" class="law_help" data-toggle="modal" data-dismiss="#myModal"
                        ng-click="before_release();">发布招商
                </button>
            </div>
            <div class="searchTable">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr class="tr_bottom" style="line-height: 15px" ng-repeat="item in items"
                        ng-click="showInfo($index);">
                        <td align="center" width="15px">
                            <div class="dot"></div>
                        </td>
                        <td align="center" width="20%" ng-bind="item.releaseDate"></td>
                        <td ng-bind="item.title"></td>
                        <td width="20%" ng-bind="item.companyName"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="paganation"></div>
        </div>
        <div>
        </div>
    </div>
</div>
</body>


<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">发布招商</h4>
            </div>
            <div class="modal-body">
                <div><label>标题</label><br>
                    <input class="input_style" type="text" placeholder="请输入招商信息标题" name="name"
                           onfocus="this.placeholder=''"
                           onblur="this.placeholder='请输入招商信息标题 '"/>
                </div>
                <div><label>具体内容</label><br>
                    <textarea name="content" id="editor" placeholder="请描述招商信息具体内容"
                              onfocus="this.placeholder=''"
                              onblur="this.placeholder='请描述招商信息具体内容'"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="submit btn btn-primary" data-dismiss="modal" ng-click="releaseInfo();">
                    提交
                </button>
            </div>
        </div>
    </div>
</div>


</html>