<!DOCTYPE html>
<html  ng-app="angularjsApp" ng-controller="angularjsCtrl">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
		<title>招商信息</title>
		<link href="../../css/comon0.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/lawer/lawer_gov.css" />
		<link rel="stylesheet" type="text/css" href="css/investment.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common_index.css" />
		<SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
		<script type="text/javascript" src="../../js/angular/angular.min.js"></script>
		<script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
		<script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
		<SCRIPT language=JavaScript src="../../js/bootstrap.min.js"></SCRIPT>
		<SCRIPT language=JavaScript src="../../js/js.js"></SCRIPT>
		<script type="text/javascript" src="/portal/content/common/simditor/scripts/module.js"></script>
		<script type="text/javascript" src="/portal/content/common/simditor/scripts/hotkeys.js"></script>
		<script type="text/javascript" src="/portal/content/common/simditor/scripts/uploader.js"></script>
		<script type="text/javascript" src="/portal/content/common/simditor/scripts/simditor.js"></script>
		<link rel="stylesheet" type="text/css" href="/portal/content/common/simditor/styles/simditor.css"/>
		<script type="text/javascript" src="/portal/system/getUserProp.do"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="js/investment.js"></script>
	</head>

	<body>
	<div id="header"></div>
	<div class="bodybg">
		<div class="juz body_box">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="main_box" valign="top">
										<div class="main">
											<div class="title01">
												<span class="title_lager">招商信息</span><span class="title_small">/&nbsp;Investment Information</span>
												<button class="law_help" data-toggle="modal" data-target="#myModal">发布招商</button>
											</div>
											<div class="searchTable">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tbody>
													<tr></tr>
													<tr class="tr_bottom" style="line-height: 15px" ng-repeat="item in items">
														<td align="center" width="5%"><div class="dot"></div></td>
														<td align="center" width="25%" ng-bind="item.releaseDate"></td>
														<td>
															<p style="font-size: 16px" ng-bind="item.title"></p>
															<p style="font-size: 12px" ng-bind="item.companyName"></p>
														</td>
													</tr>
													</tbody>
												</table>
											</div>
											<div id="paganation"></div>
										</div>
								<div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	</body>


	<!--发布招商模态框-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">发布招商</h4>
				</div>
				<div class="modal-body">
					<div class="product_form">
						<table class="product_table" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
							<tr>
								<td width="15%" align="right"><span class="required">*</span><span>标题</span></td>
								<td width="5%"></td>
								<td><input type="text" placeholder="请输入招商信息标题" name="name"  onfocus="this.placeholder=''" onblur="this.placeholder='请输入招商信息标题 '"/></td>
							</tr>
							<tr style="height: 186px;">
								<td width="15%" align="right" style="height: 186px;"><span>具体内容</span></td>
								<td width="5%" style="height: 186px;"></td>
								<td style="height: 300px;">
									<textarea name="content" id="editor" placeholder="请描述招商信息具体内容" onfocus="this.placeholder=''" onblur="this.placeholder='请描述招商信息具体内容'"></textarea>
								</td>
							</tr>
							<tr>
								<td colspan="3" align="center">
									<button class="submit" data-dismiss="modal" ng-click="releaseInfo();">发布</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'../common/footer.html'"></div>
</html>