<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <title>企业风采</title>
    <link href="../../css/comon0.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/lawer/lawer_gov.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common_index.css"/>
    <SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
    <script type="text/javascript" src="../../js/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
    <script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
    <SCRIPT language=JavaScript src="../../js/bootstrap.min.js"></SCRIPT>
    <script type="text/javascript" src="../../js/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/simditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/portal/content/common/simditor/styles/simditor.css"/>
    <script type="text/javascript" src="/portal/system/getUserProp.do"></script>
    <script type="text/javascript" src="../../js/user.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="js/costyle.js"></script>
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <style type="text/css">
        .main_box {
            width: 60%;
            margin: auto;
        }
    </style>
</head>

<body>
<div id="header"></div>
<!--<div class="banner_style"><img src="../../images/banner_style.png"/></div>-->
<div class="bodybg">
    <div class="juz body_box">
        <div class="main">
            <div class="title01">
                <span class="title_lager">企业风采</span><span class="title_small">/&nbsp;Enterprise Style</span>
                <select class="category" id="category" ng-model="defaultType" ng-options="type.name as type.name for type in selectType" ng-change="change();">
                </select>
                <button  class="law_help" data-toggle="modal" data-target=""
                        ng-click="before_release($event);">发布风采
                </button>
            </div>
            <div class="cooperate">
                <ul>
                    <li ng-repeat="item in items" ng-click="showInfo($index);">
                        <span class="coimg"><img ng-src="http://zx.huacainfo.com/{{item.fileUrl}}"
                                                 style="width:100%;height: 100%;object-fit: cover;"/></span>
                        <span class="coinfo" ng-bind="item.title"></span>
                    </li>
                </ul>
            </div>
            <div id="paganation"></div>
        </div>
    </div>
</div>
</div>
</body>

<!--发布企业风采模态框-->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">发布企业风采</h4>
            </div>
            <div class="modal-body">
                <div><label>标题</label><br>
                    <input class="input_style" type="text" placeholder="请输入风采标题" name="name"
                           onfocus="this.placeholder=''"
                           onblur="this.placeholder='请输入风采标题'"/>
                </div>
                <div><label>封面</label><br>
                    <div class="pictureContainer" id="upbtn">
                        <div class="viewPicture">
                            <img src="" style="width: 100%;height: 100%;object-fit: cover;">
                        </div>
                        <div class="uploadText">
                            <img src="../../images/icons/upload_img_2.png"
                                 style="width: 100px;height: auto;"/>
                            <p class="uploadPloadprogress">点击上传封面</p>
                        </div>
                    </div>
                </div>
                <div><label>具体内容</label><br>
                    <textarea name="content" id="editor" placeholder="请描述风采具体内容"
                              onfocus="this.placeholder=''"
                              onblur="this.placeholder='请描述风采具体内容'"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="releaseInfo();">提交
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</html>