<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>我要捐款</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<link rel="stylesheet" type="text/css" href="css/project.css" />
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css" />
		<script type="text/javascript" src="js/project.js"></script>
	</head>

	<body>
		<div class="projectbox">
			<div class="project_title">
				<span>慈善一日捐</span>
				<span>春节送温暖</span>
				<div style="clear: both;"></div>
			</div>
			<div class="project_item">
				<div class="project_item_image">
					<img src="img/project.png" width="100%" height="100%" />
				</div>
				<div class="project_item_raise">
					<div class="raise_01">
						<p class="raise_money">28888,88</p>
						<p class="raise_price">已募集(元)</p>
					</div>
					<div class="raise_01">
						<p class="raise_money">28888,88</p>
						<p class="raise_price">已支出(元)</p>
					</div>
					<div class="raise_01">
						<p class="raise_money">28888,88</p>
						<p class="raise_price">结余(元)</p>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="project_nav">
				<ul class="project_nav_ul">
					<li onclick="hoverli('nav_info01');">项目详情</li>
					<li onclick="hoverli('nav_info02');">使用记录</li>
					<li onclick="hoverli('nav_info03');">捐赠列表</li>
				</ul>
			</div>
			<div class="nav_info">
				<div id="nav_info01" class="nav_info_content dis">
					<p>
						父母早亡、与祖母相依为命、家庭主要劳动力的缺失造成生活贫困……统计显示：中国57万孤儿，三分之一仍亟待有效救助。在并不富裕的农村，孤儿的到来使寄养家庭经济负担骤然加重，造成新的贫困。而与普通孩子比，农村孤儿入学年龄普遍偏大或多次辍学，他们所在年级与年龄极不相称。 农村孤儿一直是爱德基金会重点关注的弱势群体，2002年开始，爱德基金会启动农村孤儿助养项目。2008年，爱德基金会与腾讯公益携手推出“网助成长”公益月捐，截止2014年2月，已经有超过71万腾讯网友参与捐助。 为保护爱心网友利益，让更多的孤儿得到救助，“贫困孤儿助养”项目承诺： 1、我们确保您的每笔捐赠款项将都交给所资助的孩子 2、我们确保您将可以随时看到所资助孩子的款项接收记录；“贫困孤儿助养”2011下半年款项领取记录为了让这些孩子不仅在学习生活上顺利，也能在心灵成长方面得到照顾，我们还定期为孩子组织“e万行动-天使心灵成长计划”，帮助他们的身心都能快乐发展。
					</p>
				</div>

				<div id="nav_info02" class="nav_info_content undis">
					<div class="project_record">
						<ul class="layui-timeline">
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
								<div class="layui-timeline-content layui-text">
									<div class="layui-timeline-title">
										<div class="project_record_title">
											<div class="project_record_title01">用于“先心儿童的“心”生”项目</div>
											<div class="project_record_title02">使用资金：<span class="donation_money">28888,88</span></div>
										</div>
										<div class="project_record_info">
											父母早亡、与祖母相依为命、家庭主要劳动力的缺失造成生活贫困……统计显示：中国57万孤儿，三分之一仍亟待有效救助。在并不富裕的农村，孤儿的到来使寄养家庭经济负担骤重…重，造成新的贫困。而与普通孩子比，农村孤儿入学年龄普遍偏大或多次辍学，他们所在年级与年龄极不相称。 为保护爱心网友利益，让更多的孤儿得到救助，“贫困孤儿助养”项目承诺： 1、我们确保您的每笔捐赠款项将都交给所资助的孩子 2、我们确保您将可以随时看到所资助孩子的款项接收记录；“贫困孤儿助养”2011下半年款项领取记录为了让这些孩子不仅在学习生活上顺利，也能在心灵成长方面得到照顾，我们还定期为孩子组织“e万行动-天使心灵成长计划”，帮助他们的身心都能快乐发展。
										</div>
									</div>
								</div>
							</li>
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
								<div class="layui-timeline-content layui-text">
									<div class="layui-timeline-title">
										<div class="project_record_title">
											<div class="project_record_title01">用于“先心儿童的“心”生”项目</div>
											<div class="project_record_title02">使用资金：<span class="donation_money">28888,88</span></div>
										</div>
										<div class="project_record_info">
											父母早亡、与祖母相依为命、家庭主要劳动力的缺失造成生活贫困……统计显示：中国57万孤儿，三分之一仍亟待有效救助。在并不富裕的农村，孤儿的到来使寄养家庭经济负担骤重…重，造成新的贫困。而与普通孩子比，农村孤儿入学年龄普遍偏大或多次辍学，他们所在年级与年龄极不相称。 为保护爱心网友利益，让更多的孤儿得到救助，“贫困孤儿助养”项目承诺： 1、我们确保您的每笔捐赠款项将都交给所资助的孩子 2、我们确保您将可以随时看到所资助孩子的款项接收记录；“贫困孤儿助养”2011下半年款项领取记录为了让这些孩子不仅在学习生活上顺利，也能在心灵成长方面得到照顾，我们还定期为孩子组织“e万行动-天使心灵成长计划”，帮助他们的身心都能快乐发展。
										</div>
									</div>
								</div>
							</li>
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
								<div class="layui-timeline-content layui-text">
									<div class="layui-timeline-title">
										<div class="project_record_title">
											<div class="project_record_title01">用于“先心儿童的“心”生”项目</div>
											<div class="project_record_title02">使用资金：<span class="donation_money">28888,88</span></div>
										</div>
										<div class="project_record_info">
											父母早亡、与祖母相依为命、家庭主要劳动力的缺失造成生活贫困……统计显示：中国57万孤儿，三分之一仍亟待有效救助。在并不富裕的农村，孤儿的到来使寄养家庭经济负担骤重…重，造成新的贫困。而与普通孩子比，农村孤儿入学年龄普遍偏大或多次辍学，他们所在年级与年龄极不相称。 为保护爱心网友利益，让更多的孤儿得到救助，“贫困孤儿助养”项目承诺： 1、我们确保您的每笔捐赠款项将都交给所资助的孩子 2、我们确保您将可以随时看到所资助孩子的款项接收记录；“贫困孤儿助养”2011下半年款项领取记录为了让这些孩子不仅在学习生活上顺利，也能在心灵成长方面得到照顾，我们还定期为孩子组织“e万行动-天使心灵成长计划”，帮助他们的身心都能快乐发展。
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div id="nav_info03" class="nav_info_content undis">
					<div class="donation_list">
						<div class="donation_item">
							<div class="donation_user_image">
								<img src="img/user.png" width="100%" height="100%" />
							</div>
							<div class="donation_user_info">
								<div class="donation_users"><span class="username">半分</span>捐赠了<span class="donation_money">20000</span>元</div>
								<div class="donation_msg">希望能为公益献出一点微薄之力</div>
								<div class="donation_time">2016-06-12</div>
							</div>
						</div>
						<div class="donation_item">
							<div class="donation_user_image">
								<img src="img/user.png" width="100%" height="100%" />
							</div>
							<div class="donation_user_info">
								<div class="donation_users"><span class="username">半分</span>捐赠了<span class="donation_money">20000</span>元</div>
								<div class="donation_msg">希望能为公益献出一点微薄之力</div>
								<div class="donation_time">2016-06-12</div>
							</div>
						</div>
						<div class="donation_item">
							<div class="donation_user_image">
								<img src="img/user.png" width="100%" height="100%" />
							</div>
							<div class="donation_user_info">
								<div class="donation_users"><span class="username">半分</span>捐赠了<span class="donation_money">20000</span>元</div>
								<div class="donation_msg">希望能为公益献出一点微薄之力希望能为公益献出一点微薄之力</div>
								<div class="donation_time">2016-06-12</div>
							</div>
						</div>
						<div class="donation_item">
							<div class="donation_user_image">
								<img src="img/user.png" width="100%" height="100%" />
							</div>
							<div class="donation_user_info">
								<div class="donation_users"><span class="username">半分</span>捐赠了<span class="donation_money">20000</span>元</div>
								<div class="donation_msg">希望能为公益献出一点微薄之力</div>
								<div class="donation_time">2016-06-12</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		
		<!--我要捐赠按钮-->
		<div class="donation_btn">
			<img src="img/donation_btn.png" width="100%" height="100%"/>
		</div>
	</body>

</html>