<!DOCTYPE html>
<html  ng-app="angularjsApp" ng-controller="angularjsCtrl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
		<title>合作交流</title>
		<link href="../../css/comon0.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="filter/Fliter.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/cooperation.css"/>
		<SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
		<script type="text/javascript" src="../../js/angular/angular.min.js"></script>
		<script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
		<script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<SCRIPT language=JavaScript src="../../js/js.js"></SCRIPT>
		<script type="text/javascript" src="filter/Filter.js"></script>
		<script type="text/javascript" src="js/cooperation.js"></script>
	</head>

	<body>
	<div ng-include="'../common/header.html'"></div>
		<div class="index">
			<div class="tab_title">
				<div class="tab_title_ul">
					<span class="title_lager">合作交流</span><span class="title_small">/ Cooperation and communication</span>
					<div class="tab_title_load">
						<button data-toggle="modal" data-target="#myModal1">发布项目</button>
					</div>
				</div>
			</div>
			<div id="myTabContent" class="tab-content">
				<div style="background-color: #ffffff;">
					<div class="search">
						<div class="finance_list_title">
							精选项目信息
						</div>

						<div class="search_combox">
							<div class="search_box">
								<div style="width: 12%;float: left;">精准搜索：</div>
								<div style="width: 88%;float: left;"><input type="text" id="financeTitle" placeholder="请输入关键字搜索" /><button style="width:50px;border:none;background-color: #1A56A8;color: #FFFFFF;" ng-click="searchByParam();">搜索</button></div>
							</div>
							<div style="clear: both;"></div>
							<div class="search_filter1">
								<div class="filter_title1">合作方式：</div>
								<div id="coperationType"></div>
							</div>
							<div style="clear: both;"></div>
							<div class="search_filter2">
								<div class="filter_title2">项目阶段：</div>
								<div id="projectStep"></div>
							</div>
							<div class="search_filter2">
								<div class="filter_title2">排序：</div>
								<div id="sord"></div>
							</div>
						</div>
					</div>
					<div class="search_list">
						<div class="finance_list_title">
							共发现{{totalSize}}条项目信息
						</div>
						<div class="project_list">
							<div class="table_div" ng-repeat="item in items" ng-click="showProjectInfo($index);">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td colspan="3" class="project_title" ng-bind="item.projectName"></td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>企业名称:没给出</td>
										<td>企业性质：合资</td>
										<td>&nbsp;</td>
										<td>企业通讯地址：常德市德山经开区桃林路28号</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>合作方式：{{item.coopType}}</td>
										<td>所属区域：{{item.sector}}</td>
										<td>项目类型：{{item.projectType}}</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td colspan="5" ng-bind="item.coopDesc" style="word-break: break-all; word-wrap:break-word;">

										</td>
									</tr>
									<tr>
										<td colspan="5">发布时间：{{item.releaseDate}}</td>
									</tr>
								</table>
							</div>
						</div>
						<div id="paganation"></div>
					</div>
				</div>
			</div>
		</div>
	<div ng-include="'../common/footer.html'"></div>
	</body>

	<!--项目模态框发布-->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">发布项目</h4>
				</div>
				<div class="modal-body">
					<div class="product_form">
						<table class="product_table" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="15%" align="right"><span class="required">*</span><span>项目名称</span></td>
								<td width="5%"></td>
								<td><input type="text" placeholder="请输入项目名称" name="projectName" onfocus="this.placeholder=''" onblur="this.placeholder='请输入项目名称'" /></td>
							</tr>
							<tr>
								<td width="15%" align="right"><span class="required">*</span><span>合作方式</span></td>
								<td width="5%"></td>
								<td>
									<select id="cooType">
										<option value="">请选择合作方式</option>
										<option value="1">投资合作</option>
										<option value="2">合作开发</option>
										<option value="3">出资+资源合作</option>
										<option value="4">其他</option>
									</select>
								</td>
							</tr>
							<tr>
								<td width="15%" align="right"><span class="required">*</span><span>所属区域</span></td>
								<td width="5%"></td>
								<td><input type="text" placeholder="请输入所属区域" name="area" onfocus="this.placeholder=''" onblur="this.placeholder='请输入所属区域'" /></td>
							</tr>
							<tr>
								<td width="15%" align="right"><span>项目类型</span></td>
								<td width="5%"></td>
								<td><input type="text" placeholder="请输入项目类型" name="projectType" onfocus="this.placeholder=''" onblur="this.placeholder='请输入项目类型'" /></td>
							</tr>
							<tr style="height: 186px;">
								<td width="15%" align="right" style="height: 186px;"><span>内容</span></td>
								<td width="5%" style="height: 186px;"></td>
								<td style="height: 186px;">
									<textarea name="content" placeholder="描述项目内容" onfocus="this.placeholder=''" onblur="this.placeholder='描述项目内容'"></textarea>
								</td>
							</tr>
							<tr>
								<td colspan="3" align="center">
									<button class="submit" data-dismiss="modal" ng-click="relaseProject();">提交</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<!--<div class="modal-footer">
                <button type="button" class="btn btn-primary">提交</button>
            </div>-->
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
</html>