<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <title>项目信息</title>
    <link href="../../css/comon0.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="filter/Fliter.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/cooperation.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common_index.css"/>
    <SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
    <script type="text/javascript" src="../../js/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
    <script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/simditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/portal/content/common/simditor/styles/simditor.css"/>
    <SCRIPT language=JavaScript src="../../js/js.js"></SCRIPT>
    <script type="text/javascript" src="filter/Filter.js"></script>
    <script type="text/javascript" src="/portal/system/getUserProp.do"></script>
    <script type="text/javascript" src="../../js/user.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="js/Popt.js"></script>
    <script type="text/javascript" src="js/city.json.js"></script>
    <script type="text/javascript" src="js/citySet_modal.js"></script>
    <script type="text/javascript" src="js/cooperation.js"></script>
</head>

<body>
<div id="header"></div>
<div class="index">
    <div class="tab_title">
        <div class="tab_title_ul">
            <span class="title_lager">项目信息</span><span class="title_small">/ Project</span>
            <div class="tab_title_load">
                <button  data-toggle="modal" data-target="" ng-click="before_release($event);">发布项目
                </button>
                <!--<button ng-if="!userProp" data-toggle="modal" data-dismiss="#myModal1" ng-click="before_release();">-->
                    <!--发布项目-->
                <!--</button>-->
                <!--<button ng-if="userProp&&userStatus!='2'" data-toggle="modal" data-dismiss="#myModal1" ng-click="before_release();">-->
                    <!--发布项目-->
                <!--</button>-->
            </div>
        </div>
    </div>
    <div id="myTabContent" class="tab-content">
        <div style="background-color: #ffffff;">
            <div class="search">
               <!-- <div class="finance_list_title">
                    精选项目信息
                </div>
-->
                <div class="search_combox">
                    <div class="search_box">
                        <div style="width: 100px;float: left;">精准搜索：</div>
                        <div style="width: 300px;float: left;height: 35px;line-height: 35px;padding-top: 12px">
                            <input type="text" id="financeTitle" placeholder="请输入关键字搜索"/>
                            <button class="searchButton" ng-click="searchByParam();">搜索</button>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="search_filter1">
                        <div class="filter_title1">合作方式：</div>
                        <div id="coperationType"  ng-click="searchByParam();"></div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="search_filter2">
                        <div class="filter_title2">所属区域：</div>
                        <div class="wrap"><input class="input" name="" id="city" type="text" placeholder="请选择"
                                                 autocomplete="off"  oninput="OnInput(event);" onpropertychange="OnPropChanged(event);"/></div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="search_filter2">
                        <div class="filter_title2">排序：</div>
                        <div class="search_left" ng-click="sortList('asc');" id="asc"><span>发布日期</span><span
                                class="glyphicon glyphicon-arrow-up" style="color: #1A56A8;"></span></div>
                        <div class="search_left" ng-click="sortList('desc');" hidden="true" id="desc">
                            <span>发布日期</span><span class="glyphicon glyphicon-arrow-down"
                                                   style="color: #1A56A8;"></span></div>
                    </div>
                </div>
            </div>
            <div class="search_list">
                <div class="finance_list_title" ng-cloak>
                    共发现{{totalSize}}条项目信息
                </div>
                <div class="project_list">
                    <div class="table_div" ng-repeat="item in items" ng-click="showProjectInfo($index);">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td colspan="3" class="project_title" ng-bind="item.projectName"></td>
                            </tr>
                            <tr>
                                <td ng-cloak width="30%">企业名称:{{item.displayName}}</td>
                                <td ng-cloak width="30%">企业性质：{{item.companyProperty}}</td>
                                <td ng-cloak width="40%">企业通讯地址：{{item.address}}</td>
                            </tr>
                            <tr>
                                <td ng-cloak width="30%">合作方式：{{item.coopTypeName}}</td>
                                <td ng-cloak width="30%">所属区域：{{item.codeFullName}}</td>
                                <td ng-cloak width="40%">项目类型：{{item.projectType}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" ng-cloak style="color: #9EA7B4">发布时间：{{item.releaseDate | formatDate}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="paganation"></div>
            </div>
        </div>
    </div>
</div>
</body>
<div class="modal fade bs-example-modal-lg" id="myModal1" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel_release">发布项目信息</h4>
            </div>
            <div class="modal-body">
                <div><label>项目名称</label>
                    <input class="input_style" type="text" placeholder="请输入项目名称" name="projectName"
                           onfocus="this.placeholder=''" onblur="this.placeholder='请输入项目名称'"/>
                </div>
                <div><label>合作方式</label><br/>
                    <select class="input_style" id="cooType">
                        <option value="">请选择合作方式</option>
                        <option value="1">投资合作</option>
                        <option value="2">合作开发</option>
                        <option value="3">出资+资源合作</option>
                        <option value="4">其他</option>
                    </select>
                </div>

                <div><label>所属区域</label><br/>
                    <input class="input_style" id="city_modal"  type="text" placeholder="请输入所属区域" name="area" autocomplete="off" readonly="true"/></div>
                <div><label>项目类型</label><br/>
                    <input class="input_style" type="text" placeholder="请输入项目类型" name="projectType"
                           onfocus="this.placeholder=''" onblur="this.placeholder='请输入项目类型'"/></div>


                <div><label>项目内容</label><br/>
                    <textarea name="content" id="content" placeholder="描述项目内容" onfocus="this.placeholder=''"
                              onblur="this.placeholder='描述项目内容'"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="relaseProject();">提交
                </button>
            </div>
        </div>
    </div>
</div>


</html>