<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    function isPositiveInteger(s) {//是否为正整数
        var re = /^[0-9]+$/;
        return re.test(s)
    }

    function btnOnclick() {
        var exp = "";

        alert(isEmpty(exp));

    }

    function isEmpty(str) {
        if (!str || str.length == 0) {
            return true;
        }
        return false;
    }
</script>
<body>
<input type="input" id="demo">
<button name="button" onclick="btnOnclick()"></button>
</body>
</html>