<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="data-spm" content="zy-spot-web.v3">
    <title>创建报道</title>
    <link rel="stylesheet" href="/live/content/www/css/mobase.css"/>
    <link rel="stylesheet" href="/live/content/www/lib/pizza/ui.css">
    <link rel="stylesheet" href="/live/content/www/css/ui.css">
    <script src="/live/content/www/lib/jquery-1.11.0-min.js"></script>
    <script src="/live/content/www/js/juicer-min.js"></script>
    <script src="/live/content/www/lib/sha512.js"></script>
    <script src="/live/content/www/js/init-rem.js"></script>
    <script src="/live/www/oauth2/cfg.do"></script>
</head>
<body>
<div class="fn-pl40 fn-pr40 fn-pt30 fn-pb30 fn-clear">
    <div class="pz-form">
        <form id="j-reportform">
            <div class="wrap fn-clear">
                <div class="group1">
                    <div class="row xcy-row">
                        <div class="row-title">报道内容<span class="j-remark-length fn-right">0/300</span></div>
                        <div class="row-content" data-field="content"></div>
                    </div>
                </div>
                <div class="group1">
                    <div class="row xcy-row">
                        <div class="row-title">报道类型</div>
                        <div class="row-content" data-field="type"></div>
                    </div>
                    <div class="row xcy-row">
                        <div id="j-upcontain" class="row-content">
                            <div id="j-row-img" class="xcy-video fn-left fn-hide">
                                <div class="j-uploader-tip upbtn toplayer fn-hide">
                                    <div class="fn-pt25">
                                        <i class="pz-icon icon-img"></i>
                                        <p class="fn-textcenter fn-mt5"></p>
                                    </div>
                                </div>
                                <div id="j-uploader-selectimg" class="upbtn fn-cursor-pointer">
                                    <div class="fn-pt25">
                                        <i class="pz-icon icon-img"></i>
                                        <p class="fn-textcenter fn-mt5">点击选择报道图片</p>
                                    </div>
                                </div>
                            </div>
                            <div id="j-row-video" class="fn-hide">
                                <div class="xcy-video">
                                    <div class="imgbar"></div>
                                    <div class="j-uploader-tip upbtn toplayer fn-hide">
                                        <div class="fn-pt25">
                                            <i class="pz-icon icon-video"></i>
                                            <p class="fn-textcenter fn-mt5"></p>
                                        </div>
                                    </div>
                                    <div class="videobar toplayer fn-hide">
                                        <div class="fn-pt30">
                                            <span class="close"><i class="pz-icon icon-close"></i></span>
                                            <i class="pz-icon icon-video"></i>
                                            <p class="fn-textcenter fn-mt10">点击播放</p>
                                        </div>
                                    </div>
                                    <div id="j-uploader-selectvideo" class="j-uploader-select upbtn fn-cursor-pointer">
                                        <div class="fn-pt25">
                                            <i class="pz-icon icon-video"></i>
                                            <p class="fn-textcenter fn-mt5">点击选择报道视频</p>
                                        </div>
                                        <div class="form-group" style="display: none;">
                                            <input type="file" id="j-locallfile"/>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="row-title fn-w240 fn-clear">
                                    <a id="j-material" class="fn-right" href="javascript:void(0)">查看全部</a>
                                    <a id="j-videocover" class="fn-right fn-pointer fn-hide" href="javascript:void(0)">
                                        <label>
                                            <span>修改封面</span>
                                            <div class="j-file-input fn-hide">
                                                <input type="file" accept="image/gif,image/jpeg,image/jpg,image/png">
                                            </div>
                                        </label>
                                    </a>
                                </div>-->

                            </div>


                            <div id="j-row-aideo" class="fn-hide">
                                <div id="j-uploader-selectaideo" class="btn-record">
                                    按下开始
                                </div>
                                <div style="width:100%;height:.25rem"></div>
                                <div id="aideoplay" class="fn-hide audio">
                                    <audio src="" controls="controls" class="audio"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions actions-transparent fn-pt20">
                <input type="submit" class="pz-btn btn-success btn-big" value="发布报道">
            </div>
        </form>
    </div>
</div>
<script type="text/template" id="j-overlay-view">
    <div class="pz-boxhead">
        <em class="icon pz-icon icon-warning"></em>
        <span class="title">报道视频预览</span>
        <span class="close j-overlay-close">
    <em class="pz-icon icon-close"></em>
  </span>
    </div>
    <div class="pz-boxbody">
        <div class="pz-form">
            <div class="wrap fn-fs16">
                <div id="j-viewvideo"></div>
            </div>
        </div>
</script>

<script type="text/template" id="j-overlay-material">
    <div class="pz-boxhead" style="width:6rem;">
        <em class="icon pz-icon icon-warning"></em>
        <span class="title">媒体素材</span>
        <span class="close j-overlay-close">
    <em class="pz-icon icon-close"></em>
  </span>
    </div>
    <div class="pz-boxbody" style="width:6rem;">
        <div class="pz-form">
            <div class="wrap fn-pd10"></div>
        </div>
    </div>
</script>
<script type="text/template" id="j-overlay-material-content">
    <ul class="xcy-material fn-clear">
        {@each data as item}
        <li>
            <div class="j-playvideo imgbar" data-state="${item.state|formatState}" data-video="${item.mediaUrl}">
                <div class="videolayer fn-textcenter">
                    <i class="pz-icon icon-video"></i>
                    <p class="fn-mt5">${item.fileSize|formatSize}</p>
                </div>
                <img src="${item.thumbnail}">
            </div>
            <div class="fn-mt10 fn-clear">
                ${item.createTime|formatDate, 'YY-MM-DD hh:mm'}
                <a class="fn-right" target="_blank" href="${item.mediaUrl}" download>下载</a>
                <a class="j-getvideo fn-right fn-mr10" href="javascript:void(0)" data-video="${item.mediaUrl}">选择</a>
            </div>
        </li>
        {@/each}
    </ul>
    <div class="pz-page fn-mt20 fn-mb10 fn-textcenter"></div>
</script>
<script src="/live/content/www/lib/jweixin-1.2.0.js"></script>
<script src="/live/content/www/lib/prismplayer/prism-min.js"></script>
<script src="/live/content/www/lib/tplform/tplform-2.0.3.js"></script>
<script src="/live/content/www/lib/pizza/pizza.js"></script>
<script src="/live/content/www/lib/plupload-2.1.2/plupload.full.min.js"></script>
<script src="/live/content/www/js/common.js"></script>
<script src="/live/content/www/js/material.js"></script>
<script src="/live/content/www/live/rpt.js"></script>
<style>
    .btn-record{
        text-align: center;
        line-height: 3rem;
        background:green;
         color:#fff
    }
    .btn-record-ing{
        text-align: center;
        line-height:3rem;
        background:blue;
        color:#fff
    }
    .audio{
        padding-top:.3rem;
        width:100%;
    }

</style>
</body>
</html>