<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <title>银企服务</title>
    <link href="../../css/comon0.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common_index.css"/>
    <link rel="stylesheet" type="text/css" href="css/finance.css"/>
    <link rel="stylesheet" type="text/css" href="filter/Fliter.css"/>
    <SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
    <script type="text/javascript" src="../../js/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
    <script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="filter/Filter.js"></script>
    <script type="text/javascript" src="/portal/system/getUserProp.do"></script>
    <script type="text/javascript" src="../../js/user.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <SCRIPT language=JavaScript src="js/finance.js"></SCRIPT>
    <script type="text/javascript" src="js/finance_company.js"></script>
    <link rel="shortcut icon" href="../../images/favicon.ico">
</head>

<body>
<div id="header"></div>
<div id="body">
    <div class="index">
        <div class="tab_title">
            <div class="tab_title_ul">
                <ul id="myTab" class="nav nav-tabs">
                    <span class="title_lager">银企服务</span><span class="title_small">/Enterprise financing</span>
                </ul>
                <div class="tab_title_load">
                    <button  data-toggle="modal" data-target="" ng-click="before_release($event);">
                        发布服务
                    </button>
                </div>
            </div>
        </div>
        <div id="myTabContent" class="tab-content">
            <div style="background-color: #ffffff">
                <div class="search">
                    <div class="search_combox">
                        <div class="search_box">
                            <div style="width: 12%;float: left;height: 35px;">精准搜索：</div>
                            <div style="width: 88%;float: left;height: 35px;line-height: 35px;padding-top: 12px;"><input type="text" id="financeTitle"
                                                                                     placeholder="请输入关键字搜索"/>
                                <button class="searchButton" ng-click="searchByParam();">搜索</button>
                            </div>
                        </div>
                        <div class="search_filter1">
                            <div class="filter_title1">预期年收益：</div>
                            <div id="demo1" ng-click="searchByParam();"></div>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="search_filter2">
                            <div class="filter_title2">融资年限：</div>
                            <div id="demo2" ng-click="searchByParam();"></div>
                        </div>
                    </div>
                </div>
                <div class="search_list">
                    <div class="finance_list_title" ng-cloak>
                        共发现{{totalSize}}条企业融资信息
                    </div>
                    <div class="project_list">
                        <div class="table_div" ng-repeat="item in items" ng-click="showFinanceInfo($index);">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="2" class="project_title" ng-bind="item.financeTitle"></td>
                                    <td><span class="income_title" ng-cloak>预计年收益：</span><span class="income">{{item.yearYield}}%</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" ng-cloak>企业名称：{{item.companyName}}</td>
                                    <td width="30%" ng-cloak>企业性质：{{item.companyProperty}}</td>
                                    <td width="40%" ng-cloak>企业地址：{{item.address}}</td>
                                </tr>
                                <tr>
                                    <td width="30%" ng-cloak>融资金额：{{item.financeAmount}}万元</td>
                                    <td width="30%" ng-cloak>融资年限：{{item.financeYear}}年</td>
                                    <td width="40%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="3" ng-bind="item.remark"
                                        style="word-break: break-all; word-wrap:break-word;">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" ng-cloak style="color: #9EA7B4">发布时间：{{item.releaseDate | formatDate}}</td>
                                </tr>
                            </table>
                        </div>
                        <div id="paganation"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!--融资产品模态框发布-->
<div class="modal fade bs-example-modal-lg" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">发布融资</h4>
            </div>
            <div class="modal-body">
                <div><label>融资名称 </label><br>
                    <input class="input_style" type="text" placeholder="请输入产品名称" name="projectName"
                           onfocus="this.placeholder=''" onblur="this.placeholder='请输入融资名称'"/>
                </div>
                <div><label>融资金额(单位：万元，精确到两位小数) </label><br>
                    <input ng-model="money" class="input_style" type="text" placeholder="请输入产品金额" name="projectMoney"
                           onfocus="this.placeholder=''" onblur="this.placeholder='请输入融资金额'" ng-blur="isNumber(this);"/>
                </div>
                <div><label>融资年限 </label><br>
                      <select id="financeYear" class="input_style">
                          <option value="" selected>请选择</option>
                          <option value="0">半年</option>
                          <option value="1">一年</option>
                          <option value="2">两年</option>
                          <option value="3">三年</option>
                          <option value="4">四年</option>
                          <option value="5">五年以上</option>
                      </select>
                </div>
                <div><label>预期年收益(%) </label><br>
                    <input class="input_style" type="text" placeholder="请输入预期年收益" name="rate"
                           onfocus="this.placeholder=''"
                           onblur="this.placeholder='请输入预期年收益'"
                           onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                </div>
                <div><label>内容 </label><br>
                    <textarea name="content" placeholder="描述融资项目" onfocus="this.placeholder=''"
                              onblur="this.placeholder='描述融资项目'"></textarea>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="relaseFinance();">提交
                </button>
            </div>
            <!--<div class="modal-footer">
            <button type="button" class="btn btn-primary">提交</button>
        </div>-->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
</html>