<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <title>金融产品</title>
    <link href="../../css/comon0.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common_index.css"/>
    <link rel="stylesheet" type="text/css" href="css/finance.css"/>
    <SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
    <script type="text/javascript" src="../../js/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
    <script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/simditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/portal/content/common/simditor/styles/simditor.css"/>
    <script type="text/javascript" src="/portal/system/getUserProp.do"></script>
    <script type="text/javascript" src="../../js/user.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <SCRIPT language=JavaScript src="js/finance.js"></SCRIPT>
    <script type="text/javascript" src="js/finance_product.js"></script>
    <link rel="shortcut icon" href="../../images/favicon.ico">
</head>

<body>
<div id="header"></div>
<div class="index">
    <div class="tab_title">
        <div class="tab_title_ul">
            <ul id="myTab" class="nav nav-tabs">
                <span class="title_lager">金融产品</span><span class="title_small">/Financial products</span>
            </ul>
            <div class="tab_title_load">
                <button data-toggle="modal" data-target="" ng-click="before_release($event);">发布产品
                </button>
            </div>
        </div>
    </div>
    <div class="search">
        <div class="search_combox">
            <div class="search_box">
                <div style="width: 8%;
    float: left;
    height: 35px;">精准搜索：
                </div>
                <div style="width: 88%;float: left;height: 35px;line-height: 35px;padding-top: 12px;"><input type="text" id="financeTitle"
                                                                         placeholder="请输入关键字搜索"/>
                    <button class="searchButton" ng-click="searchByParam();">搜索</button>
                </div>
            </div>
        </div>
    </div>
    <div class="search_list">
        <div class="finance_list_title">
            共发现{{totalSize}}条金融产品信息
        </div>
        <div class="project_list">
            <div class="table_div" ng-repeat="item in items" ng-click="showFinanceInfo($index);">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="color: #1A56A8;" ng-bind="item.productName"></td>
                        <td style="color: #1A56A8;" width="20%" ng-bind="item.companyName"></td>
                        <td width="15%" ng-bind="item.createDate | formatDate"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="paganation"></div>
    </div>
</div>
</body>

<!--金融产品发布模态框模态框-->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">发布产品</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label>产品名称</label><br>
                    <input class="input_style" type="text" placeholder="请输入产品名称" name="productName"
                           onfocus="this.placeholder=''"
                           onblur="this.placeholder='请输入产品名称'"/>
                </div>
                <div>
                    <label>内容</label><br>
                    <textarea name="content" id="content" placeholder="描述融资项目" onfocus="this.placeholder=''"
                              onblur="this.placeholder='描述融资项目'"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="releaseProduct();">提交
                </button>
            </div>

        </div>

    </div>
</div>
</html>