body {
	margin: 0;
	background-color: #F7F9FC;
}

.index {
	width: 10rem;
}

.main {
	width: 10rem;
	height: 6rem;
	position: relative;
}

.box {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.home_top {
	position: relative;
	width: 100%;
	height: 6rem;
	text-align: center;
}

.home_top:after {
	width: 140%;
	height: 6rem;
	position: absolute;
	left: -20%;
	top: 0;
	z-index: -1;
	content: '';
	border-radius: 0 0 50% 50%;
	background-image: url(../img/BG_1.png);
}

.user_info {
	width: 4rem;
	height: 4rem;
	margin-left: 3rem;
	padding-top: 1.2rem;
}

.user_img {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	margin: auto;
}

.user_img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.user_name {
	margin: auto;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.4rem;
	font-weight: bolder;
	margin-top: 0.5rem;
}

.badding {
	width: 9rem;
	height: 3rem;
	line-height: 1.5rem;
	left: 0.5rem;
	background-color: #FFFFFF;
	border-radius: 3%;
	position: absolute;
	top: 5rem;
}
.cancle {
	width: 9rem;
	height: 3rem;
	line-height: 1.5rem;
	left: 0.5rem;
	background-color: #FFFFFF;
	border-radius: 3%;
	position: absolute;
	top: 5rem;
}
.carInfo{
	text-align: center;
}
.carInfo span{
	color: #3C82FC;
	font-size: 0.5rem;
}
.carInfo button{
	width: 3rem;
	border: none;
	background-color: #FFFFFF;
	color: #3C82FC;
	font-size: 0.3rem;
}
.info{
	color: #798092;
	font-size: 0.3rem;
	padding-left: 1rem;
}
.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 10rem;
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #F7F9FC;
	color: #798092;
	font-size: 0.4rem;
}

.badding_info {
	width: 100%;
	color: #798092;
	font-size: 0.4rem;
	text-align: center;
}

.badding_opt {
	width: 2.5rem;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	margin: auto;
}
.badding_opt button{
	width: 100%;
	height: 100%;
	border: 1px solid #3C82FC;
	border-radius: 0.2rem;
	color: #3C82FC;
	font-size: 0.4rem;
	background-color: #FFFFFF;
	outline: none;
}
