<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="css/entering.css"/>
    <script src="../../js/index.min.js" type="text/javascript" charset="utf-8"></script>
    <title>一站式服务</title>
</head>
<body>
<p class="text"><i class="iconfont">&#xe600;</i>入驻小镇，可享受以下服务哦~</p>
<div class="btn_list">
    <ul id="node_list">
        <!--<li>
            <div class="left">
                <span class="num">01</span>
                <span class="name">企业入驻申请</span>
            </div>
            <div class="right">申请</div>
        </li>
        <li>
            <div class="left">
                <span class="num">02</span>
                <span class="name">工商预核名</span>
            </div>
            <div class="right">查看</div>
        </li>
        <li>
            <div class="left">
                <span class="num">03</span>
                <span class="name">省金融办备案</span>
            </div>
            <div class="right">查看</div>
        </li>
        <li>
            <div class="left">
                <span class="num">04</span>
                <span class="name">工商注册登记</span>
            </div>
            <div class="right">查看</div>
        </li>
        <li>
            <div class="left">
                <span class="num">05</span>
                <span class="name">银行账户开立</span>
            </div>
            <div class="right">查看</div>
        </li>
        <li>
            <div class="left">
                <span class="num">06</span>
                <span class="name">税务登记</span>
            </div>
            <div class="right">查看</div>
        </li>
        <li>
            <div class="left">
                <span class="num">07</span>
                <span class="name">中国证券投资基金业协会备案</span>
            </div>
            <div class="right">查看</div>
        </li>-->
    </ul>
    <div class="btn"></div>
</div>
<div class="footer">
    <div class="code">
        <img src="image/code.png">
    </div>
    <div class="info">
        <p>关注微信公众号</p>
        <p>获取更多柳叶湖清科基金小镇动态哦~</p>
        <p class="phoneNum">入驻或咨询，请拨打热线 <a href="tel:0736-7708006">0736-7708006</a></p>
    </div>
</div>
</body>
<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/entering.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function () {
        $('#demo1').click();
    })
</script>
</html>