* {
    padding: 0;
    margin: 0;
}

.about_box {
    width: 10rem;
}

.about_title_box {
    width: 10rem;
    height: 3.5rem;
    text-align: center;
    border-bottom: 1px solid #E4E6E9;
}

.about_title_box img {
    padding-top: 0.5rem;
}

.about_title_box p {
    color: #333333;
    font-size: 0.6rem;
    font-weight: bold;
}

.about_content {
    width: 10rem;
    margin-bottom: 1rem;
}

.item {
    width: 9rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.title_01 {
    font-size: 0.45rem;
    font-weight: bold;
    color: #333333;
}

.title_02 {
    font-size: 0.45rem;
    font-weight: bold;
    color: #333333;
}

.content {
    font-size: 0.35rem;
    color: #999999;
    line-height: 0.6rem;
}
