<!DOCTYPE html>
<html  ng-app="angularjsApp" ng-controller="angularjsCtrl">
<head>
    <meta charset="UTF-8">
    <title>信息搜索</title>
    <link rel="stylesheet" type="text/css" href="../../css/common_index.css"/>
    <link rel="stylesheet" type="text/css" href="css/search.css"/>
    <SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
    <script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
    <script type="text/javascript" src="../../js/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <script type="text/javascript" src="js/searchRet.js"></script>
    <link rel="stylesheet" type="text/css" href="css/searchRet.css"/>
</head>
<body>
    <div id="header"></div>
    <div style="width:1280px; margin:15px auto">
        <!--<div class="lfloat" style="width: 20%">
            <ul id="nav">
                <li class="aa" ng-repeat="a in list  track by $index">{{a.name}}
                    <ul>
                        <li ng-click="hoverli($index)">{{a.value}}</li>
                    </ul>
                </li>
            </ul>
        </div>-->
        <div>
            <div id="newinfo">
                <div class="cnt list2">
                    <div class="dis tbc" ng-repeat="(key1, value1) in listData" on-finish-render>
                        <div ng-repeat="(key2, value2) in value1">
                            <span class="tableTitle" ng-cloak>{{key1}}->{{key2}}</span>
                            <table cellpadding="0" cellspacing="0" class="information" ng-repeat="item in value2">
                                <tr ng-repeat="(key3, value3) in item">
                                    <td width="200px" ng-cloak>{{key3}}</td>
                                    <td width="500px" ng-cloak>{{value3}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>