/* CSS Document */
/*上部分*/
html {
    height: 100%;
}

body {
    height: 100%;
}

.headContainer {
    padding: 10px 0px;
    background-color: #e5e8ee;
}

.topToolBtn {
    list-style: none;
}

.topToolBtn > li {
    height: 34px;
    margin-right: 30px;
    float: left;
    line-height: 34px;
}

.topToolBtn .input-group {
    max-width: 300px;
    z-index: 0;
}

.topToolBtn .form-control option {
    margin-top: 6px;
}

/*上部分end***********************************************************************************************************/
/*下部分*/

.contentRpt {
    height: 90%;
    overflow-y: auto;
    padding: 30px 40px;
    overflow-y: auto;
}

.reportList,.preview-img {
    list-style: none;
    padding: 0px;
    display: table;
}

.reportList .picbar .pic {
    width: 376px;
    height: 212px;
    overflow: hidden;
}

.reportList > li {
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #e2e7f6;
}

.reportList .picbar .pic img {
    width: 100%;
}

.reportList .picbar {
    position: relative;
}

.reportList .title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    line-height: 40px;
    padding: 0 6px;
    color: #fff;
}

.reportList .msgbar {
    padding: 6px 6px 6px 0px;
    color: #aaa;
    overflow: hidden;
}

.reportList .msgbar .creater {
    max-width: 110px;
}

.reportList .msgbar-common {
    float: left;
    display: inline-block;
    background: 0 0;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
}

.reportList .msgbar-time {
    padding: 0;
}

.reportList .msgbar a {
    height: 38px;
    line-height: 38px;
    float: right;
    padding: 0 5px;
    color: #1a9fff;
    cursor: pointer;
}

.reportList .textContent {
    width: 376px;
    padding: 6px 12px;
    height: 212px;
    font-size: 14px;
    line-height: 28px;
    background-color: #ebeef3;
    color: #666;
    overflow: auto;
}

.reportList video{
    width: 100%;
    height: 100%;
}
.reportList audio{
    width: 100%;

}

/*=================================================*/
.preview {
    width: 100%;
    height: 100%;
    padding: 40px 40px 0px 40px;
}

.preview .previewModel{
    float: left;
    height: 100%;
}
.preview-right{
    width: 30%;
    height: 100%;
    padding-left:20px;
    line-height: 40px;
    font-size: 20px;
    text-indent:2em;
    overflow-y: auto;
}
.preview-left{
    width: 70%;
    overflow-y: scroll;
}


.preview-img img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: none;
}

.preview-img video{
    width: 100%;
    max-height:95%;
}

.preview-img audio{
    padding-top:10%;
    width: 100%;
    height:100%;
    display: none;
}



.preview-left li,.preview-img img{
    width: 100%;
    height: auto;
}

.preview-img{
    width: 100%;
    height: 100%;
}

.preview-left .li-video{
    width: 100%;
    height: 100%;
    display: none;
}

.topToolBtn .delectRptbtn{
    float: right;
}

#jxbReportTable .Topcheckbox{
    padding: 6px 6px;
    width: 27px;
    height: 27px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
}

#jxbReportTable .Topcheckbox input{
    width: 15px;
    height: 15px;
    padding: 0px;
    margin: 0px;
}