<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <title>会员中心</title>
    <link href="../../css/comon0.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/member.css"/>
    <link rel="stylesheet" type="text/css" href="css/member_index.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common_index.css"/>
    <SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
    <script type="text/javascript" src="../../js/angular/angular.min.js"></script>
    <SCRIPT language=JavaScript src="../../js/bootstrap.min.js"></SCRIPT>
    <script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
    <script type="text/javascript" src="/portal/system/getUserProp.do"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <SCRIPT language=JavaScript src="js/member.js"></SCRIPT>
    <script type="text/javascript" src="js/childlist.js"></script>
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <link rel="shortcut icon" href="../../../images/favicon.ico">
    <style>
        li {
            cursor: pointer;
        }

        table {
            table-layout: fixed;
        }

        td{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        ul, li {
            text-decoration: none;
        }
    </style>
</head>

<body>
<div id="header"></div>
<div class="bodybg">
    <div class="juz1">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="left_box" style="min-height: 700px;max-height: 900px;background-color: #ffffff;"
                    valign="top">
                    <div class="member_center_title01">会员中心<span>/ Member Center</span></div>
                    <div class="member_menu">
                        <ul class=""><span class="member_center_title02"><a class="menua" href="/fop/www/index.html">我的首页</a></span>
                        </ul>
                    </div>
                    <div class="member_menu">
                        <ul class="member_menu_ul">
									<span class="member_center_title02"><a class="menua" href="/fop/www/html/member/member.html">会员服务</a></span>
                            <li ng-if="companyType != '3'">
                                <a class="menua" href="/fop/www/html/member/personel/personel.html">人才信息</a>
                            </li>
                            <li ng-if="companyType != '3'">
                                <a class="menua" href="/fop/www/html/member/project/project.html">项目信息</a>
                            </li>
                            <li ng-if="companyType != '3'">
                                <a class="menua" href="/fop/www/html/member/product/product.html">企业产品</a>
                            </li>
                            <li ng-if="companyType != '3'">
                                <a class="menua" href="/fop/www/html/member/costyle/costyle.html">风采展示</a>
                            </li>
                            <li ng-if="companyType != '3'">
                                <a class="menua" href="/fop/www/html/member/govservice/govservice.html">政企服务</a>
                            </li>
                            <li ng-if="companyType != '3'">
                                <a class="menua" href="/fop/www/html/member/law/law.html">法律诉求</a>
                            </li>
                            <li ng-if="companyType == '3'">
                                <a class="menua" href="/fop/www/html/member/financial/financial.html">银企服务</a>
                            </li>
                            <li ng-if="companyType == '3'">
                                <a class="menua" href="/fop/www/html/member/financial_product/financial_product.html">金融产品</a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td class="right_box" valign="top">
                    <div class="content01">
                        <div class="content_top">
                            <div class="content_top_title">
                                <span class="title">企业信息</span>
                                <span class="perfect" style="margin-right: 10px;"><a ng-click="writeInfo();">完善资料</a></span>
                                <span class="exitMember"  ng-if="dataType == '2' && companyInfo.status == '2'" ng-cloak><a ng-click="exitMember(companyInfo.id);">申请退会</a></span>
                                <span class="notMember"  ng-if="dataType == '2' && companyInfo.status == '1'"  ng-cloak><a disabled="disabled">非会员</a></span>
                                <div style="clear: both;"></div>
                            </div>

                            <div class="company_info">
                                <div class="row company_info_title"><h4 ng-cloak>{{companyInfo.fullName}}</h4></div>
                                <div class="row company_info_content" id="types">
                                    <div class="col-sm-6 col-xs-12">
                                        <span ng-if="dataType == '2'">企业性质：</span><span ng-cloak>{{companyInfo.companyPropertyName}}</span>
                                        <span ng-if="dataType == '1'" ng-cloak>团体会长：</span><span
                                            ng-cloak>{{(companyInfo.list)[0].pname}}</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <span ng-if="dataType == '2'">企业法人代表：</span><span ng-cloak>{{companyInfo.realName}}</span>
                                        <span ng-if="dataType == '1'">办公电话：</span><span ng-cloak>{{(companyInfo.list)[0].phoneNum}}</span>
                                    </div>
                                </div>
                                <div class="row company_info_content">
                                    <div class="col-sm-6 col-xs-12"><span>成立时间：</span><span ng-cloak>{{companyInfo.establishDate | formatDate}}</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-12" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" title="{{companyInfo.address}}"><span>企业通讯地址：</span><span ng-cloak>{{companyInfo.address}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu">
                            <ul class="menu_ul">
                                <!--银行只展示银企服务和金融产品，companyType = 3 代表企业是银行-->
                                <li class="menu_li" ng-if="companyType != '3'">
						<span>
							<p class="menu_li_title">人才信息</p>
							<p class="menu_li_num">已发布<span ng-bind="statisData.TALENT_INFO"></span>条</p>
						</span>
                                    <span><img src="../../images/member/icon-personnel.png"/></span>
                                </li>
                                <!--<li class="menu_li" ng-if="companyType != '3'">
                                    <span>
                                        <p class="menu_li_title">招商信息</p>
                                        <p class="menu_li_num">已发布<span ng-bind="statisData.INVESTMENT_INFO"></span>条</p>
                                    </span>
                                    <span><img src="../../images/member/icon-investment.png"/></span>
                                </li>-->
                                <li class="menu_li" ng-if="companyType != '3'">
						<span>
							<p class="menu_li_title">项目信息</p>
							<p class="menu_li_num">已发布<span ng-bind="statisData.PROJECT"></span>条</p>
						</span>
                                    <span><img src="../../images/member/icon-project.png"/></span>
                                </li>
                                <li class="menu_li" ng-if="companyType != '3'">
						<span>
							<p class="menu_li_title">企业产品</p>
							<p class="menu_li_num">已发布<span ng-bind="statisData.ENTERPRISE_PRODUCTS"></span>条</p>
						</span>
                                    <span><img src="../../images/member/icon-product.png"/></span>
                                </li>
                                <li class="menu_li" ng-if="companyType != '3'">
						<span>
							<p class="menu_li_title">风采展示</p>
							<p class="menu_li_num">已发布<span ng-bind="statisData.CORPORATE_STYLE"></span>条</p>
						</span>
                                    <span><img src="../../images/member/icon-style.png"/></span>
                                </li>
                                <li class="menu_li" ng-if="companyType != '3'">
						<span>
							<p class="menu_li_title">政企服务</p>
							<p class="menu_li_num">已发布<span ng-bind="statisData.GEHELP"></span>条</p>
						</span>
                                    <span><img src="../../images/member/icon-govservice.png"/></span>
                                </li>
                                <li class="menu_li" ng-if="companyType != '3'">
						<span>
							<p class="menu_li_title">法律帮助</p>
							<p class="menu_li_num">已发布<span ng-bind="statisData.LOWHELP"></span>条</p>
						</span>
                                    <span><img src="../../images/member/icon-law.png"/></span>
                                </li>
                                <!--<li class="menu_li" ng-if="companyType != '3'">
                                    <span>
                                        <p class="menu_li_title">意见直通车</p>
                                        <p class="menu_li_num">已发布<span>0</span>条</p>
                                    </span>
                                    <span><img src="../../images/member/icon-opinion.png"/></span>
                                </li>-->
                                <li class="menu_li" ng-if="companyType == '3'">
						<span>
							<p class="menu_li_title">银企服务</p>
							<p class="menu_li_num">已发布<span ng-bind="statisData.financial"></span>条</p>
						</span>
                                    <span><img src="../../images/member/icon-finance.png"/></span>
                                </li>
                                <li class="menu_li" ng-if="companyType == '3'">
						<span>
							<p class="menu_li_title">金融产品</p>
							<p class="menu_li_num">已发布<span ng-bind="statisData.loan_product"></span>条</p>
						</span>
                                    <span><img src="../../images/member/icon-finance-product.png"/></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
<div ng-include="'../common/footer.html'"></div>
</body>

</html>