<!DOCTYPE html>
<html  ng-app="angularjsApp" ng-controller="angularjsCtrl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
		<title>政企服务</title>
		<link href="../../css/comon0.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/lawer/lawer_gov.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common_index.css" />
		<SCRIPT language=JavaScript src="../../js/jquery-3.2.1.min.js"></SCRIPT>
		<SCRIPT language=JavaScript src="../../js/bootstrap.min.js"></SCRIPT>
		<script type="text/javascript" src="../../js/angular/angular.min.js"></script>
		<script type="text/javascript" src="../../js/laypage-v1.3/laypage/laypage.js"></script>
		<script type="text/javascript" src="../../js/layer-v3.1.1/layer/layer.js"></script>
		<script type="text/javascript" src="/portal/content/common/simditor/scripts/module.js"></script>
		<script type="text/javascript" src="/portal/content/common/simditor/scripts/hotkeys.js"></script>
		<script type="text/javascript" src="/portal/content/common/simditor/scripts/uploader.js"></script>
		<script type="text/javascript" src="/portal/content/common/simditor/scripts/simditor.js"></script>
		<link rel="stylesheet" type="text/css" href="/portal/content/common/simditor/styles/simditor.css"/>
		<script type="text/javascript" src="/portal/system/getUserProp.do"></script>
		<script type="text/javascript" src="../../js/user.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="js/gov_service.js"></script>
		<link rel="shortcut icon" href="../../images/favicon.ico">
		<style type="text/css">
			.main_box{
				width: 60%;
				margin: auto;
			}
		</style>
	</head>

	<body>
	<div id="header"></div>
		<div class="bodybg">
			<div class="juz body_box">
				<div class="main">
					<div class="title01">
						<span class="title_lager">政企服务</span><span class="title_small">/&nbsp;Investment&nbsp;Information</span>
						<button  class="law_help" data-toggle="modal" data-target="" ng-click="before_release($event);">发布诉求</button>
					</div>
					<div class="searchTable">
						<div class="search_condition">
							<div class="search_left" ng-click="sortList('asc');"  id="asc"><span>发布日期</span><span  class="glyphicon glyphicon-arrow-up" style="color: #1A56A8;"></span></div>
							<div class="search_left" ng-click="sortList('desc');" hidden="true" id = "desc"><span>发布日期</span><span  class="glyphicon glyphicon-arrow-down" style="color: #1A56A8;"></span></div>
							<div class="search_right">
								<span class="s_title"><input type="text" id="key_word" placeholder="请输入关键字搜索"/><button class="glyphicon glyphicon-search" ng-click="search();"></button></span>
							</div>
						</div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
							<tr class="tr_bottom" ng-repeat="item in items" ng-click="showInfo($index);">
								<td align="center" width="5%"><div class="dot"></div></td>
								<td ng-bind="item.title"></td>
								<td align="right" width="20%" class="from_info" ng-if="item.reply!=''&&item.reply!=undefined&&item.reply!=null">已回复</td>
								<td align="right" width="20%" class="from_info" ng-if="item.reply==''||item.reply==undefined||item.reply==null">未回复</td>
								<td class="time" width="25%" ng-bind="item.releaseDate | formatDate"></td>
							</tr>
							</tbody>
						</table>
					</div>
					<div id="paganation"></div>
				</div>
			</div>
			</div>
		</div>
	</body>

	<!--发布模态框-->
	<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">我的诉求</h4>
				</div>
				<div class="modal-body">
					<div>
						<label>标题</label><br />
						<input class="input_style" type="text" name="title" placeholder="请用一句话概括您需要提供的帮助"/>
					</div>
					<div>
						<label>反映内容</label><br />
						<textarea id="content" name="content" placeholder="请在这里描述您遇到的问题"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" ng-click="release();" data-dismiss="modal">提交我的诉求</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
</html>