
body {
    width: 100vw;
    overflow: hidden;
}

.swiper-container {
    width: 100vw;
    height: auto;
}

.swiper-container .swiper-slide {
    width: 100vw;
    height: 92.5vh;
    padding-bottom: 7.5vh;
    overflow-y: auto;
}

.swiper-container .swiper-slide .test {
    width: 100vw;
    padding: 0 5.6vw;
    /*border-left: 1p solid;
border-right: 1p solid;*/
}

.swiper-container .swiper-slide .test .test_content {
    height: 100%;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.8rem;
}

.swiper-container .swiper-slide .test .test_content .title {
    color: #4e4e4e;
    margin-top: 2.6vh;
}

.swiper-container .swiper-slide .test .test_content .options {
    margin-top: 2.6vh;
}

.swiper-container .swiper-slide .test .test_content .options > div {
    float: left;
}

.swiper-container .swiper-slide .test .test_content .options:after {
    content: "";
    display: block;
    clear: both;
}

.swiper-container .swiper-slide .test .test_content .icon {
    height: 8.3vw;
    width: 8.3vw;
    margin-right: 3.7vw;
    border-radius: 50%;
    border: 0.125rem solid #4f7ec6;
    text-align: center;
    line-height: 8.3vw;
    font-size: 1rem;
    color: #4f7ec6;
}

.swiper-container .swiper-slide .test .test_content .options_text {
    width: 76.0vw;
    color: #666666;
}

.head {
    width: 100vw;
    height: auto;
    border-bottom: 0.0825rem solid #ededed;
}

.head .content {
    width: 91.4vw;
    height: 7.5vh;
    margin: auto;
    /*border-left: 1p solid;*/
    /*border-right: 1p solid;*/
}

.head .content .test_type {
    float: left;
    color: #7a7a7a;
}

.head .content .test_type,
.head .content .test_pagination {
    height: 7.5vh;
    line-height: 7.5vh;
}

.head .content .test_pagination .swiper-pagination-current {
    color: #447fdb;
    font-size: 1.5rem;
}

.head .content .test_pagination .swiper-pagination-total {
    font-size: 1rem;
}

.head .content .test_pagination {
    right: 4.3vw;
}

.footer {
    height: 7.5vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: rgba(256, 256, 256, .9);
    border-top: 0.0825rem solid #ededed;
}

.footer .menuList {
    width: 50vw;
    height: 100%;
    margin: auto;

    /*border-left: 1p solid;*/
    /*border-right: 1p solid;*/
}

.footer .menuList i {
    color: #9a9a9a;
    line-height: 7.5vh;
    font-size: 3.1vh;
}

.footer .menuList .timer {
    margin-left: 26vw;
    font-size: 1.0rem;
    line-height: 7vh;
}

.model_testlist {
    position: fixed;
    top: 0rem;
    left: 100vw;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    background-color: #fff;
}

.model_testlist_action {
    animation: action 0.5s cubic-bezier(1, 0.01, 1, 1);
    -moz-animation: action 0.5s cubic-bezier(1, 0.01, 1, 1);
    /* Firefox */
    -webkit-animation: action 0.5s cubic-bezier(1, 0.01, 1, 1);
    /* Safari and Chrome */
    -o-animation: action 0.5 cubic-bezier(1, 0.01, 1, 1);
    /* Opera */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;

}

@keyframes action {
    0% {
        left: 100vw;
    }
    100% {
        left: 0vw;
    }
}

@-moz-keyframes action
    /* Firefox */

{
    0% {
        left: 100vw;
    }
    100% {
        left: 0vw;
    }
}

@-webkit-keyframes action
    /* Safari and Chrome */

{
    0% {
        left: 100vw;
    }
    100% {
        left: 0vw;
    }
}

@-o-keyframes action
    /* Opera */

{
    0% {
        left: 100vw;
    }
    100% {
        left: 0vw;
    }
}

/************************************************************************************************************/

.model_testlist_feaction {
    animation: feaction 0.5s cubic-bezier(1, 0.01, 1, 1);
    -moz-animation: feaction 0.5s cubic-bezier(1, 0.01, 1, 1);
    /* Firefox */
    -webkit-animation: feaction 0.5s cubic-bezier(1, 0.01, 1, 1);
    /* Safari and Chrome */
    -o-animation: feaction 0.5s cubic-bezier(1, 0.01, 1, 1);
    /* Opera */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;

}

@keyframes feaction {
    0% {
        left: 0vw;
    }
    100% {
        left: 100vw;
    }
}

@-moz-keyframes feaction
    /* Firefox */

{
    0% {
        left: 0vw;
    }
    100% {
        left: 100vw;
    }
}

@-webkit-keyframes feaction
    /* Safari and Chrome */

{
    0% {
        left: 0vw;
    }
    100% {
        left: 100vw;
    }
}

@-o-keyframes feaction
    /* Opera */

{
    0% {
        left: 0vw;
    }
    100% {
        left: 100vw;
    }
}

.model_testlist .show_score {
    background-color: #f5f5f5;
    border-radius: 5vw;
    margin-bottom: 2vh;
    height: auto;
    text-align: center;
    font-size: 2vh;
    color: #7A7A7A;
    display: none;
}

.model_testlist .show_score .top {
    height: 15vh;
    line-height: 15vh;
}

.model_testlist .show_score .bottom {
    height: 5vh;
    line-height: 5vh;
}

.model_testlist .show_score .total {
    font-size: 10vh;
    color: #333;
}

.model_testlist .show_score .time_end {
    float: right;
    display: block;
    margin-right: 5vw;
}

.model_testlist .model_list {
    width: 100vw;
    height: 100vh;
    padding: 3.1vh 5.6vw 7.5vh 5.6vw;
    overflow-y: auto;
}

.model_testlist .model_list .model_list_lists ul li {
    display: block;
    height: 9.3vw;
    width: 9.3vw;
    line-height: 9.3vw;
    border-radius: 50%;
    border: #dddddd 0.0825rem solid;
    float: left;
    text-align: center;
    color: #4b79d7;
    margin: 1.3vh 10.4vw 2vh 0;
}

.model_testlist .model_list .model_list_lists ul li:nth-child(5n+0) {
    margin-right: 0;
}

.model_testlist .model_list .model_list_lists ul:after {
    content: "";
    clear: both;
    display: block;
}

.model_testlist .model_list .model_list_title {
}

.model_testlist .model_list .model_list_title:before {
    display: inline-block;
    width: 0.15rem;
    height: 1.0rem;
    background-color: #4b79d7;
    content: "";
    margin-right: 2.6vw;
}

.model_testlist .model_tool {
    position: absolute;
    bottom: 0rem;
    width: 100vw;
    height: 7.5vh;
    padding: 1.15vh 3.7vw 0;
    background-color: #fff;
    border-top: 0.0825rem solid #ededed;
}

.model_testlist .model_tool button {
    width: 43.1vw;
}

.model_testlist .model_tool .goon {
    margin-right: 6.4vw;
}

.model_testlist .model_list .model_list_lists .test_done {
    border: #4b79d7 0.0825rem solid;
    color: #fff;
    background-color: #4b79d7;;
}

.swiper-container .swiper-slide .test .test_content .options_done {
    background-color: #4f7ec6;
    color: #fff;
}

.right {
    border-color: #4db273 !important;
    background-color: #4db273 !important;
    color: #fff !important;
}

.error {
    border-color: #B25B57 !important;
    background-color: #B25B57 !important;
    color: #fff !important;
}

/*提示框*****************************************************/

.prompt_box {
    position: fixed;
    top: 0rem;
    height: 100vh;
    width: 100vw;
    z-index: 300;
    background-color: rgba(60, 60, 60, 0.4);
    display: none;
}

.prompt_box .content {
    width: 80vw;
    margin: 30vh auto 0;
    height: auto;
    background-color: #fff;
    padding: 5vw;
}

.prompt_box .content:after {
    content: "";
    clear: both;
    display: block;
}

button {
    height: 5.2vh;
    background-color: #4380db;
    border: none;
    border-radius: 0.3125rem;
    color: #fff;
    padding-bottom: .3vh;
    float: left;
}

.prompt_box .content button {
    width: 32vw;
    height: 5.2vh;
    background-color: #4380db;
    border: none;
    border-radius: 0.3125rem;
    color: #fff;
    padding-bottom: .3vh;
    float: left;
}

.prompt_box .content p {
    display: block;
    margin-bottom: 10vh;
}

.prompt_box .content .istool {
    margin-right: 6vw;
}
