body {
    background-color: #F4F4F4;
    min-width: 900px;
}

.appeal_index {
    width: 1280px;
    background-color: #FBFCFD;
    margin: auto;
    margin-bottom: 62px;
}

.current_site {
    width: 1280px;
    background-color: #F4F4F4;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.appeal_title {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.appeal_title h3 {
    font-size: 24px;
    font-weight: bolder;
    color: #1A56A8;
}

.appeal_title span {
    font-size: 14px;
    color: #9EA7B4;
}

.appeal_info p {
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 2em;
    color: #31364B;
    line-height: 30px;
}
.finance_table{
    width: 60%;
    margin: auto;
    color: #657180;
}
.finance_table tr{
    height: 40px;
    line-height: 40px;
}
.highLight{
    font-size: 18px;
    font-weight: bolder;
    color: #FF9F00;
}
.title_lager {
    color: #565B70;
    font-weight: bolder;
    font-size: 18px;
    width: 10%;
    display: inline-block;
    border-bottom: 3px solid #FF9F00;
    height: 62px;
    line-height: 62px;
}

.title_small {
    color: #FFFFFF;
    display: inline-block;
    width: 80%;
    border-bottom: 1px solid #E1E5ED;
    height: 62px;
    line-height: 62px;
}
.indent{
    text-indent: 2em;
}
.content_info{
    color: #657180;
    margin-top: 30px;
}
.finance_content{
    width: 90%;
    margin: auto;
}
.message{
    width: 90%;
    margin: auto;
    border-top: 1px solid #E1E5ED;
    margin-top: 30px;
}
.msg_title{
    width: 100%;
    height: 62px;
    line-height: 62px;
}
.leave_1{
    width: 50%;
    float: left;
}
.leave_2{
    width: 50%;
    float: left;
    text-align: right;
}
.msg_info{
    width: 100%;
    height: 200px;
}
.msg_info textarea{
    width: 100%;
    height: 100%;
}
.msg_footer{
    width: 100%;
    height: 62px;
    line-height: 62px;
    background-color: #EDF4F9;
}
.msg_footer button{
    width: 80px;
    height: 32px;
    border: none;
    background-color: #1A56A8;
    color: #FFFFFF;
    border-radius: 5px;
}
.msg_list{
    width: 90%;
    margin: auto;
    color: #657180;
}
.msg_list_title{
    color: #1A56A8;
    font-size: 16px;
    font-weight: bolder;
}
.msg_list table{
    border-top: 1px solid #E1E5ED;
}
.msg_list tr{
    width: 100%;
    height: 35px;
    line-height: 35px;
}
.leave_msg{
    font-size: 18px;
    font-weight: bolder;
    color: #1A56A8;
}
.page{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}