<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"  />
        <meta name="format-detection" content="telephone=no"/>
		<title>救急难</title>
		<link rel="stylesheet" type="text/css" href="../js/layer.mobile-v2.0/layer_mobile/need/layer.css"/>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<script type="text/javascript" src="../js/angular/angular.min.js"></script>
		<script type="text/javascript" src="../js/layer.mobile-v2.0/layer_mobile/layer.js"></script>
		<link rel="stylesheet" type="text/css" href="css/jjn.css"/>
		<script type="text/javascript" src="js/jjn.js"></script>
	</head>
	<body>
		<div class="mainbox">
			<div class="banner">
				<!--<div class="banner_title">特别求助</div>
				<div class="banner_info">爱的帮助，见证爱心奇迹</div>-->
                <img src="img/default.png" style="width: 100%;height: 100%;"/>
			</div>
			<div class="raisebox">
				<div class="raise_item" ng-repeat="item in items" ng-click="showProjectInfo(item.id)">
					<div class="raise_item_image">
						<img ng-if="item.coverUrl!=''&&item.coverUrl!=undefined&&item.coverUrl!=null" ng-src="{{item.coverUrl}}" width="100%" height="100%"/>
						<img ng-if="item.coverUrl==''||item.coverUrl==undefined||item.coverUrl==null" ng-src="img/project_default.png" width="100%" height="100%"/>
					</div>
					<div class="raise_item_cnt">
						<div class="raise_item_title" ng-bind="item.projectName"></div>
						<div class="raise_item_info" ng-bind="item.title"></div>
						<div class="raise_item_detail">
							<div class="detail01">已募集<span ng-bind="item.collectAmount"></span>元</div>
							<div class="detail02" ng-if="item.balanceDays != '0'&&item.status=='2'">剩余<span  ng-bind="item.balanceDays"></span>天</div>
							<div class="detail02" ng-if="item.balanceDays == '0'&&item.status=='2'">已结束</div>
							<div class="detail02" ng-if="item.status=='1'">待审核</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div class="raise_btnbox">
					<button class="raise_btn" ng-click="raiseMoney();">发起筹款</button>
				</div>
			</div>
		</div>
	</body>
	<!--弹框提示层-->
	<div id="warning" style="display: none;width: 9rem;">
		<div class="warn_content">
			<h3 class="warn_title">平台声明</h3>
			<p>
				1、项目发起人：在众筹网平台注册并发起众筹项目的单位或个人；
			</p>
			<p>
				2、项目投资人：在众筹网平台注册并投资某众筹项目的单位或个人。
			</p>
			<p>
				3、保证金：项目发起人在众筹网平台发起的项目，由众筹网作为代收款方，收取项目投资人基于项目投资明细单而支付的众筹金额。项目众筹成功后，众筹网留存项目众筹总金额的30%作为保证金，在项目发起人兑现对项目投资人的回报承诺后，众筹网将该保证金返还给项目发起人。如果项目发起人未兑现对项目投资人的回报承诺，则众筹网有权直接支配该保证金以用于兑现对项目投资人的回报承诺。
			</p>
			<p>

				4、资金支付渠道费：为保证众筹资金安全，众筹项目项下资金均通过第三方支付公司代为划转，由此产生的支付渠道费由项目发起人负担，项目众筹成功后，众筹网将扣除项目众筹总金额的3%作为资金支付渠道费，并支付给第三方支付机构。如众筹项目不成功，则不收取该笔费用。另，如众筹项目已众筹成功，但由于发起人原因无法履行回报的，发起人需向众筹网支付相当于筹资总金额的3%的资金支付手续费。
			</p>
		</div>
	</div>
</html>
