<!DOCTYPE html>
<html ng-app="angularjsApp" ng-controller="angularjsCtrl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"  />
        <meta name="format-detection" content="telephone=no"/>
		<title>救急难</title>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/init-rem.js"></script>
		<script type="text/javascript" src="../js/angular/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/jjn.css"/>
		<script type="text/javascript" src="js/jjn.js"></script>
	</head>
	<body>
		<div class="mainbox">
			<div class="banner">
				<div class="banner_title">特别求助</div>
				<div class="banner_info">爱的帮助，见证爱心奇迹</div>
			</div>
			<div class="raisebox">
				<div class="raise_item" ng-repeat="item in items" ng-click="showProjectInfo(item.id)">
					<div class="raise_item_image">
						<img ng-src="{{item.coverUrl}}" width="100%" height="100%"/>
					</div>
					<div class="raise_item_cnt">
						<div class="raise_item_title" ng-bind="item.projectName"></div>
						<div class="raise_item_info" ng-bind="item.title"></div>
						<div class="raise_item_detail">
							<div class="detail01">已募集<span ng-bind="item.collectAmount"></span>元</div>
							<div class="detail02">剩余<span></span>天</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div class="raise_btnbox">
					<button class="raise_btn" ng-click="raiseMoney();">发起筹款</button>
				</div>
			</div>
		</div>
	</body>
</html>
