/* CSS Document */
body{
	color: #666;
}
.searchInput{
	width: 400px;
}
.headContainer{
	padding:10px 40px;
	background-color:#f7faff; 
	border-bottom: solid 1px #e5e8ee;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f3f8fd;
}

.table-striped > tbody > tr>td{
	height: 60px;
	vertical-align: middle;
	border-top:none;
}
.table_content{
	border-radius: 10px;
    border: 1px solid #e2e7f6;
    overflow: hidden;
}
.content_container{
	padding:30px 40px;
}
.container_model{
	float: left;
	width:50%;
}

.formRow {
	overflow:hidden;
	margin-bottom: 30px;
	padding: 0;
}

.font-right{
	float: right!important;
}
.container_right{
	padding-left: 40px;
}

.formRow-content label{
	padding: 0 5px;
	margin: 0 10px 0 0;
	white-space: nowrap;
	font-weight: normal;
	cursor: pointer;
}

.upbtn {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    width: 240px;
    height: 135px;
    text-align: center;
    color: #a0a0a0;
}
.select_report{
	z-index: 100;
	width:100%;
	position: absolute;
	top:0px;
	padding: 60px;
	background-color: rgba(0,0,0,0.56);
	/*display: none;*/
}

.form_web{
	padding: 40px;
	background-color: white;
	border-radius: 10px;
}
.btn-container{
	padding: 40px 0px;
}
