<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huacainfo.ace.rvc.dao.RvcConferenceAddressMapper" >
  <resultMap id="BaseResultMap" type="com.huacainfo.ace.rvc.model.RvcConferenceAddress" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="managerName" property="managerName" jdbcType="VARCHAR" />
    <result column="managerPhone" property="managerPhone" jdbcType="VARCHAR" />
    <result column="addrName" property="addrName" jdbcType="VARCHAR" />
    <result column="addrCountry" property="addrCountry" jdbcType="VARCHAR" />
    <result column="addrProvince" property="addrProvince" jdbcType="VARCHAR" />
    <result column="addrCity" property="addrCity" jdbcType="VARCHAR" />
    <result column="addrDistrict" property="addrDistrict" jdbcType="VARCHAR" />
    <result column="addrStreet" property="addrStreet" jdbcType="VARCHAR" />
    <result column="kedaAccount" property="kedaAccount" jdbcType="VARCHAR" />
    <result column="kedaAccountType" property="kedaAccountType" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="createUserId" property="createUserId" jdbcType="VARCHAR" />
    <result column="createUserName" property="createUserName" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="lastModifyUserId" property="lastModifyUserId" jdbcType="VARCHAR" />
    <result column="lastModifyUserName" property="lastModifyUserName" jdbcType="VARCHAR" />
    <result column="lastModifyDate" property="lastModifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, managerName, managerPhone, addrName, addrCountry, addrProvince, addrCity, addrDistrict, 
    addrStreet, kedaAccount, kedaAccountType, remark, status, createUserId, createUserName, 
    createDate, lastModifyUserId, lastModifyUserName, lastModifyDate, poCode, poName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rvc_conference_address
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rvc_conference_address
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huacainfo.ace.rvc.model.RvcConferenceAddress" >
    insert into rvc_conference_address (id, managerName, managerPhone, 
      addrName, addrCountry, addrProvince, 
      addrCity, addrDistrict, addrStreet, 
      kedaAccount, kedaAccountType, remark, 
      status, createUserId, createUserName, 
      createDate, lastModifyUserId, lastModifyUserName, 
      lastModifyDate)
    values (#{id,jdbcType=VARCHAR}, #{managerName,jdbcType=VARCHAR}, #{managerPhone,jdbcType=VARCHAR}, 
      #{addrName,jdbcType=VARCHAR}, #{addrCountry,jdbcType=VARCHAR}, #{addrProvince,jdbcType=VARCHAR}, 
      #{addrCity,jdbcType=VARCHAR}, #{addrDistrict,jdbcType=VARCHAR}, #{addrStreet,jdbcType=VARCHAR}, 
      #{kedaAccount,jdbcType=VARCHAR}, #{kedaAccountType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{createUserId,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{lastModifyUserId,jdbcType=VARCHAR}, #{lastModifyUserName,jdbcType=VARCHAR}, 
      #{lastModifyDate,jdbcType=TIMESTAMP}, #{poCode,jdbcType=CHAR}, #{poName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huacainfo.ace.rvc.model.RvcConferenceAddress" >
    insert into rvc_conference_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="managerName != null" >
        managerName,
      </if>
      <if test="managerPhone != null" >
        managerPhone,
      </if>
      <if test="addrName != null" >
        addrName,
      </if>
      <if test="addrCountry != null" >
        addrCountry,
      </if>
      <if test="addrProvince != null" >
        addrProvince,
      </if>
      <if test="addrCity != null" >
        addrCity,
      </if>
      <if test="addrDistrict != null" >
        addrDistrict,
      </if>
      <if test="addrStreet != null" >
        addrStreet,
      </if>
      <if test="kedaAccount != null" >
        kedaAccount,
      </if>
      <if test="kedaAccountType != null" >
        kedaAccountType,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUserId != null" >
        createUserId,
      </if>
      <if test="createUserName != null" >
        createUserName,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
      <if test="lastModifyUserId != null" >
        lastModifyUserId,
      </if>
      <if test="lastModifyUserName != null" >
        lastModifyUserName,
      </if>
      <if test="lastModifyDate != null" >
        lastModifyDate,
      </if>

      <if test="poCode != null">
        poCode,
      </if>
      <if test="poName != null">
        poName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null" >
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="managerPhone != null" >
        #{managerPhone,jdbcType=VARCHAR},
      </if>
      <if test="addrName != null" >
        #{addrName,jdbcType=VARCHAR},
      </if>
      <if test="addrCountry != null" >
        #{addrCountry,jdbcType=VARCHAR},
      </if>
      <if test="addrProvince != null" >
        #{addrProvince,jdbcType=VARCHAR},
      </if>
      <if test="addrCity != null" >
        #{addrCity,jdbcType=VARCHAR},
      </if>
      <if test="addrDistrict != null" >
        #{addrDistrict,jdbcType=VARCHAR},
      </if>
      <if test="addrStreet != null" >
        #{addrStreet,jdbcType=VARCHAR},
      </if>
      <if test="kedaAccount != null" >
        #{kedaAccount,jdbcType=VARCHAR},
      </if>
      <if test="kedaAccountType != null" >
        #{kedaAccountType,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyUserId != null" >
        #{lastModifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyUserName != null" >
        #{lastModifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>

      <if test="poCode != null">
        #{poCode,jdbcType=VARCHAR},
      </if>
      <if test="poName != null">
        #{poName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huacainfo.ace.rvc.model.RvcConferenceAddress" >
    update rvc_conference_address
    <set >
      <if test="managerName != null" >
        managerName = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="managerPhone != null" >
        managerPhone = #{managerPhone,jdbcType=VARCHAR},
      </if>
      <if test="addrName != null" >
        addrName = #{addrName,jdbcType=VARCHAR},
      </if>
      <if test="addrCountry != null" >
        addrCountry = #{addrCountry,jdbcType=VARCHAR},
      </if>
      <if test="addrProvince != null" >
        addrProvince = #{addrProvince,jdbcType=VARCHAR},
      </if>
      <if test="addrCity != null" >
        addrCity = #{addrCity,jdbcType=VARCHAR},
      </if>
      <if test="addrDistrict != null" >
        addrDistrict = #{addrDistrict,jdbcType=VARCHAR},
      </if>
      <if test="addrStreet != null" >
        addrStreet = #{addrStreet,jdbcType=VARCHAR},
      </if>
      <if test="kedaAccount != null" >
        kedaAccount = #{kedaAccount,jdbcType=VARCHAR},
      </if>
      <if test="kedaAccountType != null" >
        kedaAccountType = #{kedaAccountType,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createUserId != null" >
        createUserId = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        createUserName = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyUserId != null" >
        lastModifyUserId = #{lastModifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyUserName != null" >
        lastModifyUserName = #{lastModifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null" >
        lastModifyDate = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>

      <if test="poCode != null">
        poCode = #{poCode,jdbcType=VARCHAR},
      </if>
      <if test="poName != null">
        poName = #{poName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huacainfo.ace.rvc.model.RvcConferenceAddress" >
    update rvc_conference_address
    set managerName = #{managerName,jdbcType=VARCHAR},
      managerPhone = #{managerPhone,jdbcType=VARCHAR},
      addrName = #{addrName,jdbcType=VARCHAR},
      addrCountry = #{addrCountry,jdbcType=VARCHAR},
      addrProvince = #{addrProvince,jdbcType=VARCHAR},
      addrCity = #{addrCity,jdbcType=VARCHAR},
      addrDistrict = #{addrDistrict,jdbcType=VARCHAR},
      addrStreet = #{addrStreet,jdbcType=VARCHAR},
      kedaAccount = #{kedaAccount,jdbcType=VARCHAR},
      kedaAccountType = #{kedaAccountType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      createUserId = #{createUserId,jdbcType=VARCHAR},
      createUserName = #{createUserName,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      lastModifyUserId = #{lastModifyUserId,jdbcType=VARCHAR},
      lastModifyUserName = #{lastModifyUserName,jdbcType=VARCHAR},
      lastModifyDate = #{lastModifyDate,jdbcType=TIMESTAMP},

       poCode = #{poCode,jdbcType=VARCHAR},
      poName = #{poName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from rvc_conference_address
  </select>
</mapper>