#animaList{
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
}
.anima-box{
    width: 198px;
    height: auto;
    float: left;
    margin-bottom: 10px;
    cursor: pointer;
}
.anima-box-top{
    width: 100%;
    height: 25px;
}
.anima-box-top:after{
    content: '';
    clear: both;
    display: block;
}
.anima-box-bottom{
    width: 100%;
    height: 111px;
}
.anima-box-left{
    width: 30px;
    height: 100%;
    float: left;
}
.anima-box-right{
    width: 168px;
    height: 100%;
    float: left;
    line-height: 25px;
    color: #2B3643;
    font-size: 12px;
}
.photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mar{
    margin-right: 10px;
}