<!DOCTYPE html>
<html   ng-app="angularjsApp" ng-controller="angularjsCtrl">
<head>
    <meta charset="UTF-8">
    <title>会员中心-项目信息</title>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/childlist.css"/>
    <SCRIPT language=JavaScript src="../../../js/jquery-3.2.1.min.js"></SCRIPT>
    <script type="text/javascript" src="../../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../js/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../../js/laypage-v1.3/laypage/laypage.js"></script>
    <script type="text/javascript" src="../../../js/layer-v3.1.1/layer/layer.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="/portal/content/common/simditor/scripts/simditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/portal/content/common/simditor/styles/simditor.css"/>
    <script type="text/javascript" src="js/project.js"></script>
</head>
<body>
    <div class="box">
        <div class="child_title">
            <span class="child_title_1">我发布的项目</span>
            <span class="child_title_2"><a href="#" data-toggle="modal" data-target="#myModal_release">发布</a> </span>
        </div>
        <div style="clear: both;"></div>
        <div class="menu-nav">
            <ul>
                <li><a href="#" ng-click="search();">全部</a> </li>
                <li><a href="#" ng-click="search('1');">审核中</a> </li>
                <li><a href="#" ng-click="search('2');">审核通过</a> </li>
                <li><a href="#" ng-click="search('3');">审核未通过</a> </li>
            </ul>
            <div id="nav-content">
                <div class="table-div" ng-repeat="item in items">
                    <table border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed">
                        <tr class="tr_title">
                            <td width="15%" ng-bind="item.projectName"></td>
                            <td width="10%">
                                <span ng-if="item.status == '1'">审核中</span>
                                <span ng-if="item.status == '2'">审核通过</span>
                                <span ng-if="item.status == '3'">审核未通过</span>
                            </td>
                            <td>&nbsp;</td>
                            <td width="15%"><button id="update" data-toggle="modal" data-target="#myModal" ng-click="update_click($index);">编辑</button><button id="delete" ng-click="delete($index);">删除</button></td>
                        </tr>
                        <tr>
                            <td colspan="4" id="content" style="word-wrap:break-word;height: 100px;text-overflow: ellipsis;overflow: hidden;" ng-bind="item.coopDesc">

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="tr_title" ng-bind="item.releaseDate"></td>
                        </tr>
                    </table>
             </div>
                <div id="paganation"></div>
            </div>
        </div>
    </div>
</body>

<!--编辑模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">编辑项目信息</h4>
            </div>
            <div class="modal-body">
                <div class="product_form">
                    <table class="product_table" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="15%" align="right"><span class="required">*</span><span>项目名称</span></td>
                            <td width="5%"></td>
                            <td><input type="text" ng-model="infoData.projectName"   onfocus="this.placeholder=''" /></td>
                        </tr>
                        <tr>
                            <td width="15%" align="right"><span class="required">*</span><span>合作方式</span></td>
                            <td width="5%"></td>
                            <td>
                                <select ng-model="infoData.coopType">
                                    <option value="">请选择合作方式</option>
                                    <option value="1">投资合作</option>
                                    <option value="2">合作开发</option>
                                    <option value="3">出资+资源合作</option>
                                    <option value="4">其他</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="15%" align="right"><span class="required">*</span><span>所属区域</span></td>
                            <td width="5%"></td>
                            <td><input type="text" ng-model="infoData.areaCode"  /></td>
                        </tr>
                        <tr>
                            <td width="15%" align="right"><span>项目类型</span></td>
                            <td width="5%"></td>
                            <td><input type="text" ng-model="infoData.projectType"/></td>
                        </tr>
                        <tr style="height: 186px;">
                            <td width="15%" align="right" style="height: 186px;"><span>内容</span></td>
                            <td width="5%" style="height: 186px;"></td>
                            <td style="height: 186px;">
                                <textarea  id="editor"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="submit" data-dismiss="modal" ng-click="update(infoData.id);">提交</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--发布模态框-->
<div class="modal fade" id="myModal_release" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel_release">发布项目</h4>
            </div>
            <div class="modal-body">
                <div class="product_form">
                    <table class="product_table" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="15%" align="right"><span class="required">*</span><span>项目名称</span></td>
                            <td width="5%"></td>
                            <td><input type="text" placeholder="请输入项目名称" name="projectName" onfocus="this.placeholder=''" onblur="this.placeholder='请输入项目名称'" /></td>
                        </tr>
                        <tr>
                            <td width="15%" align="right"><span class="required">*</span><span>合作方式</span></td>
                            <td width="5%"></td>
                            <td>
                                <select id="cooType">
                                    <option value="">请选择合作方式</option>
                                    <option value="1">投资合作</option>
                                    <option value="2">合作开发</option>
                                    <option value="3">出资+资源合作</option>
                                    <option value="4">其他</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="15%" align="right"><span class="required">*</span><span>所属区域</span></td>
                            <td width="5%"></td>
                            <td><input type="text" placeholder="请输入所属区域" name="area" onfocus="this.placeholder=''" onblur="this.placeholder='请输入所属区域'" /></td>
                        </tr>
                        <tr>
                            <td width="15%" align="right"><span>项目类型</span></td>
                            <td width="5%"></td>
                            <td><input type="text" placeholder="请输入项目类型" name="projectType" onfocus="this.placeholder=''" onblur="this.placeholder='请输入项目类型'" /></td>
                        </tr>
                        <tr style="height: 186px;">
                            <td width="15%" align="right" style="height: 186px;"><span>内容</span></td>
                            <td width="5%" style="height: 186px;"></td>
                            <td style="height: 186px;">
                                <textarea name="pcontent" id="editor_release" placeholder="描述项目内容" onfocus="this.placeholder=''" onblur="this.placeholder='描述项目内容'"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <button class="submit" data-dismiss="modal" ng-click="release();">提交</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>