.navigation {
	width: 100%;
	height: 1.3rem;
	margin: 0 auto;
}
.news-title {
	padding-top: 0.2rem;
	position: relative;
	/*border: 1px solid #000000;*/
}
.news-module>li {
	float: left;
	text-align: center;
	font-size: 0.346666rem;
	line-height: 1rem;
	color: #5C6681;
	font-weight: bold;
	background-color: #FFFFFF;
	list-style: none;
}
.news-slider {
	background-color: #49D0C5;
	height: 0.06rem;
	width: 0.6rem;
	transition: 0.5s;
	position: absolute;
	bottom: -1rem;
	left: 0rem;
	border-radius: 0.3rem;
}