#operation{
    height: 60px;
    text-align: center;
    line-height: 60px;
}
#info table{
    width: 100%;
    padding-left: 10px;
}

.commontr{
    height: 30px;
}
.str{
    height: 80px;
}

.swiper-container img {
    width: 100%;
}

.swiper-container {
    width: 500px;
    height: 320px;
}

.info_cotent {
    width: 500px;
    height: 700px;
    overflow-y: auto;
    margin: auto;
}

.info_cotent .info_text {
    position: relative;
}

.info_cotent .info_text .top {
    position: absolute;
    width: 500px;
    height: 106px;
    top: -53px;
}

.info_cotent .info_text .bottom1 .doc {
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.info_cotent .info_text .bottom1 h4 {
    text-align: center;
    color: rgba(28, 40, 67, 1);
    font-size: 15px;
    font-weight: bold;
}

.info_cotent .info_text .bottom1 {
    padding-top: 78px;
}

.info_cotent .info_text .top .box .left_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info_cotent .info_text .top .box .right_div {
    float: right;
    width: 320px;
    display: table;
    height: 100%;
    margin-right: 20px;
}

.info_cotent .info_text .top .box .right_div span {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    word-wrap: break-word;
    color: rgba(28, 40, 67, 1);
    font-weight: bold;
    line-height: 24px;
}

.info_cotent .info_text .top .box .left_div {
    width: 68px;
    height: 68px;
    border-radius: 50% !important;
    overflow: hidden;
    float: left;
    margin: 20px 0 0 20px;
}

.info_cotent .info_text .top .box {
    position: relative;
    width: 460px;
    margin: auto;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    border-radius: 10px !important;
    box-shadow: 0px 6px 20px 0px #0000002e;
}