html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #fff;
}

button {
    border: 0px;
    outline: none;
}

input {
    outline: none
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#Map {
    height: 100%;
}

#FullScreen {
    position: absolute;
    top: 50%;
    left: -1px;
    margin-top: -40px;
    z-index: 201;
    width: 21px;
    height: 58px;
    cursor: pointer;
}

#MapViewPanel {
    position: relative;
    overflow: hidden;
    top: 33px;
}

.InlineBlock {
    display: inline-block;
    zoom: 1;
    *display: inline;
    _display: inline;
}

.portlet.light > .portlet-title {
    border-bottom: 0px solid #eef1f5;
}

.portlet.light > .portlet-title {
    padding: 0;
    min-height: 20px;
    font-weight: 800;
    padding-top: 15px;
}

.portlet.light .portlet-body {
    padding-top: 1px;
}

.portlet.light {
    padding: 12px 12px 15px;
    background-color: #fff;
}

#Main {
    border-top: 1px solid #e6e6e6;
    overflow: hidden;
}

#TextViewPanel {
    position: relative;
    float: left;
    width: 300px;
    margin-left: 0;
    _margin-right: -3px;
    border-right: 1px solid #cad3e0;
    overflow: hidden;
}

#Main.RightDiv {
    position: relative;
    background-color: #eee;
    overflow: hidden;
}

#Header {
    width: 100%;
    padding: 0px 32px;
    position: fixed;
    top: 0;
    height: 60px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 13px 0px rgba(153, 173, 207, 0.3);
    font-size: 24px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(36, 48, 227, 1);
    display: flex;
    align-items: center;
    z-index: 100;
}

#Header img {
    width: 42px;
    height: 43px;
    object-fit: cover;
    margin-right: 15px;
}

.Toolbar {
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
}

.MapTools {
    float: right;
    height: 34px;
    line-height: 34px;
    margin: 2px 0 1px 0;
    position: relative;
    text-align: center;
    color: #406593;
}

.formField {
    padding-bottom: 15px;
}

.accident_info {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 260px;
    right: 5%;
    width: 405px;
    padding: 40px 30px 20px;
    background: #fff;
    border: 1px solid rgba(235, 237, 242, 1);
    box-shadow: 0px 3px 13px 0px rgba(153, 173, 207, 0.3);
    border-radius: 5px !important;
}

.view-label {
    float: left;
}

.view-value {
    float: right;
}

.view-group {
    margin-left: 30px;
    margin-right: 30px;

    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #e7ecf1;
}

#leftDiv {
    width: 470px;
    height: 100%;
    padding: 60px 50px 0px 0;
    position: absolute;
    left: -420px;
    top: 0;
    background: rgba(173, 173, 173, 0.35);
    transition: left 1s;
    -moz-transition: left 1s;
    -webkit-transition: left 1s;
    -o-transition: left 1s;
}

#leftDiv .content {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    overflow: auto;
}

.leftIcon{
    left: 0px !important;
}

#leftDiv.leftIcon:after, #leftDiv.leftIcon:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-top: 3px solid #777;
    border-left: 3px solid #777;
    transform: rotate(135deg);
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
}

#leftDiv.leftIcon:after {
    right: 26px;
}

#leftDiv.leftIcon:before {
    right: 16px;
}

#leftDiv.centerIcon:after {
    content: '';
    display: block;
    width: 14px;
    height: 47px;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    position: absolute;
    right: 20px;
    top: calc(50% - 39px);
}

#leftDiv .content .seach {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 13px 0px rgba(153, 173, 207, 0.3);
    border-radius: 4px !important;
    overflow: hidden;
    display: flex;
}

#leftDiv .content .seach .easyui-combotree {
    flex-grow: 1;
    width: 70px;
    height: 47px;
    border: 0;
}

#leftDiv .content .seach .loadName {
    flex-grow: 4;
    border: 0;
    padding: 0 10px;
}

#leftDiv .content .seach .active_seach {
    width: 47px;
    background: rgba(67, 80, 252, 1);
    box-shadow: 0px 3px 13px 0px rgba(153, 173, 207, 0.3);
    outline: none;
    border: 0;
    background: rgba(67, 80, 252, 1) url(../img/search.png) no-repeat;
    background-size: 50%;
    background-position: 50%;
}

#leftDiv .content .title {
    font-size: 20px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(55, 63, 83, 1);
    padding: 0 0 24px;
}

#leftDiv .content .morginBottom40 {
    margin-bottom: 40px;
}

#leftDiv .content .contentStyle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#leftDiv .content .inputStyle {
    width: 160px;
    height: 48px;
    border: 1px solid rgba(235, 237, 242, 1);
    border-radius: 4px;
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(18, 32, 62, 1);
    margin-bottom: 15px;
}

#leftDiv .content .buttonStyle button {
    width: 160px;
    height: 48px;
    background: rgba(240, 239, 246, 1);
    border-radius: 4px;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(55, 63, 83, 1);
    line-height: 48px;
    text-align: center;
}

#leftDiv .content .contentStyle .submit {
    background: rgba(67, 80, 252, 1);
    color: rgba(255, 255, 255, 1);
}

.datetimepicker table tr td.active.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled:hover.disabled, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active.disabled:hover[disabled], .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active:hover.disabled, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active:hover[disabled], .datetimepicker table tr td.active[disabled] {
    background-color: rgba(67, 80, 252, 1) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(67, 80, 252, 1)), to(rgba(67, 80, 252, 1)));
}

.accident_info p {
    margin: 0
}

.accident_info ul {
    list-style: none;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(55, 63, 83, 1);
}

.accident_info .title {
    font-size: 17px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(55, 63, 83, 1);
}

.accident_info .address {
    font-size: 15px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(171, 174, 185, 1);
}

.accident_info ul li {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    border-bottom: rgba(240, 239, 246, 1) solid 1px;
}

.active_but{
    background: rgba(36, 48, 227, 1) !important;
    border:0 !important;
    color: #fff !important;
}