<html>
<body>
<h1>电装运行会议任务处理进度提示</h1>
$!{o.tasklist}
<div style="font-size:16px">
   <h3>$!{o.sysDate}</h3>
</div>
<style type="text/css">
table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #6699FF;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#6699FF;
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #6699FF;
	color:#fff
}
table.hovertable tr {
	background-color:#fff;
}
table.hovertable td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #6699FF;
}
</style>

</body>
</html>