* {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	font-size: 14px;
}

body {
	font-size: 14px;
	padding: 0px;
	margin: 0 0 auto;
}

.title_lager {
	color: #565B70;
	font-weight: bolder;
	font-size: 18px;
	width: 12%;
	display: inline-block;
	border-bottom: 3px solid #FF9F00;
	height: 62px;
	line-height: 62px;
}

.title_small {
	color: #C3CBD6;
	display: inline-block;
	width: 88%;
	border-bottom: 1px solid #E1E5ED;
	height: 62px;
	line-height: 62px;
}

.body_content {
	width: 100%;
}

.body_content li.mar {
	margin-right: 0;
}

.body_content li.marl {
	margin-right: 2%;
}

.body_content ul {
	list-style: none;
}

.body_content li {
	width: 360px;
	height: 130px;
	overflow: hidden;
	display: inline-block;
	margin-left: 5%;
	margin-top: 15px;
	*zoom: 1;
	*display: inline;
	_zoom: 1;
	_display: inline;
	border: 1px solid #E1E5ED;
}

.body_content li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cxfw_box li.mar {
	margin-right: 0;
}

.searchTable tr {
	height: 50px;
	line-height: 50px;
	color: #565B70;
}

.searchTable tr .dot {
	width: 8px;
	height: 8px;
	background-color: #E1E5ED;
}

.searchTable tr {
	/*	border-bottom: 1px solid #E1E5ED;
*/
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	/*border: 1px solid red;*/
}

.searchTable tr:hover {
	color: #FF9F00;
	border-bottom: 1px solid #FF9F00 !important;
	border-top: 1px solid #FF9F00 !important;
	border-left: 1px solid #FF9F00 !important;
	border-right: 1px solid #FF9F00 !important;
}

.title01{
	height: 62px;
	position: relative;
}

.law_help {
	position: absolute;
	top: 25px;
	right: 0;
	width: 100px;
	height: 30px;
	background-color: #1763CB;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
}

.modal-title {
	font-size: 18px;
	font-weight: bolder;
	color: #1A56A8;
}

.search_condition {
	width: 100%;
	height: 62px;
	line-height: 62px;
}

.search_left {
	width: 100px;
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #E1E5ED;
	margin-top: 16px;
	color: #31364B;
}
.search_left :hover{
	cursor: pointer;
	/*border: 1px solid #1A56A8;*/
}

.search_right {
	width: 250px;
	float: right;
}

.s_title {
	text-align: right;
	width: 100%;
	height: 32px;
	display: block;
	margin-top: 16px;
	border: 1px solid #1A56A8;
}

.s_title input {
	width: 198px;
	height: 30px;
	line-height: 30px;
	float: left;
	border: none;
}

.s_title button {
	width: 50px;
	height: 30px;
	line-height: 30px;
	float: left;
	border: none;
	background-color: #1A56A8;
	color: #FFFFFF;
	border: none;
}
.glyphicon{
	top:0;
}
.sincerity_type{
	position: absolute;
	right: 10px;
	top: 20px;
}