<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/init-rem.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/personal.css" />
		<title>个人中心</title>
	</head>

	<body>
		<div class="main">
			<div class="header">
				<div class="row user">
					<div class="col-xs-3 col-md-3 col-lg-3 userInfo" align="right">
						<img src="img/user.png" class="userImg"/>
					</div>
					<div class="col-xs-6 col-md-6 col-lg-6 member">
						<span class="username" name="username">半分</span>
						<span class="flag">会员</span>
						<br />
						<span class="">2019-01-10会员到期</span>
					</div>
					<div class="col-xs-2 col-md-2 col-lg-2 userInfo" align="right">
						<span class="glyphicon glyphicon-menu-right"></span>
					</div>
				</div>
				<div class="income">
					<span class="incomeMoney">24.00</span><br />
					<span class="glyphicon glyphicon-jpy">我的收益</span>
				</div>
				<div class=""></div>
			</div>
			<div class="body">
				<div class="menu">
					<span class="imgContainer"><img src="img/order@2x.png"/></span><span class="menuTitle">我的订单</span>
				</div>
				<div class="menu">
					<span class="imgContainer"><img src="img/member@2x.png"/></span><span class="menuTitle">会员中心</span>
				</div>
				<div class="menu">
					<span class="imgContainer"><img src="img/about@2x.png"/></span><span class="menuTitle">关于我们</span>
				</div>
			</div>
			<div class="copyRight">
				<p class="copyRightName">—心阳光健康联盟—</p>
				<p>由华彩团队提供技术支持</p>
			</div>
		</div>
		<!--底部菜单栏-->
		<div class="footer">
			<div class="col-xs-6 col-md-6 col-lg-6">
				<div>
					<img src="img/index.png" />
				</div>
				<div>
					<span class="index">首页</span>
				</div>
			</div>
			<div class="col-xs-6 col-md-6 col-lg-6">
				<div>
					<img src="img/mime.png" />
				</div>
				<div>
					<span class="mine">我的</span>
				</div>
			</div>
		</div>
	</body>

</html>