*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #F7F9FC;
}
.applybox{
	width: 100%;
}
input, textarea{
	outline: none;
}
.plate_01{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #FFFFFF;
	margin-top: 0.5rem;
	height: 12.5rem;
}
.plate_02{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #FFFFFF;
	margin-top: 0.5rem;
	height: 15.5rem;
}
.title01{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	color: #EA4436;
	font-size: 0.45rem;
	font-weight: bold;
	text-align: center;
	padding-top: 0.2rem;
}
.title02{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	margin: auto;
	font-size: 0.4rem;
	color: #333333;
	font-weight: bold;
	padding-top: 0.2rem;
}
.imagebox{
	width: 0.6rem;
	height: 0.4rem;
	display: inline-block;
}
.titlebox{
	width: 5rem;
	height: 0.6rem;
	line-height: 0.6rem;
	display: inline-block;
}
.form{
	width: 100%;
	height: 1.5rem;
	margin: auto;
	line-height: 1.5rem;
	border-bottom: 1px solid #E4E6E9;
}
.form_cmt{
	width: 100%;
	height: 4rem;
	margin: auto;
	border-bottom: 1px solid #E4E6E9;
}
.project_cmt{
	width: 100%;
	height: 3rem;
	border: 1px solid #E4E6E9;
	font-size: 0.4rem;
}
.form_01{
	width: 90%;
	height: 1rem;
	padding-top: 0.5rem;
	margin-left: 5%;
	margin-right: 5%;
}

.form_title{
	display:inline-block;
	width:2rem;
	text-align:left;
	font-size: 0.4rem;
}

.form_text{
	width: 5.5rem;
	height: 0.6rem;
	line-height: 0.6rem;
	border: none;
	font-size: 0.4rem;
}
.positive{
	width: 2rem;
	height: 2rem;
	border: 1px dotted #CCCCCC;
	float: left;
	margin-left: 0.125rem;
	margin-top: 0.5rem;
}
.unpositive{
	width: 2rem;
	height: 2rem;
	border: 1px dotted #CCCCCC;
	float: left;
	margin-left: 0.125rem;
	margin-right: 0.125rem;
	margin-top: 0.5rem;
}
.handIdentity{
	width: 2rem;
	height: 2rem;
	border: 1px dotted #CCCCCC;
	float: left;
	margin-right: 0.125rem;
	margin-top: 0.5rem;
}
.pictureContainer{
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: #FFFFFF;
}
.pictureContainer .viewPicture{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*border: 1px dashed #b4bed3;*/
    border-radius: 5px;
}

.uploadText{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.4rem;
    color: #999999;
}
.uploadText img{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}
.dis{
	display: block;
}
.undis{
	display: none;
}
.warn{
	width: 100%;
	height: 2rem;
	font-size: 0.3rem;
	color: #999999;
	margin-top: 1rem;
}
.warn_img{
	width: 0.6rem;
	height: 0.6rem;
	display: block;
	float: left;
}
.warn_info{
	width: 90%;
	height: 2rem;
	display: block;
	float: right;
}
.operation{
	width: 100%;
	height: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}
.operation button{
	width: 5rem;
	height: 1rem;
	font-size: 0.45rem;
	color: #FFFFFF;
	background-color: #EA4436;
	border-radius: 0.1rem;
	border: none;
}
.success_box{
	width: 9rem;
	height: 8rem;
	text-align: center;
}
.sbanner{
	width: 3rem;
	height: 3.1rem;
	margin: 1rem auto;
}
.sbanner img{
	width: 100%;
	height: 100%;
}
.sinfo{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	color: #333333;
	font-size: 0.5rem;
	font-weight: bold;
	text-align: center;
}
.sdetail{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	color: #666666;
	font-size: 0.4rem;
	text-align: center;
}
.sdetail a{
	color: #2AAB6A;
	text-decoration: none;
}
.layui-m-layer1 .layui-m-layerchild{
	width: 9rem!important;
	height: 10rem!important;
}
