*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #F7F9FC;
}
ul,li{
	list-style: none;
}
.dua_box{
	width: 100%;
}
.dua_banner{
	width: 100%;
	height: 6rem;
	position: relative;
}
.slideImg{
	width: 100%;
	height: 6rem;
	object-fit: cover;
}
.banner_words{
	width: 90%;
	height: 1.8rem;
	position: absolute;
	top: 5.4rem;
	margin-left: 5%;
	margin-right: 5%;
	background: url(../img/banner_box.png) no-repeat;
	background-size: 100% 100%;
}
.words{
	width: 6rem;
	height: 1.8rem;
	line-height: 0.6rem;
	padding-left: 2.5rem;
}
.title_01{
	font-size: 0.5rem;
	font-weight: bold;
	color: #333333;
	padding-top: 0.2rem;
}
.title_small{
	font-size: 0.3rem;
	color: #999999;
	width: 6rem;
}
.content_01{
	width: 90%;
	/*height: 3.6rem;*/
	margin-top: 1.5rem;
	margin-bottom: 0.3rem;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #FFFFFF;
}
.statistics{
	width: 100%;
	height: 2rem;
}
.statistics_left{
	width: 50%;
	height: 2rem;
	float: left;
	text-align: center;
}
.statistics_right{
	width: 50%;
	height: 2rem;
	float: left;
	text-align: center;
}
.money_larger{
	font-size: 0.5rem;
	font-weight: bold;
	color: #EA4436;
}
.times_larger{
	font-size: 0.5rem;
	font-weight: bold;
	color: #2AAB6A;
}
.statics01{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
}
.statics01 span{
	width: 0.8rem;
	height: 0.5rem;
	display: block;
	float: left;
}
.statics02{
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	color: #333333;
	font-size: 0.35rem;
}
.donate_list{
	width: 100%;
	height: 1.2rem;
	font-size: 0.35rem;
	color: #999999;
	overflow: hidden;
}
.donate_list li{
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
}
.money_default{
	color: #EA4436;
}
.list_left{
	width: 70%;
	height: 0.6rem;
	display: block;
	float: left;
	padding-left: 0.5rem;
}
.list_right{
	width: 30%;
	height: 0.6rem;
	display: block;
	float: left;
	text-align: right;
	padding-right: 0.5rem;
}
.content_02{
	width: 90%;
	height: 2.6rem;
	background-color: #FFFFFF;
	margin: 0.3rem auto;
}
.content_title{
	width: 90%;
	height: 1rem;
	line-height: 1rem;
	margin: 0 auto;
	color: #333333;
	font-size: 0.45rem;
	font-weight: bold;
	border-bottom: 1px solid #E4E6E9;
}
.donate_rank{
	width: 90%;
	height: 1rem;
	margin: 0 auto;
	line-height: 1rem;
}
.donate_rank_title{
	width: 2.5rem;
	height: 1rem;
	float: left;
	font-size: 0.35rem;
	color: #666666;
	margin-top: 0.3rem;
}
.donate_rank_list{
	width: 5.2rem;
	height: 1rem;
	line-height: 1rem;
	float: left;
	margin-top: 0.3rem;
	padding-left: 0.3rem;
}
.donate_rank_list li{
	width: 1rem;
	height: 1rem;
	display: block;
	float: left;
	border-radius: 50%;
	text-align: center;
	font-size: 0.5rem;
	font-weight: bold;
	color: #E2E2E2;
	padding-top: 0.05714rem;
	padding-left: 0.05714rem;
}
.topone{
	background: url(../img/topone.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
.toptwo{
	background: url(../img/toptwo.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
.topthree{
	background: url(../img/topthree.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
.topone img{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 1px solid #FBE34F;
}
.toptwo img{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 1px solid #FCB560;
}
.topthree img{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 1px solid #B4D2DD;
}
.topfour img{
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
}
.content_03{
	width: 90%;
	background-color: #FFFFFF;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0.3rem;
	padding-top: 0.2rem;
	padding-bottom: 0.3rem;
}
.project_title{
	width: 90%;
	height: 0.4rem;
	line-height: 0.4rem;
	padding-left: 5%;
	color: #333333;
	font-size: 0.4rem;
	font-weight: bold;
	border-left:3px solid #EA4436;;
}
.project_content{
	width: 90%;
	color: #666666;
	font-size: 0.35rem;
	padding-top: 0.2rem;
	margin: 0.2rem auto;
	border-top: 1px solid #E4E6E9;
}
.project_record_title{
	width: 7rem;
	height: 1.2rem;
}
.project_record_title01{
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.35rem;
	color: #333333;
	font-weight: bold;
}
.project_record_title02{
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.3rem;
	color: #333333;
	font-weight: bold;
}
.footer{
	width: 90%;
	height: 1.5rem;
	margin-top: 1rem;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #FFFFFF;
}
.footer_left{
	width: 2rem;
	height: 1.5rem;
	float: left;
	text-align: center;
	color: #333333;
	font-size: 0.35rem;
	cursor: pointer;
}
.footer_right{
	width: 7rem;
	height: 1.5rem;
	line-height: 1.5rem;
	float: right;
	text-align: right;
}
.footer_right img{
	width: 6rem;
	height: 1.2rem;
	cursor: pointer;
}
.raise_01{
	width: 33.33%;
	height: 1.8rem;
	text-align: center;
	float: left;
	padding-top: 0.5rem;
}
.raise_price{
	font-size: 0.35rem;
	color: #666666;
}
.raise_money{
	font-size: 0.45rem;
	font-weight: bold;
	color: #333333;
}
.troggle{
	height: 1.6rem;
	overflow: hidden;
}
.upordown{
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	margin-top: 0.3rem;
}
.project_title_left{
	width: 4.5rem;
	height: 100%;
	display: block;
	float: left;
}
.project_title_right{
	width: 3rem;
	height: 100%;
	display: block;
	float: left;
	color: #666666;
	font-size: 0.3rem;
	text-align: right;
}
.project_title_right a {
	color: #666666 !important;
}
.record_box{
	width: 100%;
}
.record_more{
	width: 90%;
	margin: 0 auto;
	padding-top: 0.5rem;
}
.layui-m-layer1 .layui-m-layerchild{
	width: 9rem!important;
	height: 12rem!important;
}

/**
分享页面样式
 */
.share_box{
	width: 9rem;
	height: 12rem;
	margin: 0 auto;
	background: url(../img/layer_bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.head_img_box{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	position: relative;
}
.head_img_box img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	left: 3.5rem;
	top: 3rem;
}
.dua_user_info{
	width: 100%;
	height: 1.5rem;
	line-height: 0.8rem;
	text-align: center;
	margin-top: 3.5rem;
	font-size: 0.4rem;
	color: #333333;
}
.dua_statics{
	width: 6rem;
	height: 1.5rem;
	font-size: 0.4rem;
	color: #999999;
	margin-left: 1.5rem;
}
.dua_statics01{
	width: 3rem;
	height: 100%;
	float: left;
	display: block;
	text-align: center;
	line-height: 0.8rem;
}
.dua_number{
	font-size: 0.6rem;
	color: #EA4436;
	font-weight: bold;
}
.dua_footer{
	width: 8rem;
	height: 2rem;
	position: absolute;
	bottom: 0.5rem;
}
.dua_left{
	width: 2rem;
	height: 2rem;
	float: left;
}
.dua_left img{
	width: 100%;
	height: 100%;
}
.dua_right{
	width: 5rem;
	height: 2rem;
	float: left;
	padding-left: 0.5rem;
	font-size: 0.4rem;
	color: #999999;
	padding-top: 0.5rem;
}
.layui-timeline-item{
	padding-bottom: 0 !important;
}