.rptManageInLive{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.rptManageInLive .rptManageInLive-head{
    padding: 10px 40px;
    background-color:#e5e8ee;
}

.rptManageInLive-head .rptManageBtnList{
    list-style: none;
    padding: 0px;
}

.rptManageInLive-head .rptManageBtnList >li{
    height: 34px;
    margin-right: 30px;
    float: left;
    line-height: 34px;
}

.rptManageInLive-head .rptManageBtnList .downloadfilebtn{
    float: right;
}
/*111111111111111111111111111111111111111111111111111111111111111111111111*/

.liveInRptList,.preview-img {
    list-style: none;
    padding: 0px;
    display: table;
}

.liveInRptList .picbar .pic {
    width: 376px;
    height: 212px;
    overflow: hidden;
}

.liveInRptList > li {
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #e2e7f6;
}

.liveInRptList .picbar .pic img {
    width: 100%;
}

.liveInRptList .picbar {
    position: relative;
}

.liveInRptList .title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    line-height: 40px;
    padding: 0 6px;
    color: #fff;
}

.liveInRptList .msgbar {
    padding: 6px 6px 6px 0px;
    color: #aaa;
    overflow: hidden;
}

.liveInRptList .msgbar .creater {
    max-width: 110px;
}

.liveInRptList .msgbar-common {
    float: left;
    display: inline-block;
    background: 0 0;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
}

.liveInRptList .msgbar-time {
    padding: 0;
}

.liveInRptList .msgbar a {
    height: 38px;
    line-height: 38px;
    float: right;
    padding: 0 5px;
    color: #1a9fff;
    cursor: pointer;
}

.liveInRptList .textContent {
    width: 376px;
    padding: 6px 12px;
    height: 212px;
    font-size: 14px;
    line-height: 28px;
    background-color: #ebeef3;
    color: #666;
    overflow: auto;
}

.liveInRptList video{
    width: 100%;
    height: 100%;
}
.liveInRptList audio{
    width: 100%;

}

.rptManageInLive-body{
    height: 90%;
    padding: 30px 40px;
    overflow-y: scroll;
}

.blackBtn .iconfont{
    font-size: 25px;
}

.blackBtn .iconfont:hover,.rptManageBtnList .select-all-Btn:hover{
    color: #1a9fff;
    cursor: pointer;
}

.liveInRptList .Topcheckbox{
    padding: 6px 6px;
    width: 27px;
    height: 27px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
}

.liveInRptList .Topcheckbox input{
    width: 15px;
    height: 15px;
    padding: 0px;
    margin: 0px;
}