@CHARSET "UTF-8";
body {
	/*background-color: #FFFFFF;*/
	font-family: "微软雅黑";
	font-size: 12px;
}
.bigger-125 {
  font-size: 100% !important;
}
.bigger-110 {
  font-size: 100% !important;
}
.btn {
  padding: 1px 4px;
  font-size: 12px;
  line-height: 1.22857143;
}
.space10{
	height:2px;
	width:100%;
}
.ui-jqgrid .ui-jqgrid-pager {
  line-height: 15px;
  height: 36px;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  border-bottom: 1px solid #E1E1E1 !important;
  border-top: 1px solid #E1E1E1 !important;
  border-left: 1px solid #E1E1E1 !important;
  border-right: 1px solid #E1E1E1 !important;
}
.ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
  height: 29px !important;
}
.ui-jqgrid .ui-jqgrid-htable th div {
  padding-top: 5px;
  padding-bottom: 5px;
}
.widget-header {
  min-height: 30px;
  height: 30px;
  font-size: 14px;
  color:#000000;
  font-weight:800
}
.widget-header>.widget-title {
    line-height: 30px;
    font-size: 14px;
      color:#000000;
      font-weight:800
}
/*表格编辑窗口标题栏高度*/
.ui-jqdialog .ui-widget-header {
    min-height: 30px;
    font-size: 14px;
      color:#000000;
      font-weight:800
}
.ui-jqdialog .ui-widget-header .ui-jqdialog-title {
    line-height: 30px;
   font-size: 14px;
     color:#000000;
     font-weight:800
}
.ui-jqdialog-content td.EditButton {
    padding: 5px;
}
.ui-jqdialog-content td.navButton {
    padding-bottom: 3px;
    padding-top: 3px;
}
.ui-dialog .ui-dialog-buttonpane {
    margin-top: .5em;
    padding: .0em .0em .0em .0em; 
}
.ui-button-text-only .ui-button-text {
    padding: 1px 1px;
}
.widget-header-pd{
	padding-top:7px
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    padding: 1px 1px 1px; 
    font-size: 12px;
}
.page-content {
  background-color: #fff;
  position: relative;
  margin: 0;
  padding: 8px 10px 10px;
}
.widget-toolbar {
    display: inline-block;
    padding: 0 10px;
    line-height: 28px;
    float: right;
    position: relative;
}
.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: hidden;
    position: relative;
    height: 28px;
}

.ui-jqgrid .tree-plus {

}
.ui-jqgrid .tree-minus {

}
.ui-jqgrid .tree-leaf {

}
.center{
	text-align:center
}

.validatebox-invalid {
    background-image: url('null');
    background-repeat: no-repeat;
    background-position: right center;
    border-color: #ffa8a8;
    background-color: #fff3f3;
    color: #000;
}
.ui-dialog .ui-dialog-titlebar, .ui-jqdialog .ui-dialog-titlebar, .ui-dialog .ui-jqdialog-titlebar, .ui-jqdialog .ui-jqdialog-titlebar {
    background-color: #F1F1F1;
    font-size: 14px;
    color: #669fc7;
    padding: 0;
}
.ui-dialog .ui-dialog-buttonpane button, .ui-jqdialog .ui-dialog-buttonpane button, .ui-dialog .ui-jqdialog-buttonpane button, .ui-jqdialog .ui-jqdialog-buttonpane button {
     font-size: 12px; 
}
.profile-group-title {
	line-height: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-bottom: 4px;
        border-bottom: 1px solid #CCC;
        font-weight:800;
        font-size:14px;
}

.profile-bg {
	background: #fff;
}

.profile-info-value {
	background: #FFFFFF;
}
.profile-longtext {
    border: 0px solid #fff;
}
.editable-click {
    border-bottom: 0px dashed #fff;
}
/**dataTable*/
.checkboxitem {
	width: 120px;
	height: 20px;
	float: left;
	margin: 2px 2px 2px;
}
.dataTables_wrapper .row:first-child {
     padding-top: 1px;
     padding-bottom: 0px;
    background-color: #FFFFFF;
}
.dataTables_wrapper .row:last-child {
     border-bottom: 0px;
     padding-top: 1px;
     padding-bottom: 1px;
     background-color: #FFFFFF;
}
.dataTables_paginate {
    text-align: right;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 1px 5px 1px 5px;
    line-height: 1.42857143;
    text-decoration: underline;
    color: blue;
    background-color: #ffffff;
    border: 0px solid #ddd;
    margin-left: -1px;
}
.dataTables_info {
    font-size: 12px;
}
.pagination>li.disabled>a, .pager>li.disabled>a, .pagination>li.disabled>a:hover, .pager>li.disabled>a:hover {
    background-color: #FFFFFF;
    border-color: #d9d9d9;
    z-index: auto;
}
.pagination>li.active>a, .pagination>li.active>a:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: blue;
    text-shadow: null;
    z-index: 2;
}
.dataTables_wrapper label {
    display: inline-block;
    font-size: 12px;
}
.input-sm {
    height: 20px;
    padding: 2px 2px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.center{
    text-align:center;
}
.dataTables_length select {
    width: 70px;
    height: 20px;
    padding: 2px 3px;
}
/*****end dataTable***/
.header-title {
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
    font-weight:800;
    font-size:14px;
}
.header-title-jqgrid {
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
    font-weight:800;
    font-size:14px;
    color:#000000;
    margin-right: 30px;

}
.header-title-custom {
    line-height: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #CCC;
    font-weight:800;
    font-size:14px;
}
.labelItem{
	width: 180px;
	height: 38px;
	float: left;
	margin: 4px 4px 4px;
}
.labelItemHeader{
	font-weight:800;
	font-size:14px;
}
.div-left{ float:left;width:90%;}
.div-right{ float:right;width:10%;}

.ui-jqgrid .ui-jqgrid-pager {
    background-color: #ffffff !important;
}
.EditTable {
   background-color: #ffffff;
}
.widget-header {
    background: #ffffff;
     background-image: -webkit-linear-gradient();
     background-image: linear-gradient();
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient();
}
.ui-jqdialog-content .FormData {
     border-bottom: 0px dotted #E8E8E8;
}
.ui-jqgrid .ui-jqgrid-labels {
    background: #fff;
    background-image: -webkit-linear-gradient();
   background-image: linear-gradient();
     background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient();
}
.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td {
    border-color: #ddd;
}
.ui-jqgrid .ui-jqgrid-labels th {
    border-right: 1px solid #ddd !important;
    text-align: left !important;
}
.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary{
    background-color: #fff;

}
.ui-jqgrid .ui-jqgrid-bdiv {
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
}
.ui-jqgrid-btable .ui-widget-content.ui-state-highlight {
    background-color: #C8D046;
}
.ui-dialog .ui-dialog-buttonpane, .ui-jqdialog .ui-dialog-buttonpane, .ui-dialog .ui-jqdialog-buttonpane, .ui-jqdialog .ui-jqdialog-buttonpane {
    background-color: #ffffff;
}
.panel-header {
    background-color: #ffffff;
     background: -webkit-linear-gradient();
    background: -moz-linear-gradient();
    background: -o-linear-gradient();
     background: linear-gradient();
    filter: progid:DXImageTransform.Microsoft.gradient();
}
.profile-user-info-striped {
     border: 0px solid #ddd;
}
.profile-user-info-striped .profile-info-name {
     color: #000000;
     background-color: #fff;
     border-top: 0px solid #ddd;
}

.profile-info-name {
    text-align: right;
    padding: 6px 10px 6px 4px;
    font-weight: normal;
    color: #000000;
    background-color: transparent;
     border-top: 0px dotted #ddd;
    display: table-cell;
    width: auto;
    vertical-align: middle;
}

.profile-user-info-striped .profile-info-value {
     border-top: 0px dotted #ddd;
    padding-left: 1px;
}
.profile-info-value {
     background: #FFFFFF;
}
.profile-info-value {
    display: table-cell;
    padding: 6px 4px 6px 6px;
    border-top: 0px dotted #ddd;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #576373;
    border-color: #c5d0dc;
    border-top: 1px solid #c5d0dc;
    border-bottom-color: #fff;
    background-color: #fff;
    z-index: 1;
    line-height: 18px;
     margin-top: 0px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
}
.nav-tabs>li>a, .nav-tabs>li>a:focus {
    border-radius: 0 !important;
    border-color: #c5d0dc;
    background-color: transparent;
    color: #999;
    margin-right: -1px;
    line-height: 18px;
    position: relative;
}

.table>thead>tr {
    color: #000000;
    font-weight: normal;
    background: #fff;
    background-image: -webkit-linear-gradient();
    background-image: linear-gradient();
    background-repeat: null;
    filter: progid:DXImageTransform.Microsoft.gradient();
}
input[readonly] {
    color: #000000;
    background: #fff !important;
    border: 0px solid #fff;
    cursor: default;
}
.ui-jqgrid-view>.ui-jqgrid-titlebar {
    height: 25px;
    line-height: 25px;
    padding: 0;
    font-size: 14px;
     background-image: -webkit-linear-gradient();
   background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient();
    border-bottom: 1px solid solid;
    color: #000000;
    min-height: 25px;
}
.ui-dialog, .ui-jqdialog {
       border: 1px solid #999;
       border: 1px solid rgba(0,0,0,.2);
       border-radius: 0px;
       -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
       box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
th[aria-selected=true] {
    background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient();
}
input[type="checkbox"].ace.ace-switch + .lbl::after {
    font-family: "Open Sans";
    content: "III";
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0px;
    color: rgb(170, 170, 170);
    text-shadow: none;
    background-color: rgb(255, 255, 255);
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    position: absolute;
    top: -2px;
    left: -3px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    border-radius: 100%;
    transition: left 0.3s ease;
}
.ui-jqdialog-content .FormGrid {
    margin: 0;
    padding: 15px 15px 15px 15px;
}
.dataTable>thead>tr>th.sorting_desc, .dataTable>thead>tr>th.sorting_asc {
     background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient();
}
.ui-jqgrid .ui-jqgrid-hdiv {
    overflow-x: '';
}
.ui-jqgrid tr.jqgrow td {
  white-space: normal !important;
  height:auto;
  vertical-align:text-top;
  padding-top:1px;
  word-break:break-all;
 }