*{
	padding: 0;
	margin: 0;
}
body{
	background: #F8F9F9;
	font-family:PingFang-SC-Medium;
}
ul,li{
	list-style: none;
}
.index{
	width: 10rem;
	height: 100%;
	margin: 0 auto;
}
.search{
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	height: 1.88rem;
}
.serach-input{
	width: 96%;
	height: 1.066666rem;
	border-radius: 0.133333rem;
	border: none;
	outline: none;
	background: #F5F6F7;
	position: relative;
	color: #373F53;
	font-size: 0.4rem;
	padding-left: 2%;
	padding-right: 2%;
}
.icon-search{
	width: 0.4rem;
	height: 0.4rem;
	position: relative;
    bottom: 1.3rem;
    left: 4rem;
}
.search-title{
	font-size: 0.346666rem;
	color: #ABAEB9;
	padding-left: 0.266666rem;
	position: relative;
    bottom: 1.4rem;
    left: 3.6rem;
}
.box{
	width: 100%;
	height: auto;
	background: #FFFFFF;
	margin-bottom: 0.266666rem;	
}
.list{
	width: 100%;
	height: auto;
}
.row{
	width: auto;
	height: 1.6rem;
}
.row{
	content: '';
	clear: both;
	display: block;
}
.rb{
	border: 1px solid #F8F9F9;
}
.title01{
	width: 82%;
	height: 100%;
	line-height: 1.6rem;
	float: left;
	font-size: 0.506666rem;
	font-weight: bold;
	color: #373F53;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	padding-left: 4%;
	padding-right: 4%;
}
.title02{
	width: 82%;
	height: 100%;
	line-height: 1.6rem;
	float: left;
	font-size: 0.453333rem;
	color: #373F53;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	padding-left: 4%;
	padding-right: 4%;
}
.option{
	width: 4%;
	height: 100%;
	float: left;
	text-align: right;
	padding-right: 4%;
}
.icon-down{
	width: 0.346666rem;
	height: 0.2rem;
}
.icon-up{
	width: 0.2rem;
	height: 0.346666rem;
}
.header{
	width: 1.066666rem;
	height: 1.066666rem;
	border-radius: 0.533333rem;
	float: left;
	margin-top: 0.266666rem;
	margin-right: 0.266666rem;
}
.username{
	width: auto;
	height: auto;
	display: block;
	line-height: 1.6rem;
	float: left;
	font-size: 0.453333rem;
	color: #373F53;
}
.mobile{
	font-size: 0.453333rem;
	color: #ABAEB9;
	float: right;
	font-family:PingFang-SC-Medium;
}
.item-left{
	width: 46%;
	height: 100%;
	padding-left: 4%;
	float: left;
	text-align: left;
}
.item-right{
	width: 36%;
	height: 100%;
	line-height: 1.6rem;
	text-align: right;
	float: left;
}
.item-call{
	width: 10%;
	height: 100%;
	padding-right: 4%;
	text-align: right;
	float: left;
}
.item-call img{
	width: 0.64rem;
	height: 0.64rem;
	margin-top: 0.48rem;
}
.title{
	height: 1.213333rem;
	line-height: 1.213333rem;
	padding-left: 4%;
	color: #ABAEB9;
	font-size: 0.4rem;
}
