.cover{
        width: 320px;
        height: 180px;
        object-fit: cover;
}	
.image-box {
	display: inline-block;
	position: relative;
    float:left;padding:5px;
}
.image-box .delete {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
}
