<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="viewport" content="user-scalable=no">
    <link rel="stylesheet" href="../../weui/weui.min.css"/>
    <link rel="stylesheet" href="../../weui/jquery-weui.min.css"/>
    <title>$!{o.title}</title>
    <script>
         var pages=$!{o.pages};
         var total=$!{o.total};
    </script>
</head>
<body ontouchstart>
<div class="weui-pull-to-refresh__layer">
    <div class='weui-pull-to-refresh__arrow'></div>
    <div class='weui-pull-to-refresh__preloader'></div>
    <div class="down">下拉刷新</div>
    <div class="up">释放刷新</div>
    <div class="refresh">正在刷新</div>
</div>
$!{o.text}
<footer>
    <h2 style="text-align:center">$!{o.title}</h2>
</footer>
<script src="../../weui/jquery-2.1.4.js"></script>
<script src="../../weui/jquery-weui.min.js"></script>
<script src="../../weui/fastclick.js"></script>
<script src="../../js/index.js"></script>
</body>
</html>