* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: MicrosoftYaHei;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: DigifaceWide;
    src: url('../font/DIGIFAW.TTF');
}

body {
    color: #333;
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-width: 1666px;
    min-height: 1000;
    overflow: hidden;
}

.chart-wrappers {
    height: 280px;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid #4167E2;
    position: relative;
    margin: 0 0px 20px;
}

.chart-angle {
    height: 14px;
    width: 14px;
    position: absolute;
}

.chart-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent #00FFFF transparent;
}

.chart-triangle-right {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
    -moz-transform: rotate(45deg);
    top: -22px;
    right: -22px;
}

.chart-triangle-left {
    transform: rotate(-45);
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Safari and Chrome */
    -o-transform: rotate(-45deg);
    /* Opera */
    -moz-transform: rotate(-45deg);
    top: -22px;
    left: -22px;
}

.chart-view {
    width: 100%;
    height: 100%;
    background: rgba(13, 29, 73, .5);
}

.chart-view .chart-title {
    background: url(../img/titlebg.png) no-repeat;
    height: 35px;
    width: 254px;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: -1px;
}

.chart-view .chart-title span {
    font-size: 24px;
    color: rgba(221, 223, 252, 1);
    line-height: 35px;
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*vertical-align:middle;*/
}

.chart-angle-right-mark {
    border-right: 2px solid #00FFFF;
    right: -1px;
}

.chart-angle-left-mark {
    border-left: 2px solid #00FFFF;
    left: -1px;
}

.chart-angle-top-mark {
    border-top: 2px solid #00FFFF;
    top: -1px;
}

.chart-angle-bottom-mark {
    border-bottom: 2px solid #00FFFF;
    bottom: -1px;
}

.right-wrappers {
    width: 440px;
    padding-right: 40px;
}

.right-wrappers .chart-view .chart-style {
    height: 240px;
    width: 100%;
}

.left-wrappers {
    width: 440px;
    padding-left: 40px;
}

.left-wrappers .chart-wrappers .chart-view video {
    width: 373px;
    height: 211px;
    margin: 15px auto 0 auto;
    display: block;
}

.body-div {
    display: flex;
}

.body-div::after {
    content: '';
    clear: left
}

.head-div .title {
    background: url(../img/title3.png) no-repeat;
    background-size: 100% 100%;
    height: 86px;
    width: 1920px;
    margin: 0 auto;
}

.head-div .title .title-font {
    font-size: 58px;
    color: #007eff;
    line-height: 80px;
    text-align: center;
    font-weight: 600;
    text-shadow: 0px 5px 0px #142161;
    letter-spacing: 5px;
}

.head-div .title span {
    font-size: 22px;
    font-family: DigifaceWide;
    color: rgba(255, 255, 255, 1);
    float: right;
    margin-right: 126px;
}

.head-div {
    margin-bottom: 60px;
}

.mid-contrainer {
    flex: 1;
    padding: 0 10px;
    position: relative;
}

.mid-contrainer .top-module {
    min-width: 100%;
    display: table;
}

.mid-contrainer .top-module > div {
    padding-left: 20px;
    width: 33.3%;
    float: left;
}

.mid-contrainer .top-module span {
    font-size: 28px;
    font-weight: bold;
    color: rgba(1, 240, 255, 1);
}

.mid-contrainer .top-module .number {
    width: 250px;
    height: 67px;
    border: rgba(65, 103, 226, 1) solid 1px;
    margin-top: 10px;
}

.mid-contrainer .top-module .gauge-transfinite {
    height: 170px;
}

.mid-contrainer .top-module .number ul li {
    font-size: 47px;
    float: left;
    font-family: DigifaceWide;
    line-height: 5px;
    padding-top: 6px;
    padding-left: 9px;
}

.mid-contrainer .top-module .number ul li::after {
    content: '';
    display: block;
    width: 43px;
    height: 23px;
    background: rgba(4, 19, 52, 1);
    margin-left: -4px;
    margin-top: 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mid-contrainer .top-module .number ul li::before {
    content: '';
    display: block;
    width: 43px;
    height: 23px;
    background: rgba(4, 19, 52, 1);
    margin-left: -4px;
    margin-bottom: -1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.mid-contrainer .bottom-module {
    width: 100%;
    height: 710px;
}

.font-red {
    color: #FF0018;
}

.font-yellow {
    color: rgba(255, 241, 0, 1);
}

.tooltip-map {
    background-color: rgba(65, 103, 226, 0.1);
    border: 0px;
    min-width: 197px;
    height: 210px;
    border-radius: 10px;
    overflow: hidden;
}

.tooltip-map .tooltip-title {
    width: 100%;
    height: 20%;
    background: rgba(29, 32, 136, 1);
}

.tooltip-map .tooltip-title span {
    padding: 0 20px;
    margin: 0 auto;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    height: 100%;
    line-height: 42px;
    display: block;
}

.tooltip-map .tooltip-warp {
    width: 100%;
    height: 55%;
    border-bottom: 1px solid #4167E2;
    font-size: 14px;
    padding: 0px 20px;
}

.tooltip-map .tooltip-warp p {
    padding-top: 10px;
    margin: 0px;
}

.tooltip-map .tooltip-warp p::after {
    content: '';
    clear: both;
    display: block;
}

.tooltip-map .tooltip-warp p .msg {
    float: left;
}

.tooltip-map .tooltip-warp p .infobtn {
    float: right;
}

.tooltip-map .tooltip-xc {
    width: 100%;
    height: 25%;
}

.tooltip-map .tooltip-xc a {
    display: block;
    width: 100%;
    height: 52px;
    line-height: 50px;
    text-align: center;
}

.tooltip-map a {
    font-size: 14px;
    color: rgba(0, 255, 255, 1);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: RGBA(170, 206, 255, 0.1);
}

.modal .modal-content {
    background-color: transparent;
    border: none;
}

.modal .modal-content .modal-title {
    font-size: 26px;
    color: #01EBFA;
    line-height: 40px;
    margin-top: 75px;
    background-color: #1D2088;
    padding: 10px 30px;
}

.modal .modal-content .modal-table,
.modal .modal-content .modal-video {
    background-color: #1D2088;
    color: #f4f4f4;
    padding: 0 30px 10px;
}

.modal .modal-content .modal-video {
    height: 650px;
}

.modal .modal-content .modal-video video {
    width: 100%;
    height: 100%;
}

.modal .modal-content .modal-table .table td {
    border: none;
}

.modal .modal-content .modal-table .thead-wrappers {
    height: 58px;
    background: rgba(65, 103, 226, 1);
    font-size: 20px;
    color: rgba(4, 17, 66, 1);
    margin-right: 5px;
}

.modal .modal-content .modal-table .thead-wrappers tr {
    background: none;
}

.modal .modal-content .modal-table .tbody-wrappers .table thead td {
    padding: 0px !important;
}

.modal .modal-content .modal-table .tbody-wrappers {
    height: 660px;
    overflow-y: auto;
}

#scrollbar::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

#scrollbar::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #aaceff;
}

#scrollbar::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #1D2088;
}

.modal .modal-content .close-btn {
    width: 76px;
    height: 76px;
    background: #090B28;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 67px;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    border: 2px solid RGBA(0, 60, 255, 1);
    font-size: 45px;
    cursor: pointer;
    color: #333;
}

.modal .modal-content .close-btn:hover {
    color: #f4f4f4;
    background: none;
    font-size: 60px;
    background: rgba(9, 11, 40, .8);
}

.modal .modal-lg {
    max-width: 1100px;
}

.table {
    margin-bottom: 0px !important;
}

.right-tooltip {
    color: #f4f4f4;
    position: absolute;
    right: 40px;
    bottom: -380px;
    width: 200px;
    height: 380px;
    background-color: rgba(65, 103, 226, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.right-tooltip h4 {
    text-align: center;
    line-height: 50px;
}

.right-tooltip .tooltip-title {
    width: 100%;
    height: 50px;
    background: #f00;
}

.right-tooltip .tooltip-warp {
    padding: 10px 10px 0px;
}

#targetDiv.move {
    bottom: 0px;
    opacity: 1;
}