package com.huacainfo.ace.fundtown.service.impl;


import java.util.Date;
import java.util.List;
import com.huacainfo.ace.common.tools.GUIDUtil;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import com.huacainfo.ace.common.model.UserProp;
import com.huacainfo.ace.common.result.MessageResponse;
import com.huacainfo.ace.common.result.PageResult;
import com.huacainfo.ace.common.result.SingleResult;
import com.huacainfo.ace.common.tools.CommonUtils;
import com.huacainfo.ace.fundtown.dao.$!{bean.name}Dao;
import com.huacainfo.ace.fundtown.model.$!{bean.name};
import com.huacainfo.ace.portal.service.DataBaseLogService;
import com.huacainfo.ace.fundtown.service.$!{bean.name}Service;
import com.huacainfo.ace.fundtown.vo.$!{bean.name}Vo;
import com.huacainfo.ace.fundtown.vo.$!{bean.name}QVo;
@Service("$!{bean.lowerName}Service")
/**
* @author: $!{annotation.authorName}
* @version: $!{annotation.version}
* @Description:  TODO($!{bean.tableChineseName})
*/
public class $!{bean.name}ServiceImpl implements $!{bean.name}Service {
Logger logger = LoggerFactory.getLogger(this.getClass());
@Autowired
private $!{bean.name}Dao $!{bean.lowerName}Dao;
@Autowired
private DataBaseLogService dataBaseLogService;

/**
*
* @Title:find!{bean.name}List
* @Description:  TODO($!{bean.tableChineseName}分页查询)
* @param:        @param condition
* @param:        @param start
* @param:        @param limit
* @param:        @param orderBy
* @param:        @throws Exception
* @return:       PageResult
<$!{bean.name}Vo>
    * @throws
    * @author: $!{annotation.authorName}
    * @version: $!{annotation.version}
    */
    @Override
    public PageResult
    <$!{bean.name}Vo> find$!{bean.name}List($!{bean.name}QVo condition, int start,
        int limit, String orderBy) throws Exception {
        PageResult
        <$!{bean.name}Vo> rst = new PageResult<>();
            List
            <$!{bean.name}Vo> list = this.$!{bean.lowerName}Dao.findList(condition,
                start, start + limit, orderBy);
                rst.setRows(list);
                if (start <= 1) {
                int allRows = this.$!{bean.lowerName}Dao.findCount(condition);
                rst.setTotal(allRows);
                }
                return rst;
                }

                /**
                *
                * @Title:insert$!{bean.name}
                * @Description: TODO(添加$!{bean.tableChineseName})
                * @param: @param o
                * @param: @param userProp
                * @param: @throws Exception
                * @return: MessageResponse
                * @throws
                * @author: $!{annotation.authorName}
                * @version: $!{annotation.version}
                */
                @Override
                public MessageResponse insert$!{bean.name}($!{bean.name} o, UserProp userProp) throws Exception {

                $!{bean.validate}

                int temp = this.$!{bean.lowerName}Dao.isExit(o);
                if (temp > 0) {
                return new MessageResponse(1, "$!{bean.tableChineseName}名称重复！");
                }

                o.setId(GUIDUtil.getGUID());
                o.setCreateDate(new Date());
                o.setStatus("1");
                o.setCreateUserName(userProp.getName());
                o.setCreateUserId(userProp.getUserId());
                this.$!{bean.lowerName}Dao.insertSelective(o);
                this.dataBaseLogService.log("添加$!{bean.tableChineseName}", "$!{bean.tableChineseName}", "",
                o.getId(),o.getId(), userProp);

                return new MessageResponse(0, "添加$!{bean.tableChineseName}完成！");
                }

                /**
                *
                * @Title:update$!{bean.name}
                * @Description: TODO(更新$!{bean.tableChineseName})
                * @param: @param o
                * @param: @param userProp
                * @param: @throws Exception
                * @return: MessageResponse
                * @throws
                * @author: $!{annotation.authorName}
                * @version: $!{annotation.version}
                */
                @Override
                public MessageResponse update$!{bean.name}($!{bean.name} o, UserProp userProp) throws Exception {
                $!{bean.validate}

                o.setLastModifyDate(new Date());
                o.setLastModifyUserName(userProp.getName());
                o.setLastModifyUserId(userProp.getUserId());
                this.$!{bean.lowerName}Dao.updateByPrimaryKeySelective(o);
                this.dataBaseLogService.log("变更$!{bean.tableChineseName}", "$!{bean.tableChineseName}", "",
                o.getId(), o.getId(), userProp);

                return new MessageResponse(0, "变更$!{bean.tableChineseName}完成！");
                }

                /**
                *
                * @Title:select$!{bean.name}ByPrimaryKey
                * @Description: TODO(获取$!{bean.tableChineseName})
                * @param: @param id
                * @param: @throws Exception
                * @return: SingleResult<$!{bean.name}>
                * @throws
                * @author: $!{annotation.authorName}
                * @version: $!{annotation.version}
                */
                @Override
                public SingleResult
                <$!{bean.name}Vo> select$!{bean.name}ByPrimaryKey(String id) throws Exception {
                    SingleResult
                    <$!{bean.name}Vo> rst = new SingleResult<>();
                        rst.setValue(this.$!{bean.lowerName}Dao.selectVoByPrimaryKey(id));
                        return rst;
                        }

                        /**
                        *
                        * @Title:delete$!{bean.name}By$!{bean.name}Id
                        * @Description: TODO(删除$!{bean.tableChineseName})
                        * @param: @param id
                        * @param: @param userProp
                        * @param: @throws Exception
                        * @return: MessageResponse
                        * @throws
                        * @author: $!{annotation.authorName}
                        * @version: $!{annotation.version}
                        */
                        @Override
                        public MessageResponse delete$!{bean.name}By$!{bean.name}Id(String id, UserProp userProp) throws
                        Exception {
                        this.$!{bean.lowerName}Dao.deleteByPrimaryKey(id);
                        this.dataBaseLogService.log("删除$!{bean.tableChineseName}", "$!{bean.tableChineseName}",
                        String.valueOf(id),
                        String.valueOf(id), "$!{bean.tableChineseName}", userProp);
                        return new MessageResponse(0, "$!{bean.tableChineseName}删除完成！");
                        }

                        }
