package com.huacainfo.ace.fundtown.vo;

import com.huacainfo.ace.fundtown.model.$!{bean.name};


public class $!{bean.name}Vo extends $!{bean.name} {
private static final long serialVersionUID = 1L;
}
