<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>常德市非公有制经济公共服务平台</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/common_index.css" />
		<link href="css/nav.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular/angular.min.js"></script>
        <script type="text/javascript" src="/portal/system/getUserProp.do"></script>
		<link rel="shortcut icon" href="images/favicon.ico">
   </head>

	<body   ng-app="angularjsApp" ng-controller="angularjsCtrl">
		<div id="header"></div>
		<div class="main">
			<div class="content_box">
				<div class="content">
					<!--公告栏区域-->
					<div class="banner_box">
						<div class="banner">
							<div class="banner_image">
								<div id="myCarousel" class="carousel slide" data-ride="carousel">
									<!-- 轮播（Carousel）指标 -->
									<ol class="carousel-indicators">
										<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
										<li data-target="#myCarousel" data-slide-to="1"></li>
										<li data-target="#myCarousel" data-slide-to="2"></li>
										<li data-target="#myCarousel" data-slide-to="3"></li>
									</ol>
									<!-- 轮播（Carousel）项目 -->
									<div class="carousel-inner">
										<div class="item active" ng-click="showBannerInfo(0);">
											<img ng-src="http://zx.huacainfo.com/{{notice_slices[0].coverUrl}}" style="width: 100%;height: 100%;object-fit: cover;" alt="First slide">
											<div class="slice_title"><span class="slice_title_01"  ng-cloak>{{notice_slices[0].title}}</span></div>
										</div>
										<div class="item" ng-click="showBannerInfo(1);">
											<img ng-src="http://zx.huacainfo.com/{{notice_slices[1].coverUrl}}" style="width: 100%;height: 100%;object-fit: cover;" alt="Second slide">
											<div class="slice_title"><span class="slice_title_01" ng-cloak>{{notice_slices[1].title}}</span></div>
										</div>
										<div class="item" ng-click="showBannerInfo(2);">
											<img ng-src="http://zx.huacainfo.com/{{notice_slices[2].coverUrl}}" style="width: 100%;height: 100%;object-fit: cover;" alt="Third slide">
											<div class="slice_title"><span class="slice_title_01" ng-cloak>{{notice_slices[2].title}}</span></div>
										</div>
										<div class="item" ng-click="showBannerInfo(3);">
											<img ng-src="http://zx.huacainfo.com/{{notice_slices[3].coverUrl}}" style="width: 100%;height: 100%;object-fit: cover;" alt="Third slide">
											<div class="slice_title"><span class="slice_title_01" ng-cloak>{{notice_slices[3].title}}</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="banner_menu">
								<ul>
									<li class="menu-b menu-a">领导之窗</li>
									<li class="menu-a" onclick="window.open('/fop/www/html/leader/shiwei_index.html')">
										常德市委
									</li>
									<li class="menu-a" onclick="window.open('/fop/www/html/leader/zhengfu_index.html')">
										常德市政府
									</li>
									<li class="menu-a" onclick="window.open('/fop/www/html/leader/shirenda_index.html')">
										常德市人大
									</li>
									<li class="menu-a" onclick="window.open('/fop/www/html/leader/shizhengxie_index.html')">
										常德市政协
									</li>
								</ul>
							</div>
						</div>
						<div class="notice">
							<div class="notice_box">
								<span class="title" style="width: 220px;">市情要闻\工作动态</span>
								<a class="link" href="html/information/information_index.html" target="_blank">更多>></a>
								<div style="clear: both;"></div>
							</div>
							<div class="notice_list">
								<table border="0" cellpadding="0" cellspacing="0">
									<tr ng-repeat="temp in notice_list" ng-click="showInfo($index);" class="change">
										<td width="80%" align="left" class="text01" ng-bind="temp.title"></td>
										<td width="20%" align="right" class="text02" ng-bind="temp.releaseDate | formatDate"></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!--菜单面板区域-->
				<div class="menu_panel">
					<div class="menu_panel_01">
						<ul>
							<li class="left policy" onclick="window.open('/fop/www/html/policy/policy.html')">
								<span class="menu_img"><img class="image" src="images/icon-policy.png"/></span>
								<span class="menu_title">政策信息</span>
							</li>
							<li class="left investment" onclick="window.open('/fop/www/html/investment/investment.html')">
								<span class="menu_img"><img class="image" src="images/icon-investment.png"/></span>
								<span class="menu_title">招商信息</span>
							</li>
							<li class="left personnel" onclick="window.open('/fop/www/html/personnel/personnel.html')">
								<span class="menu_img"><img class="image" src="images/icon-personnel.png"/></span>
								<span class="menu_title">人才信息</span>
							</li>
							<li class="left project" onclick="window.open('/fop/www/html/cooperation/cooperation_index.html')">
								<span class="menu_img"><img class="image" src="images/icon-project.png"/></span>
								<span class="menu_title">项目信息</span>
							</li>
							<li class="left finance" onclick="window.open('/fop/www/html/finance/product.html')">
								<span class="menu_img"><img class="image" src="images/icon-finance.png"/></span>
								<span class="menu_title">金融产品</span>
							</li>
							<li class="left product" onclick="window.open('/fop/www/html/product/product.html')">
								<span class="menu_img"><img class="image" src="images/icon-product.png"/></span>
								<span class="menu_title">企业产品</span>
							</li>
							<li class="left style" onclick="window.open('/fop/www/html/corporateStyle/costyle.html')">
								<span class="menu_img"><img class="image" src="images/icon-style.png"/></span>
								<span class="menu_title">企业风采</span>
							</li>
							<li class="left sincerity" onclick="window.open('/fop/www/html/sincerity/sincerity.html')">
								<span class="menu_img"><img class="image" src="images/icon-sincerity.png"/></span>
								<span class="menu_title">诚信建设</span>
							</li>
						</ul>
					</div>
				</div>

				<!--品牌推广-->
				<div class="product_box">
					<div class="product_title">
						<span class="title">品牌推广</span>
						<a class="link" style="margin-right: 15px;" href="html/band/band.html" target="_blank">更多>></a>
						<div style="clear: both;"></div>
					</div>
					<div class="product_list">
						<ul>
							<li class="left" ng-repeat="band in bands" ng-click="showBrand($index);">
								<img ng-src="http://zx.huacainfo.com/{{band.fileUrl}}" />
								<span ng-cloak>{{band.title}}</span>
							</li>
						</ul>
					</div>
				</div>

				<!--在线服务、共享窗口、留言箱-->
				<div class="help_box">
					<div class="online_box">
						<div class="online_box_title">
							<span class="title">在线服务</span>
							<div style="clear: both;"></div>
						</div>
						<div class="online_content">
							<ul style="padding-top: 15px;">
								<li onclick="window.open('/fop/www/html/gov_service/gov_service1.html')">
									<span class="online_img"><img src="images/icon-gov.png"/></span>
									<span class="online_title">政企服务</span>
								</li>
								<li onclick="window.open('/fop/www/html/finance/finance.html')">
									<span class="online_img"><img src="images/icon-bank.png"/></span>
									<span class="online_title">银企服务</span>
								</li>
								<li onclick="window.open('/fop/www/html/law/lawer_index.html')">
									<span class="online_img"><img src="images/icon-law.png"/></span>
									<span class="online_title">法律服务</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="share_box">
						<div class="share_box_title">
							<span class="title">共享窗口</span>
							<div style="clear: both;"></div>
						</div>
						<div class="share_content">
							<div class="share_title">
								<div class="left_opt" id="prevTop"><span class="glyphicon glyphicon-chevron-left" ng-click="pre();"></span></div>
								<div class="share_menu" id="listBox">
									<ul id="myTab" class="nav nav-pills">
										<li ng-if="$index == 0" class="active" ng-repeat="share in shares"><a href="#{{share.id}}" data-toggle="tab">{{share.title}}</a></li>
										<li ng-if="$index > 0" ng-repeat="share in shares"><a href="#{{share.id}}" data-toggle="tab">{{share.title}}</a></li>
									</ul>
								</div>
								<div class="right_opt" id="nextTop"><span class="glyphicon glyphicon-chevron-right" ng-click="next();"></span></div>
								<div style="clear: both;"></div>
							</div>
							<div id="myTabContent"  class="share tab-content">
									<div  ng-repeat="temp in shares" ng-if="$index == 0" class="tab-pane fade in active" id="{{temp.id}}">
										<ul class="alink">
											<li ng-repeat="item in (temp.child)"><span></span><a href="{{item.url}}" target="_blank">{{item.content}}</a> </li>
										</ul>
									</div>
									<div ng-repeat="temp in shares" ng-if="$index > 0" class="tab-pane fade" id="{{temp.id}}">
										<ul class="alink">
											<li ng-repeat="item in (temp.child)"><span></span><a href="{{item.url}}" target="_blank">{{item.content}}</a> </li>
										</ul>
									</div>

							</div>
						</div>
					</div>
					<div class="message_box">
						<div class="message_box_title">
							<span class="title">留言箱</span>
							<div style="clear: both;"></div>
						</div>
						<div class="message_content">
							<div class="message_01"><img src="images/msg.png" /></div>
							<div class="message_02 weixin" onmouseover="this.className = 'message_02 weixin on';" onmouseout="this.className = 'message_02 weixin';">
								<span><img src="images/icon-opinion.png"/></span>
								<span>意见直通车</span>
								<div class="weixin_nr">
									<div class="arrow"></div>
									<img src="images/weixin/weixin.png" width="100%" height="100%" />
									关注官方微信
								</div>
							</div>
							<div class="message_03" onclick="window.open('/fop/www/html/satisfy/satisfy.html')">
								<span><img src="images/icon-satify.png"/></span>
								<span>满意度调查</span>
							</div>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>

				<!--GIS地图-->
				<div class="map">
					<div class="map_title">
						<span class="title">GIS地图</span>
					</div>
					<div style="clear: both;"></div>
					<div class="map_content" id="mapgis">

					</div>
					<div class="company_list">
						<div class="list_more">更多>>
						</div>
						<div class="lists">
							<ul>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
								<li>湖南华彩伟业网络科技有限公司</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-include="'html/common/footer.html'"></div>
		<!--<script type="text/javascript" src="/portal/system/getUserProp.do"></script>-->
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/share.json.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script type="text/javascript" src="js/echarts.min.js"></script>
		<script type="text/javascript" src="js/china-main-city-map.js"></script>
		<script type="text/javascript" src="js/echartmap.js"></script>
	</body>

</html>