body{
    min-width: 900px;
    background-color: #fff;
}
.product_container{
    width: 100%;
    height: 228px;
    border: 1px solid #E1E5ED;
    margin-top: 30px;
    padding: 20px;
}
.content_container{
    width: 94%;
    height: 100%;
}
.img_container{
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3%;
}
.words_container{
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    color: #C3CBD6;
    overflow: hidden;
    position: relative;
}

.words_container .createDate {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px;
}

.words_container .cp_remark {
    display: block;
    width: 100%;
    height: 100px;
    line-height: 28px;
    padding-top: 8px;
}

.img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.words_container .cp_title {
    color: #1A56A8;
    font-size: 30px;
    font-weight: bolder;
}

.submit{
    width: 80px;
    height: 35px;
    background-color: #1A56A8;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}
.product_form {
    width: 80%;
    margin: auto;
}

.product_table {
    width: 100%;
}

.product_table tr {
    height: 62px;
    /*line-height: 62px;*/
}

.required {
    color: red;
}

.pictureContainer{
    position: relative;
    width: 240px;
    height: 135px;
    margin: 5px;
    cursor: pointer;
    border: 1px dashed #b4bed3;
}
.pictureContainer .viewPicture{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*border: 1px dashed #b4bed3;*/
    border-radius: 5px;
}

.uploadText{
    position: absolute;
    top:0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF;
}
.uploadText img{
    margin: auto;
}


